<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <confirm-dialog
            :isDelete="isOpen"
            @deleteRequest="removeFaculty"
            @closeDelete="closeModal"
        />
        <div class="row my-4 mx-2">
            <div class="col-lg-12 fac">
                <div class="card">
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">
                                Yuridik ta'lim fakultetlari
                            </h4>

                            <div class="right">
                                <!-- <div class="input-search-z mx-2">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button>
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div> -->

                                <nuxt-link
                                    class="btn-add btn btn-primary"
                                    :to="{
                                        name: 'legaleducation-faculty-add-id',
                                        params: { id: $route.params.id }
                                    }"
                                    >Qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 250px">Fakultet</th>
                                        <th style="width: 200px">Dekan</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-for="item in news" :key="item.id">
                                    <tr>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {{ item.dean }}
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'legaleducation-faculty-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openModal(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import confirmDialog from "../../../components/Delete.vue";
export default {
    name: "User",

    id: null,
    data: () => ({
        news: null,
        isOpen: false
    }),
    components: {
        confirmDialog
    },
    methods: {
        async getFacultyById() {
            let news = await this.$axios.$get(
                "/technical-school-faculty/all/" + this.$route.params.id
            );
            this.news = news.data;
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openModal(id) {
            this.id = id;
            this.isOpen = true;
        },

        closeModal() {
            this.isOpen = false;
        },

        async removeFaculty(id) {
            const response = await this.$axios.$delete(
                `technical-school-faculty/delete/${this.id}`
            );
            if (response.success) {
                this.$toast.success("Fakultet ochirildi");
                this.getFacultyById();
            } else {
                this.$toast.error("Xatolik yuz berdi");
            }
        }
    },
    async mounted() {
        this.getFacultyById();
    }
};
</script>

<style lang="scss">
.fac {
    td {
        padding: 10px !important;
    }
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}

tbody {
    .action-btn {
        i {
            padding: 3px;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:nth-child(2) {
        margin-right: 5px;
        i {
            background-color: #4c4ce9;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
        a {
            //   background: lightgreen;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            margin-right: 5px;
        }
    }
}

.buttons {
    margin-left: 10px;
}

.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
