<template>
    <div class="statistics" style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12 logus">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title mb-4">Rss obunachilar</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered  mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Email</th>

                                        <th>Ip</th>
                                        <th>Holat</th>
                                        <th style="text-align: center;">
                                            Vaqt
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user">
                                        <td>{{ user.email }}</td>

                                        <td>
                                            {{ user.ip }}
                                        </td>
                                        <td style="max-width: 350px;">
                                            <p v-if="user.isActive == true">Aktivlashtirilgan </p>
                                            <p v-if="user.isActive == false">Aktivlashtirilmagan </p>
                                        </td>
                                      
                                        <td>
                                            {{ user.createdAt.slice(0, 10) }}
                                            {{ user.createdAt.slice(11, 16) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <v-pagination
                            v-model="page"
                            :length="count"
                            :color="'#F43F1A'"
                            @input="setPage"
                             :total-visible="10"
                        ></v-pagination>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Foydalanuvchilar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        page: 1,
        count: 1,
        limit: 20,

        users: null
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        // dateFormat(date) {
        //     let date1 = dateformat(date, " dd mm yyyy HH:MM");
        //     return date1;
        // },
        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `/rss/get?page=${this.page}&limit=${this.limit}`
                );
                this.users = users.data;
            } catch (e) {
                console.log(e);
            }
        }
    },

    async mounted() {
        let users = await this.$axios.$get(
            `/rss/get?page=1&limit=${this.limit}`
                );
                 this.users = users.data;
             console.log('users',users)
            // this.count = 3
        // if (response.success) {
            // this.users = response.data;
            this.count = Math.ceil(users.count / this.limit);
            // this.count = 2
            console.log("res", users);
        // }
    }
};
</script>

<style lang="scss" scoped>
.logus {
    .user-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(15, 11, 11, 0.589);
        z-index: -5;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        opacity: 0;
    }
    .user-modal {
        z-index: -5;
        margin-bottom: 8rem;
        border-radius: 8px;
        background: white;
        transition: transform 0.5s ease;
        padding: 2rem;
    }

    .black-opacity {
        z-index: 500;
        opacity: 1;
        position: fixed;
    }
    .showModal {
        transform: translateY(3rem);
        z-index: 1000;
        opacity: 1;
    }
    #cancel-icon {
        cursor: pointer;
    }
    td {
        p {
            margin-bottom: 0;
        }
    }
    tbody td {
        padding: 5px !important;
        height: 25px;
    }
    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
