<template>
    <div  class="container-fluid">
   
    <userTable />
    </div>
</template>

<script>
import userTable from '../../components/userTable.vue'        
 export default {
     
     components: {
         userTable
     }
 }
 
</script>

<style  scoped>
.container-fluid {
background-color: #F5F6F8;
height: 100vh;
}
.btn-add {
margin: 20px;
}


</style>