<template>
    <div class="wrapper" style="height: 100vh; background-color: #f5f6f8">
        <div style="" class="faculty row my-4 mx-2">
            <div class="d-flex justify-content-end"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <h5>Telefon raqam</h5>
                    <input
                        v-model="faculty.phone"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="form-group">
                    <h5>Email</h5>
                    <input
                        v-model="faculty.email"
                        type="text"
                        class="form-control mb-3"
                    />
                </div>
            </div>
            <div
                class="col-md-2 d-flex justify-content-center align-items-center"
            >
                <v-col md="4" class="rasm mt-3" lg="5">
                    <div class="hidden-lg-and-down">
                        <input
                            @change="uploadImage"
                            class="image-input"
                            ref="imgFile"
                            type="file"
                            accept="image/png, image/jpeg, image/bmp"
                        />
                    </div>

                    <button @click="imageLoad" class="choose">
                        <div v-if="faculty.photo">
                            <img
                                :src="$store.state.uploads + faculty.photo"
                                alt=""
                            />
                        </div>
                        <div v-else class="d-flex flex-column">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="50"
                                height="40"
                                viewBox="0 0 38 37"
                                fill="none"
                            >
                                <path
                                    d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                    fill="#29A0E3"
                                />
                            </svg>
                            Rasm
                        </div>
                    </button>
                </v-col>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <h5>Professorlar soni</h5>
                    <input
                        v-model="faculty.professors"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-3">
                    <h5>Phd soni</h5>
                    <input
                        v-model="faculty.phd"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-3 my-0">
                    <h5>Dss soni</h5>
                    <input
                        v-model="faculty.dsc"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-3 my-0">
                    <h5>O'qituvchilar soni</h5>
                    <input
                        v-model="faculty.teachers"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 my-0">
                    <h5>Bakalavrlar soni</h5>
                    <input
                        v-model="faculty.bachelor"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-3 my-0">
                    <h5>Magistratura soni</h5>
                    <input
                        v-model="faculty.magistracy"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-3 my-0">
                    <h5>Doktarantular soni</h5>
                    <input
                        v-model="faculty.doctoral"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-3 my-0">
                    <h5>Talabalar soni</h5>
                    <input
                        v-model="faculty.students"
                        type="number"
                        class="form-control mb-3"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 my-0">
                    <h5>Fakultet nomi</h5>
                    <input
                        v-model="faculty.name"
                        type="text"
                        class="form-control mb-3"
                    />
                </div>
                <div class="col-md-12 my-0">
                    <h5>Dekan</h5>
                    <input
                        v-model="faculty.dean"
                        type="text"
                        class="form-control mb-3"
                    />
                </div>

                <div class="col-md-12">
                    <h5>Vaqti</h5>
                    <input
                        v-model="faculty.time"
                        type="text"
                        class="form-control mb-3"
                    />
                </div>

                <div class="col-md-12">
                    <h5>Tavsif</h5>
                    <tinymce v-model="faculty.description" id="d3"></tinymce>
                </div>

                <div class="d-flex justify-content-end mt-3 ">
                    <button @click="updateFaculty" class="btn btn-primary">
                        Qo'shish
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        faculty: {
            // name: "",
            // dean: "",
            // time: "",
            // lang: "",
            // photo: "",
            // phone: "",
            // email: "",
            // professors: "",
            // phd: "",
            // dsc: "",
            // teachers: "",
            // bachelor: "",
            // magistracy: "",
            // doctoral: "",
            // students: "",
            // description: ""
        }
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        async getFacultyById() {
            let news = await this.$axios.$get(
                "/technical-school-faculty/" + this.$route.params.id
            );
            this.faculty = news.data;
            console.log('a',faculty)
        },

        imageLoad() {
            this.$refs.imgFile.click();
        },

        async uploadImage() {
            const file = this.$refs.imgFile.files[0];
            const fd = new FormData();
            fd.append("file", file);
            const response = await this.$axios.$post("/file/upload", fd);
            console.log(response);
            if (response.success) {
                this.$toast.success("Rasm yuklandi");
                this.faculty.photo = response.data.path;
                console.log('image',this.faculty.photo)
            }
        },
        async updateFaculty() {
            const data = {
                ...this.faculty
            };
            console.log(data);
            const response = await this.$axios.$put(
                `/technical-school-faculty/update/${this.$route.params.id}`,
                data
            );
            if (response.success) {
                this.$toast.success("Fakultet ozgartirildi");
                this.$router.back();
            } else {
                this.$toast.success("Malumotlarni to'liq kiriting");
            }
        }
    },

    async mounted() {
        this.getFacultyById();
    }
};
</script>

<style lang="scss">
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.file-input,
.image-input {
    display: none;
}

.wrapper {
    padding: 2rem;
}
.faculty {
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 130px;
        height: 130px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        img{
            width: 100%;
            object-fit: cover;
        }

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
