<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="">Test qo'shish</h1>
                        </div>
                    </div>

                    <div
                        class="ques-div"
                        v-for="(question, i) in questions"
                        :key="i"
                    >
                        <div>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>{{ i + 1 }}-Savol</p>
                                    <textarea
                                        name=""
                                        class="form-control"
                                        id=""
                                        cols="30"
                                        rows="3"
                                        v-model="question.question"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div
                            v-for="(answer, index) in question.answer"
                            :key="index"
                            class="mt-5 pa-2"
                        >
                            <v-row class="">
                                <v-col md="1" class="comon">
                                    <p>check</p>
                                    <input
                                        type="radio"
                                        :name="`question${i}`"
                                        v-model="answer.isTrue"
                                        class="radio "
                                        @change="clickinput(i, index)"
                                        :value="true"
                                    />
                                </v-col>
                                <v-col md="3" lg="6">
                                    <p>Javob</p>
                                    <input
                                        class="form-control"
                                        v-model="answer.answer"
                                    />
                                </v-col>

                                <v-col md="2" lg="2" class=" comon">
                                    <p>ss</p>
                                    <v-btn
                                        color="red lighten-2"
                                        v-if="question.answer.length > 2"
                                        @click="substructThisAnswer(i, index)"
                                        class="white--text "
                                        ><v-icon>mdi-minus</v-icon></v-btn
                                    >
                                </v-col>

                                <div class="mt-4 d-flex justify-content-end">
                                    <v-col class=" d-flex justify-content-end">
                                        <v-btn
                                            v-if="
                                                question.answer.length - 1 ===
                                                    index
                                            "
                                            @click="addNewAnswer(i)"
                                            class="addanswerbtn"
                                            ><v-icon left>mdi-plus</v-icon
                                            >Javob</v-btn
                                        >
                                    </v-col>
                                </div>
                            </v-row>
                        </div>
                        <div class="mt-4 ">
                            <div class="col d-flex justify-content-end">
                                <v-btn
                                    color="red lighten-2"
                                    v-if="questions.length > 1"
                                    @click="substructThisQuestion"
                                    class="white--text "
                                    ><v-icon>mdi-minus</v-icon>Savol</v-btn
                                >
                            </div>
                        </div>
                    </div>

                    <div class="btns">
                        <button
                            @click="addNewQuestion()"
                            class="addquesbtn btn "
                        >
                            <v-icon left>mdi-plus</v-icon>Savol
                        </button>
                        <button class="otmen btn">Bekor qilish</button>
                        <button class="btn" @click="create">Qo'shish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        questions: [
            {
                theme: "",
                question: "",
                lang: "uz",
                position: 0,
                answer: [
                    {
                        answer: "",
                        isTrue: true
                    },
                    {
                        answer: "",
                        isTrue: false
                    }
                ]
            }
        ],
        material: {
            tags: []
        },
        lang: "uz",
        token: "",
        tag: [],

        picker: "",
        tab: null,
        lesson: "",
        answers: [
            {
                answer: "",
                isCorrect: false
            }
        ],

        // image: null,
        description: "",
        descriptionTwo: ""
    }),
    methods: {
        changeLang() {
            this.questions.forEach(item, index => {
                this.questions[index].lang = this.lang;
            });
        },
        addQuestion(index) {
            if (this.questions[0].question.length == 0) {
                return this.$toast.error("Savolni kiriting!!!");
            }

            if (this.questions[0].answer[0].answer.length == 0) {
                return this.$toast.error("Javobni kiriting!!!");
            }

            if (this.questions[0].answer[1].answer.length == 0) {
                return this.$toast.error("Javobni kiriting!!!");
            }

            if (!index) index = 0;
            let question = this.questions[index].question;
            let position = index + this.$route.query.length + 1;
            alert(this.$route.query.length);
            this.$axios
                .$post("/quiz-question/add", {
                    question,
                    position,
                    theme: this.themeId
                })
                .then(res => {
                    if (res.success) {
                        this.addAnswer(res.data, index);
                    }
                });
        },

        addAnswer(id, index) {
            let answers = this.questions[index].answers;
            answers.forEach((answer, index) => {
                answer.question = id;
                answer.position = index + this.$route.query.length + 1;
            });

            console.log(answers);
            this.$axios.$post("/quiz-answer/add", answers).then(res => {
                if (res.success) {
                    console.log(res);
                    if (index == this.questions.length - 1) {
                        this.$router.push("/admin/themes");
                    } else {
                        this.indexQuestion = this.indexQuestion + 1;
                        this.addQuestion(this.indexQuestion);
                    }
                }
            });
        },

        clickinput(questionIndex, answerIndex) {
            this.questions[questionIndex].answer.forEach(answer => {
                answer.isTrue = false;
            });
            this.questions[questionIndex].answer[answerIndex].isTrue = true;
        },
        addNewAnswer(i) {
            this.questions[i].answer = [
                ...this.questions[i].answer,
                {
                    isTrue: false,
                    answer: ""
                }
            ];
        },
        substructThisAnswer(i, index) {
            this.questions[i].answer.splice(index, 1);
        },
        addNewQuestion() {
            this.questions = [
                ...this.questions,
                {
                    question: "",
                    lang: this.lang,
                    answer: [
                        {
                            isTrue: true,
                            answer: ""
                        },
                        {
                            isTrue: false,
                            answer: ""
                        }
                    ]
                }
            ];
        },
        substructThisQuestion() {
            this.questions.splice(1);
        },
        async create() {
            // if (this.questions.question.length == 0) {
            //     return this.$toast.error("Savolni kiriting!!!");
            // }

            // if (this.questions.answer[0].answer.length == 0) {
            //     return this.$toast.error("Javoblarni to'liq kiriting!!!");
            // }

            // if (this.questions.answer[1].answer.length == 0) {
            //     return this.$toast.error("Javoblarni to'liq kiriting!!!");
            // }

            this.questions.forEach((item, index) => {
                item.theme = this.$route.params.id;
                item.lang = this.lang;
                item.position = this.$route.query.length + index + 1;
            });
            console.log("questions", this.questions);
            await this.$axios
                .$post("/quiz-question/add", this.questions)
                .then(res => {
                    this.$router.push({
                        name: "test-testing-id",
                        params: { id: this.$route.params.id }
                    });
                });

            const data = {
                questions: this.questions,
                theme: this.themeId
            };
        }
    }
};
</script>

<style lang="scss">
.addquesbtn {
    color: #fff !important;
    background: #5b73e8 !important;
    margin-right: 20px !important;
    padding: 10px 20px !important;
    text-transform: capitalize;
    .v-icon {
        color: #fff;
    }
}
.addanswerbtn {
    background: #79ce39 !important;
    color: #fff !important;
}
.ques-div {
    border: 1px solid #3a65df;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.comon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        opacity: 0;
    }
}
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .otmen {
        background-color: #666666;
        margin-right: 20px;
    }
    button {
        padding: 10px 20px;
        color: #fff;

        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.tab {
    margin-top: 30px;
    width: 410px;
    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;
        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
.v-date-picker-table .v-btn {
    color: #c9c9c9;
}
.dictionary-textarea {
    width: 100%;
    outline: none;
    background: #f4f4f4;
}
.delete {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 18px;
    margin: 0 auto;
    div {
        margin-top: 20px;
        display: flex;
    }
}

thead {
    .text-start {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b0b7ce;
    }
}
.text-start {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}

.v-btn--is-elevated {
    box-shadow: none !important;
}

.form {
    .rasm {
        button.choose {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            background: #fafbff;
            border: 3px dashed #cddbff;
            box-sizing: border-box;
            border-radius: 8px;
            svg {
                margin-bottom: 10px;
            }
        }
    }
}
</style>
