  td {
    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      margin-bottom: 5px;
      i{
          margin-right: 5px !important;
      }

      p {
        margin-left: 5px !important;
      }
      i.eye{
          color: #0000ff
      }

      i.up {
        color: green;
      }

      i.down {
        color: red;
      }
    }
  }
    i.up {
      color: green;
    }

    i.down {
      color: red;
    }
  .filter-wrapper {
    position: absolute;
    width: calc(100% - 250px);
    float: right;
    min-height: 100vh;
    z-index: -5;
  }

  .filter-modal {
    position: fixed;
    padding: 35px 15px 15px 15px;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    background-color: white;
    box-shadow: -8px -9px 9px -7px rgba(170, 168, 212, 0.75);
    width: 280px;
    transition: transform 0.6s ease;
  }

  .filter-btns {
    display: flex;
    justify-content: space-between;

    button {
      width: calc((100% - 10px) / 2) !important;
    }
  }

  .hide {
    transform: translateX(280px);
  }

  .show {
    transform: translateX(0);
  }

  .cancel {
    cursor: pointer;
  }
  .search{
      button.search{
          width: auto !important;
      }
  }
  select:focus-visible{
      outline: none;
  }
  select:focus{
      outline: none !important;
  }
  .search {
    margin-right: 0px !important;
    display: flex;
    align-items: center;

    input {
      height: 34px;
      border: 1px solid #999991;
      border-radius: 5px 0 0 5px !important;
      padding: 10px;

      &:focus-visible {
        outline: none;
      }
    }

    button {
      height: 34px;
      border-radius: 0 5px 5px 0;
    }
  }
  .btn:hover{
    color: #fff !important;
    background:rgba(21, 19, 51, 0.75) !important
  }