div.title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

div.title-top h4 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 18px !important;
  color: #495057;
}

td.title-td {
  max-width: 500px;
}

.v-pagination {
  padding-left: 0px !important;
  margin-bottom: 0px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.v-pagination li {
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v-pagination li button {
  background-color: #fff !important;
  color: #333 !important;
  padding: 3px 5px;
  border: 1px solid #666;
  border-radius: 3px;
  min-width: 26px;
}

.v-pagination li button.v-pagination__item--active {
  color: #fff !important;
  background-color: #50a5f1 !important;
}

div.title-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

div.title-actions .btn-title {
  padding: 5px 10px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  background-color: initial;
  border: 1px solid transparent;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  color: #fff;
}

div.title-actions .btn-title span {
  margin-left: 5px;
}

div.title-actions .btn-title .dropdown-content {
  position: absolute;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 0px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 34px;
  display: none;
}

div.title-actions .btn-title .dropdown-content .btn-action {
  padding: 5px 10px;
  color: #495057;
  width: 100%;
  text-align: left;
}

div.title-actions .btn-title .dropdown-content .btn-action:hover {
  background-color: #fafafa;
  color: #34c38f;
}

div.title-actions .btn-exports:hover div.dropdown-content {
  display: block;
}

div.title-actions .btn-exports {
  background-color: #34c38f;
}

div.title-actions .btn-filter {
  background-color: #50a5f1;
}

.apexcharts-toolbar {
  display: none !important;
}

.apexcharts-title-text {
  display: none !important;
}

.title-all {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 18px !important;
  color: #495057;
}

div.card-class {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 3px;
  height: 100%;
}

div.card-class-body {
  padding: 1rem;
}

div.input-search-z {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.input-search-z input {
  width: 150px;
  height: 35px;
  border: 1px solid #999;
  padding: 0px 10px;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

div.input-search-z input:focus {
  outline: none;
  border: 1px solid #333;
  border-right: none;
}

div.input-search-z button {
  height: 35px;
  width: 35px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #50a5f1;
}

div.input-search-z button .icon {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */