div.title-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    h4 {
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 18px !important;
        color: #495057;
    }
}

td.title-td {
    max-width: 500px;
}

.v-pagination {
    padding-left: 0px !important;
    margin-bottom: 0px;
    display: flex !important;
    justify-content: center;
    margin-top: 15px;
    li {
        display: inline-block;
        margin: 0px 5px;

        cursor: pointer;
        display: flex;
        justify-content: center;
        button {
            background-color: #fff !important;
            color: #333 !important;
            padding: 3px 5px;
            border: 1px solid #666;
            border-radius: 3px;
            min-width: 26px;
        }
    }
    li {
        button.v-pagination__item--active {
            color: #fff !important;
            background-color: #50a5f1 !important;
        }
    }
}
div.title-actions {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .btn-title {
        padding: 5px 10px;
        margin-left: 10px;
        position: relative;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        background-color: initial;
        border: 1px solid transparent;
        font-size: 0.9rem;
        border-radius: 0.25rem;
        color: #fff;

        span {
            margin-left: 5px;
        }
        .dropdown-content {
            position: absolute;
            right: 0;
            background-color: #fff;
            border-radius: 3px;
            padding: 5px 0px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            top: 34px;
            display: none;
            // width: 150px;

            .btn-action {
                padding: 5px 10px;
                color: #495057;
                width: 100%;
                text-align: left;
                &:hover {
                    background-color: rgb(250, 250, 250);
                    color: #34c38f;
                }
            }
        }
    }

    .btn-exports:hover div.dropdown-content {
        display: block;
    }

    .btn-exports {
        background-color: #34c38f;
    }
    .btn-filter {
        background-color: #50a5f1;
    }
}

.apexcharts-toolbar {
    display: none !important;
}
.apexcharts-title-text {
    display: none !important;
}
.title-all {
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 18px !important;
    color: #495057;
}

div.card-class {
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.08);
    background-color: #fff;
    border-radius: 3px;
    height: 100%;
}
div.card-class-body {
    padding: 1rem;
}

div.input-search-z {
    display: flex;
    align-items: center;
    input {
        width: 150px;
        height: 35px;
        border: 1px solid #999;
        padding: 0px 10px;
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        &:focus {
            outline: none;
            border: 1px solid #333;
            border-right: none;
        }
    }
    button {
        height: 35px;
        width: 35px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #50a5f1;
        .icon {
            color: #fff;
        }
    }
}
