body {
    background-color: #f5f6f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.dashboard-box {
    margin-top: 70px;
    padding: 25px 20px;
}

td {
    word-break: break-word;
}
.action-btn:last-child i {
    background-color: #ff0000 !important;
    color: #fff !important;
}
td:last-child a {
    padding: 0 !important;
}
td:last-child a.statistika {
    padding: 5px 10px !important;
}
td:last-child a.pad {
    padding: 5px !important;
    margin-top: 5px !important;
}
.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}

.user-modal {
    opacity: 0;
    width: 500px;
    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
    padding: 2rem;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}

.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
