<template>
    <div
        style="height: 100vh; background-color: #f5f6f8"
        class="error"
        v-if="news != null"
    >
        <div ref="blackOpacity" class="user-modal-container"></div>
        <div
            @click="isModal = false"
            :class="isModal ? 'fixvh block-fh' : 'fixvh'"
        ></div>
        <div :class="isModal ? 'my-modalDelete open-modal' : 'my-modal'">
            <div class="modalx">
                <div class="head-mod">
                    <div></div>
                    <span @click="closeModal">
                        <fa class="icon" icon="times" />
                    </span>
                </div>
                <div class="body-modal">
                    <div class="item fl">
                        <h6>Sahifadagi xatolik bo'yicha manzil:</h6>
                        <a
                            aria-disabled="true"
                            target="_blank"
                            :href="viewModal.url"
                            >Link</a
                        >
                    </div>

                    <div class="item">
                        <h6>Xato matn:</h6>

                        <h6 class="error-text">{{ viewModal.oldText }}</h6>
                    </div>
                    <div class="item">
                        <h6>Izoh:</h6>

                        <h6>{{ viewModal.newText }}</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-2">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Xatoliklar</h4>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap  mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th class="error-link">
                                            Xatolik aniqlangan sahifa
                                        </th>
                                        <th>Xato so'z</th>
                                        <th>Izoh</th>
                                        <th>Foydalanuvchi IP si</th>
                                        <th>Jo'natilgan vaqt</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        :class="item.isActive ? '' : 'noread'"
                                        v-for="item in news"
                                        :key="item.id"
                                    >
                                        <td style="max-width : 250px">
                                            <a :href="item.url" target="_blank"
                                                >link
                                                <fa
                                                    icon="external-link-alt"
                                                    style="margin-right:10px;color:blue"
                                            /></a>
                                        </td>
                                        <td class="error-text">
                                            <p>
                                                {{ item.oldText }}
                                            </p>
                                        </td>
                                        <td class="error-text">
                                            <p>
                                                {{ item.newText }}
                                            </p>
                                        </td>

                                        <td>{{ item.ip }}</td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>
                                        <td>
                                            <button @click="openModal(item)">
                                                <fa
                                                    icon="eye"
                                                    style="margin-right:10px;color:blue"
                                                />
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>

                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        isModal: false,
        url: "",
        comment: "",
        errorText: "",
        toast: false,
        viewModal: {
            oldText: "",
            newText: "",
            url: "",
            ip: "",
            time: ""
        },
        isActive: false,
        lang: "uz",
        page: 1,
        count: 1,
        limit: 20,
        search: "",
        isAddVideo: false,
        isDelete: false,
        id: "",
        link: "",
        title: "",
        id: "",
        news: null
    }),
    async mounted() {
        this.getAllVideo();
    },
    methods: {
        async openModal(item) {
            this.viewModal.oldText = item.oldText;
            this.viewModal.newText = item.newText;
            this.viewModal.url = item.url;
            this.viewModal.time = item.time;
            this.id = item.id;
            this.isModal = true;
            let news = await this.$axios.$put(`xato/${item._id}`).then(res => {
                this.getAllVideo();
            });
        },
        closeModal() {
            this.isModal = false;
        },
        async clickSearch() {
            this.page = 1;

            let news = await this.$axios.$get(
                `xato/get/?page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },
        openDelete(id) {
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/video/delete/" + this.id)
                .then(async res => {
                    this.getAllVideo();
                    // this.news = news.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        paginition() {
            this.getMaterial(this.catalog, this.page);
        },
        async getMaterial(catalog, page) {
            let news = await this.$axios.$get(
                `/xato/get/?page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },
        async getAllVideo() {
            let news = await this.$axios.$get(
                `/xato/get/?page=${this.page}&limit=${this.limit}`
            );
            this.count = Math.ceil(news.count / this.limit);
            this.news = news.data;
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `/xato/get/?page=${this.page}&limit=${this.limit}`
                );
                this.users = users.data;
            } catch (e) {
                console.log(e);
            }
        },

        async getToUpdateVideo(videoData) {
            this.isAddVideo = false;
            this.id = videoData._id;
            this.lang = videoData.lang;
            this.title = videoData.title;
            this.link = videoData.link;
            console.log(videoData);
            this.toogleModal(false);
        },
        async updateVideo() {
            const data = {
                link: this.link,
                title: this.title,
                lang: this.lang
            };
            const response = await this.$axios.$put(
                `/video/update/${this.id}`,
                data
            );
            this.getAllVideo();
            this.toogleModal(true);
        },
        getYoutubeVideoId(url) {
            // const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            // const match = url.match(regExp);

            // console.log("mactch", match);

            // return match ? match[2] : null;

            let check = url.substring(0, 23);

            if (check == "https://www.youtube.com") {
                let ind = url.indexOf("?v=");
                console.log("urkl", ind);

                let newurl = url.split("");
                let u = "";
                newurl.forEach((item, i) => {
                    if (i > ind + 2 && i < ind + 14) {
                        u = u + item;
                    }
                });

                return u;
            } else {
                return url;
            }
        },

        async createVideo() {
            const data = {
                link: this.getYoutubeVideoId(this.link),
                title: this.title,
                lang: this.lang
            };
            if (this.link.length == 0) {
                return this.$toast.error("Manzilni kiriting!!!");
            }
            if (this.title.length == 0) {
                return this.$toast.error("Sarlavhani kiriting!!!");
            }
            console.log(data);
            const response = await this.$axios.$post("/video/add", data);
            console.log(response);
            if (response.success) {
                this.toogleModal(true);
                this.$toast.success("Video qo'shildi");
                this.getAllVideo();
            } else {
                this.$toast.error("Xatolik yuz berdi");
            }
        },

        async removeVideo(id) {
            const response = await this.$axios.$delete(`/video/delete/${id}`);
            this.getAllVideo();
        },

        toogleModal(value) {
            if (value) {
                this.isAddVideo = true;
                (this.link = ""), (this.title = "");
            }

            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        }
    }
};
</script>

<style lang="scss" scoped>
.error {
    .noread {
        background: #fad8d8;
    }
    .modalx {
        padding: 20px;
        .fl {
            display: flex;
            align-items: center;
            a {
                margin-left: 30px;
                cursor: pointer;
            }
            h6 {
                margin-bottom: 0 !important;
            }
        }
        .head-mod {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            span {
                cursor: pointer;
            }
        }
        input {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            margin-top: 5px;
            border: 1px solid #999;
        }
        .btn-rss {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            button {
                background: #597ba3;
                border: 0;
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 10px;
                color: #fff;
            }
        }
    }
    div.my-modalDelete {
        background-color: #fff;
        border-radius: 10px;
        padding: 0px 0px;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 500px;
        transform: translate(-50%, -50%) scale(0);
        z-index: 2515;
        transition: 0.3s;
        .error-text {
            color: red;
        }
        div.item {
            margin-bottom: 10px;
        }
        div.body-modal {
            overflow: hidden;
            max-height: 300px;
            overflow-y: scroll;
        }
        h6 {
            font-size: 14px;
            color: #333;
        }
    }
    div.fixvh {
        position: fixed;
        z-index: 2011;
        top: 0;
        width: 100%;
        height: 100vh;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: none;
    }
    div.my-modal {
        background-color: #fff;
        border-radius: 10px;
        padding: 0px 0px;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 600px;
        transform: translate(-50%, -50%) scale(0);
        z-index: 25;
        transition: 0.3s;
    }

    .block-fh {
        display: block !important;
    }
    .open-modal {
        transform: translate(-50%, -50%) scale(1) !important;
    }
    .error-link {
        max-width: 75px;
    }
    td.error-text {
        p {
            max-width: 150px;
            max-height: 60px;
            line-height: 23px;
        }
        max-height: 60px !important;
        line-height: 20px;
        overflow: hidden;
    }
    .user-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(15, 11, 11, 0.589);
        z-index: -5;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        opacity: 0;
    }
    .user-modal {
        opacity: 0;
        width: 200px;
        z-index: -5;
        margin-bottom: 8rem;
        border-radius: 8px;
        background: white;
        transition: transform 0.5s ease;
        padding: 3rem;
    }

    .black-opacity {
        z-index: 500;
        opacity: 1;
        position: fixed;
    }
    .showModal {
        transform: translateY(3rem);
        z-index: 1000;
        opacity: 1;
    }
    #cancel-icon {
        cursor: pointer;
    }

    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 30px 0;
            // padding-right: 0;
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
