<template>
    <div
        class="statistics logs"
        style="height: 100vh; background-color: #f5f6f8"
    >
        <div class="row my-4 mx-2">
            <div class="col-lg-12 logus">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body">
                        <div class="card-el">
                            <div class="flex">
                                <div class="">
                                    <h4 class="card-title mb-4">Hodisalar</h4>
                                </div>
                                <div class="flex1">
                                    <div class="input-search-z">
                                        <input
                                            v-model="text"
                                            type="text"
                                            placeholder="Izlash..."
                                        />
                                        <button @click="searchData">
                                            <fa class="icon" icon="search" />
                                        </button>
                                    </div>
                                    <div class="title-actions">
                                        <button class="btn-exports btn-title">
                                            <fa icon="cloud-download-alt" />
                                            <span> Export</span>

                                            <div class="dropdown-content">
                                                <button
                                                    class="btn-action"
                                                    @click="ExportExcel('xls')"
                                                >
                                                    <fa icon="file-excel" />
                                                    <span> Excel</span>
                                                </button>
                                                <button
                                                    class="btn-action"
                                                    @click="createPdfFile"
                                                >
                                                    <fa icon="file-pdf" />
                                                    <span>PDF</span>
                                                </button>
                                            </div>
                                        </button>
                                        <button
                                            class="btn-filter btn-title"
                                            @click="openDelete"
                                        >
                                            <!-- <fa icon="filter" /> -->
                                            <span>Tozalash</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered  mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Login</th>

                                        <th>Bo'lim</th>
                                        <th>Nomi</th>
                                        <th>Harakat</th>
                                        <th style="text-align: center;">
                                            Vaqt
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user">
                                        <td>{{ user.user }}</td>

                                        <td>
                                            {{ user.category }}
                                        </td>
                                        <td style="max-width: 350px;">
                                            {{ user.product }}
                                        </td>
                                        <td>
                                            <p v-if="user.action == 1">
                                                Qo'shdi
                                            </p>
                                            <p v-if="user.action == 2">
                                                O'zgartirildi
                                            </p>
                                            <p v-if="user.action == 3">
                                                O'chirdi
                                            </p>
                                        </td>
                                        <td>
                                            {{ user.createdAt.slice(0, 10) }}
                                            {{ user.createdAt.slice(11, 16) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <v-pagination
                                    v-model="page"
                                    :length="count"
                                    :color="'#F43F1A'"
                                    @input="setPage"
                                    :total-visible="10"
                                ></v-pagination>
                            </div>
                        </div>
                        <!-- end table-responsive -->

                        <client-only>
                            <vue-html2pdf
                                :show-layout="false"
                                :float-layout="true"
                                :enable-download="true"
                                :paginate-elements-by-height="1400"
                                filename="pdfFile"
                                :pdf-quality="2"
                                :manual-pagination="true"
                                pdf-format="a4"
                                pdf-orientation="portrait"
                                pdf-content-width="800px"
                                ref="html2Pdf"
                            >
                                <div
                                    slot="pdf-content"
                                    ref="tableToExcel"
                                    class="tableToExcel"
                                    style="padding:2rem"
                                >
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="mt-4">
                                                Hodisalar
                                            </h4>

                                            <!-- <h6
                                                v-if="
                                                    filterData.from &&
                                                        filterData.to
                                                "
                                                class="my-1"
                                            >
                                                Davr: {{ filterData.from }} dan
                                                {{ filterData.to }} gacha
                                            </h6>
                                            <h6 v-else>Davr: Barchasi</h6>
                                            <h6 class="my-1">
                                                Til:
                                                {{
                                                    filterData.lang == "all"
                                                        ? "Barchasi"
                                                        : filterData.lang
                                                }}
                                            </h6> -->
                                        </div>
                                    </div>

                                    <div
                                        style="display:block"
                                        class="table-responsive"
                                    >
                                        <table
                                            ref="exportable_table"
                                            class="table table-centered table-nowrap mt-4"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="max-width:50px">
                                                        #
                                                    </th>
                                                    <th class="py-0 px-0">
                                                        Login
                                                    </th>
                                                    <th class="px-0 py-0">
                                                        Bo'lim
                                                    </th>
                                                    <th>
                                                        Nomi
                                                    </th>
                                                    <th>
                                                        Harakat
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(item, i) in dataex"
                                                    :key="i"
                                                >
                                                    <td style="max-width:50px">
                                                        {{ i + 1 }}
                                                    </td>
                                                    <td
                                                        style="max-width: 100px"
                                                    >
                                                        {{ item.user }}
                                                    </td>
                                                    <td
                                                        style="max-width: 100px"
                                                    >
                                                        {{ item.category }}
                                                    </td>
                                                    <td
                                                        style="max-width: 200px"
                                                    >
                                                        {{ item.product }}
                                                    </td>
                                                    <td>
                                                        <p
                                                            v-if="
                                                                item.action == 1
                                                            "
                                                        >
                                                            Qo'shdi
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.action == 2
                                                            "
                                                        >
                                                            O'zgartirildi
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.action == 3
                                                            "
                                                        >
                                                            O'chirdi
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            {{
                                                                dateFormat(
                                                                    item.createdAt
                                                                )
                                                            }}
                                                        </p>
                                                    </td>
                                                </tr>
                                                <!-- <tr style="background: #f5f6f8">
                                                    <td>Jami</td>
                                                    <td>
                                                        {{ filterDxa.length }}
                                                    </td>
                                                    <td>
                                                        <fa
                                                            icon="eye"
                                                            style="margin-right:10px;color:blue"
                                                        />
                                                        {{
                                                            filterDxa.length > 0
                                                                ? getTotalView()
                                                                : ""
                                                        }}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr style="background: #f5f6f8">
                                                    <td>Davr</td>
                                                    <td>
                                                        {{
                                                            filterData.from ==
                                                            ""
                                                                ? "Barcha"
                                                                : filterData.from
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{ filterData.to }}
                                                    </td>
                                                    <td></td>
                                                </tr> -->
                                            </tbody>
                                        </table>

                                        <!-- <div
                                            class="notfound"
                                            v-if="users.length == 0"
                                        >
                                            <p>Malumotlar mavjud emas</p>
                                        </div> -->
                                    </div>
                                </div>
                            </vue-html2pdf>
                        </client-only>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import table2Excel from "table2excel/dist/table2excel";
import XLSX from "xlsx";

export default {
    name: "User",
    head() {
        return {
            title: "Foydalanuvchilar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        isDelete: false,
        text: "",
        page: 1,
        count: 1,
        limit: 20,
        dataex: null,

        users: null
    }),
    methods: {
        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openDelete() {
            this.isDelete = true;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/home/logs/rm")
                .then(async res => {
                    let users = await this.$axios.$get(
                        `/home/logs?page=1&limit=${this.limit}`
                    );
                    this.users = users.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        async export() {
            const response = await this.$axios.$get(`/home/logs/export`);
            if (response.success) {
                this.dataex = response.data;
            }
        },
        async searchData() {
            const response = await this.$axios.$get(
                `/home/logs/search?search=${this.text}&page=1&limit=${this.limit}`
            );
            if (response.success) {
                this.users = response.data;
                this.count = Math.ceil(response.count / this.limit);
                console.log("res", this.users);
            }
        },
        // dateFormat(date) {
        //     let date1 = dateformat(date, " dd mm yyyy HH:MM");
        //     return date1;
        // },
        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `home/logs?page=${this.page}&limit=${this.limit}`
                );
                this.users = users.data;
            } catch (e) {
                console.log(e);
            }
        }
    },

    async mounted() {
        this.export();
        const response = await this.$axios.$get(
            `/home/logs?page=1&limit=${this.limit}`
        );
        if (response.success) {
            this.users = response.data;
            this.count = Math.ceil(response.count / this.limit);
            console.log("res", this.users);
        }
    }
};
</script>

<style lang="scss" scoped>
.logs {
    .tableToExcel {
        td {
            padding: 10px !important;
            justify-content: space-between;
            align-items: center;
        }
        td:last-child {
            display: unset !important;
            align-items: center;
            height: 100%;
            justify-content: center;
        }
    }
}
.card-title {
    margin-bottom: 0 !important;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex1 {
    display: flex;
    align-items: center;
}
.logus {
    .user-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(15, 11, 11, 0.589);
        z-index: -5;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        opacity: 0;
    }
    .user-modal {
        z-index: -5;
        margin-bottom: 8rem;
        border-radius: 8px;
        background: white;
        transition: transform 0.5s ease;
        padding: 2rem;
    }

    .black-opacity {
        z-index: 500;
        opacity: 1;
        position: fixed;
    }
    .showModal {
        transform: translateY(3rem);
        z-index: 1000;
        opacity: 1;
    }
    #cancel-icon {
        cursor: pointer;
    }
    td {
        p {
            margin-bottom: 0;
        }
    }
    tbody td {
        padding: 5px !important;
        height: 25px;
    }
    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
