<template>
    <div style="height: 100vh; background-color: #f5f6f8" class="test">
        <div
            class="filter-wrapper"
            :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
        >
            <div
                ref="filterModal"
                :class="
                    isOpenFilter ? 'filter-modal show' : 'filter-modal hide'
                "
            >
                <div class="filter-header d-flex justify-content-between">
                    <h4 style="letter-spacing:2px">Filter</h4>
                    <div @click="closeFilter" class="cancel material-icons ">
                        close
                    </div>
                </div>
                <div class="filter-body">
                    <div class="form-group">
                        <h6>Til</h6>
                        <select
                            class="form-select"
                            v-model="filterData.lang"
                            aria-label="Default select example"
                        >
                            <option value="all">Barchasi</option>
                            <option value="uz">Lotincha</option>
                            <option value="ru">Ruscha</option>
                            <option value="cy">Krilcha</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <h6>Turi</h6>
                        <select
                            class="form-select "
                            aria-label="Default select example"
                            v-model="filterData.catalog"
                        >
                            <option value="0">Barchasi</option>
                            <option value="1"
                                >Bog'cha tarbiyalanuvchilari uchun
                                testlar</option
                            >
                            <option value="2"
                                >Maktab o'quvchilari uchun test
                                sinovlari</option
                            >
                            <option value="3"
                                >Davlat organlari hodimlari uchun test
                                sinovlari</option
                            >
                            <option value="4"
                                >Aholining barcha qatlami uchun test
                                sinovlari</option
                            >
                        </select>
                    </div>

                    <div class="my-2">
                        <h6>Ko'rilgan</h6>
                        <select
                            class="form-select "
                            aria-placeholder="Select Lesson"
                            v-model="filterData.sort"
                        >
                            <option value="all">
                                Barchasi
                            </option>
                            <option value="up">
                                Eng ko'p ko'rilgan
                            </option>
                            <option value="down">
                                Eng kam ko'rilgan
                            </option>
                        </select>
                    </div>

                    <div class="filter-btns">
                        <button
                            @click="closeFilter"
                            class="btn btn-danger mt-3"
                        >
                            Bekor qilish
                        </button>
                        <button
                            @click="filterClick"
                            class="btn btn-primary mt-3"
                        >
                            Qidirish
                        </button>
                    </div>
                </div>
                <div class="filter-footer"></div>
            </div>
        </div>
        <div class="row my-4 mx-2">
            <div class="col-lg-12 ">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Online sinovlar</h4>

                            <div class="right">
                                <div class="input-search-z mx-2">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="searchData">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <button
                                    class="btn-filter btn-title"
                                    @click="openFilter"
                                >
                                    <fa icon="filter" /> <span>Filtr</span>
                                </button>

                                <nuxt-link
                                    class="btn-add btn btn-success mx-2  "
                                    to="/test/results"
                                    >Natijalar</nuxt-link
                                >

                                <nuxt-link
                                    class="btn-add btn btn-primary  "
                                    to="/test/create"
                                    >Qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Turi</th>
                                        <th>Tili</th>
                                        <th>Ko'rishlar soni</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="visibleDxa.length > 0">
                                    <tr
                                        v-for="item in visibleDxa"
                                        :key="item.id"
                                    >
                                        <td style="max-width: 300px !important">
                                            {{ item.title }}
                                        </td>
                                        <td style="max-width: 30%">
                                            <p v-if="item.catalog == 1">
                                                Bog'cha tarbiyalanuvchilari
                                                uchun testlar
                                            </p>
                                            <p v-if="item.catalog == 2">
                                                Maktab o'quvchilari uchun test
                                                sinovlari
                                            </p>
                                            <p v-if="item.catalog == 3">
                                                Davlat organlari hodimlari uchun
                                                test sinovlari
                                            </p>
                                            <p v-if="item.catalog == 4">
                                                Aholining barcha qatlami uchun
                                                test sinovlari
                                            </p>
                                        </td>
                                        <td>
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td>
                                            <fa
                                                icon="eye"
                                                style="margin-right:10px;color:blue"
                                            />
                                            {{ item.views }}
                                        </td>

                                        <td style="max-width: 35%">
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'test-testing-id',
                                                    params: { id: item._id }
                                                }"
                                                class="btn btn-success pad-test"
                                                >Test</nuxt-link
                                            >
                                            <nuxt-link
                                                :to="{
                                                    name: 'test-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                            ></v-pagination>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Onlayn sinovlar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        filterData: {
            lang: "all",
            catalog: 0,
            sort: "all",
            from: "",
            to: ""
        },
        test: null,
        isDelete: false,
        id: "",
        catalog: "0",
        views: "all",
        limit: 10,
        isOpenFilter: false,
        page: 1,
        count: 0,
        search: "",
        lang: "all",

        news: null,
        filterDxa: null,
        visibleDxa: null
    }),
    async mounted() {
        let news = await this.$axios.$get(`quiz-theme/admin`);
        this.news = news.data;
        this.count = Math.ceil(this.news.length / this.limit);

        this.filterDxa = this.news;

        this.visibleDxa = this.visibleData(this.page, this.limit, this.news);
    },
    methods: {
        searchData() {
            let ser = this.search.toLowerCase();

            let result = this.news;

            var condition = new RegExp(ser);

            var res = result.filter(function(item) {
                return condition.test(item.title.toLowerCase());
            });
            this.filterDxa = res;
            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        async filterClick() {
            if (
                this.filterData.lang == "all" &&
                this.filterData.sort == "all"
            ) {
                let news = await this.$axios.$get(`quiz-theme/admin`);
                this.news = news.data;
            }

            let result = this.news;
            if (this.filterData.lang != "all") {
                result = result.filter(
                    item => item.lang == this.filterData.lang
                );
            }
            console.log("A");

            console.log("news", this.news);
            if (this.filterData.sort != "all") {
                if (this.filterData.sort == "down") {
                    result.sort(function(a, b) {
                        if (a.views > b.views) {
                            return 1;
                        }
                        if (a.views < b.views) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "up") {
                    result.sort(function(a, b) {
                        if (a.views < b.views) {
                            return 1;
                        }
                        if (a.views > b.views) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }

                if (this.filterData.sort == "upf") {
                    result.sort(function(a, b) {
                        if (a.helpful < b.helpful) {
                            return 1;
                        }
                        if (a.helpful > b.helpful) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "downf") {
                    result.sort(function(a, b) {
                        if (a.helpful > b.helpful) {
                            return 1;
                        }
                        if (a.helpful < b.helpful) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
            }

            console.log("A");

            if (this.filterData.catalog != 0) {
                result = result.filter(
                    item => item.catalog == this.filterData.catalog
                );
            }

            console.log("A");

            if (
                this.filterData.from != "" &&
                this.filterData.to != "" &&
                new Date(this.filterData.from).getTime() <
                    new Date(this.filterData.to).getTime()
            ) {
                result = result.filter(
                    item =>
                        new Date(item.createdAt) <
                            new Date(this.filterData.to) &&
                        new Date(item.createdAt) >
                            new Date(this.filterData.from)
                );
            } else {
                if (
                    new Date(this.filterData.from).getTime() >=
                    new Date(this.filterData.to).getTime()
                ) {
                    alert("Sana oraliqini to'g'ri kiriting");
                }
            }

            this.filterDxa = result;

            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        visibleData(page, limit, data) {
            let result = [];
            if (data && data.length) {
                for (let i = (page - 1) * limit; i < page * limit; i++) {
                    if (i < data.length) {
                        result.push(data[i]);
                    }
                }
            }

            return result;
        },

        paginition() {
            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },
        openFilter() {
            console.log("filterFunc");
            this.isOpenFilter = true;
        },
        closeFilter() {
            this.isOpenFilter = false;
        },

        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/quiz-theme/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get(`quiz-theme/admin`);
                    this.news = news.data;
                    this.count = Math.ceil(this.news.length / this.limit);

                    this.filterDxa = this.news;

                    this.visibleDxa = this.visibleData(
                        this.page,
                        this.limit,
                        this.news
                    );
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    }
};
</script>

<style lang="scss">
.test {
    .btn-filter {
        padding: 5px 10px;
        position: relative;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        background-color: initial;
        border: 1px solid transparent;
        font-size: 0.9rem;
        border-radius: 0.25rem;
        color: #fff;
        background-color: #50a5f1;
    }
    .pad-test {
        margin-right: 5px !important;
        padding: 4px 8px !important;
    }
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn {
            min-width: 110px !important;
        }
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:nth-child(2) {
            margin-right: 5px;
            i {
                background-color: #4c4ce9;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 30px 0;
            // padding-right: 0;
            a {
                //   background: lightgreen;
                padding: 5px 10px;
                border-radius: 5px;
                color: #fff;
                margin-right: 10px;
            }
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
