<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 liter mx-2">
            <div
                class="filter-wrapper"
                :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
            >
                <div
                    ref="filterModal"
                    :class="
                        isOpenFilter ? 'filter-modal show' : 'filter-modal hide'
                    "
                >
                    <div class="filter-header d-flex justify-content-between">
                        <h4 style="letter-spacing:2px">Filter</h4>
                        <div
                            @click="closeFilter"
                            class="cancel material-icons "
                        >
                            close
                        </div>
                    </div>
                    <div class="filter-body">
                        <div class="form-group">
                            <h6>Til</h6>
                            <select
                                class="form-select"
                                aria-placeholder="Select Lesson"
                                v-model="filterData.lang"
                            >
                                <option value="all">
                                    Barchasi
                                </option>
                                <option value="uz">
                                    Lotincha
                                </option>
                                <option value="cy">
                                    Krilcha
                                </option>
                                <option value="ru">
                                    Ruscha
                                </option>
                            </select>
                        </div>
                        <div class="my-1">
                            <h6>Turi</h6>
                            <select
                                class="form-select"
                                aria-label="Default select example"
                                v-model="filterData.catalog"
                            >
                                <option value="0">Barchasi</option>
                                <option value="1"
                                    >Bog’cha tarbiyalanuvchilari uchun huquqiy
                                    qo’llanmalar</option
                                >
                                <option value="2"
                                    >Maktab o’quvchilari uchun huquqiy
                                    qo’llanmalar</option
                                >
                                <option value="3"
                                    >Maktab o’qituvchilari uchun huquqiy
                                    qo’llanmalar</option
                                >
                            </select>
                        </div>
                        <div class="my-2">
                            <h6>Saralash</h6>
                            <select
                                class="form-select "
                                aria-placeholder="Select Lesson"
                                v-model="filterData.sort"
                            >
                                <option value="all">
                                    Barchasi
                                </option>
                                <option value="upf">
                                    Eng ko'p foydali malumot
                                </option>
                                <option value="downf">
                                    Eng kam foydali malumot
                                </option>
                                <option value="up">
                                    Eng ko'p ko'rilgan
                                </option>
                                <option value="down">
                                    Eng kam ko'rilgan
                                </option>
                            </select>
                        </div>

                        <!-- <div class="my-2">
                            <h6>Ko'rilgan</h6>
                            <select
                                class="form-select "
                                aria-placeholder="Select Lesson"
                                v-model="views"
                            >
                                <option value="all">
                                    Barchasi
                                </option>

                            </select>
                        </div> -->
                        <div class="form-group mt-5">
                            <h3 style="letter-spacing:3px" class=" mt-2">
                                Davr
                            </h3>
                        </div>
                        <div class="form-group">
                            <h6>Dan</h6>
                            <input
                                v-model="filterData.from"
                                class="form-control mt-2"
                                type="date"
                            />
                        </div>
                        <div class="form-group">
                            <h6 class=" pt-2">gacha</h6>
                            <input
                                v-model="filterData.to"
                                class="form-control mt-2"
                                type="date"
                            />
                        </div>
                        <div class="filter-btns">
                            <button
                                @click="closeFilter"
                                class="btn btn-danger mt-3"
                            >
                                Bekor qilish
                            </button>
                            <button
                                @click="filterClick"
                                class="btn btn-primary mt-3"
                            >
                                Qidirish
                            </button>
                        </div>
                    </div>
                    <div class="filter-footer"></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Huquqiy adabiyotlar</h4>
                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="text"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="searchData">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <div class="title-actions">
                                    <button class="btn-exports btn-title">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                    <button
                                        class="btn-filter btn-title"
                                        @click="openFilter"
                                    >
                                        <fa icon="filter" /> <span>Filtr</span>
                                    </button>
                                </div>
                                <nuxt-link
                                    class="btn btn-primary"
                                    to="/literatures/create"
                                    >Qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Qo'shilgan vaqti</th>
                                        <th>Til</th>
                                        <th>Ko'rishlar soni</th>
                                        <th>Natijalar</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="visibleDxa.length > 0">
                                    <tr
                                        v-for="item in visibleDxa"
                                        :key="item.id"
                                    >
                                        <td style="max-width : 350px">
                                            {{ item.title }}
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>
                                        <td>
                                            <!-- {{ item.lang }} -->
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="material-icons eye"
                                                    >visibility</i
                                                >
                                                <p>
                                                    {{ item.views }}
                                                </p>
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="material-icons up"
                                                    >thumb_up</i
                                                >
                                                <p>
                                                    {{ item.helpful }}
                                                </p>
                                            </span>

                                            <span>
                                                <i class="material-icons down"
                                                    >thumb_down</i
                                                >
                                                <p>
                                                    {{ item.notHelpful }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'literatures-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>
                    </div>

                    <client-only v-if="filterDxa != null">
                        <vue-html2pdf
                            :show-layout="false"
                            :float-layout="true"
                            :enable-download="true"
                            :paginate-elements-by-height="1400"
                            filename="pdfFile"
                            :pdf-quality="2"
                            :manual-pagination="true"
                            pdf-format="a4"
                            pdf-orientation="portrait"
                            pdf-content-width="800px"
                            ref="html2Pdf"
                        >
                            <div
                                ref="tableToExcel"
                                class="table-responsive"
                                slot="pdf-content"
                                style="padding:2rem"
                            >
                                <div
                                    class="d-flex justify-content-between"
                                    v-if="filterDxa != null"
                                >
                                    <div>
                                        <h4 class="mt-4">
                                            Huquqiy adabiyotlar statistikasi
                                        </h4>

                                        <h6
                                            v-if="
                                                filterData.from && filterData.to
                                            "
                                            class="my-1"
                                        >
                                            Davr: {{ filterData.from }} dan
                                            {{ filterData.to }} gacha
                                        </h6>
                                        <h6 v-else>Davr: Barchasi</h6>
                                        <h6 class="my-1">
                                            Til:
                                            {{
                                                filterData.lang == "all"
                                                    ? "Barchasi"
                                                    : filterData.lang
                                            }}
                                        </h6>
                                    </div>
                                </div>
                                <div class="table-responsive mt-3">
                                    <table
                                        class="table table-centered table-nowrap mb-0"
                                    >
                                        <thead class="table-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Sarlavha</th>

                                                <th>Til</th>
                                                <th class="px-0">
                                                    Ko'rishlar soni
                                                </th>
                                                <th class="px-0">Yoqdi</th>
                                                <th class="px-0">Yoqmadi</th>
                                                <th style="width:140px">
                                                    Qo'shilgan vaqti
                                                </th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(item, i) in filterDxa"
                                                :key="item.id"
                                            >
                                                <td>{{ i + 1 }}</td>
                                                <td style="max-width : 350px">
                                                    {{ item.title }}
                                                </td>

                                                <td>
                                                    <!-- {{ item.lang }} -->
                                                    <p v-if="item.lang == 'uz'">
                                                        Lotin
                                                    </p>
                                                    <p v-if="item.lang == 'cy'">
                                                        Krill
                                                    </p>
                                                    <p v-if="item.lang == 'ru'">
                                                        Rus
                                                    </p>
                                                </td>

                                                <td>
                                                    <span>
                                                        <fa
                                                            icon="eye"
                                                            style="margin-right:10px;color:blue"
                                                        />
                                                        <p>
                                                            {{ item.views }}
                                                        </p>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        <fa
                                                            icon="thumbs-up"
                                                            style="margin-right:10px;color:green"
                                                        />
                                                        <p>
                                                            {{ item.helpful }}
                                                        </p>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        <fa
                                                            icon="thumbs-down"
                                                            style="margin-right:10px;color:red"
                                                        />
                                                        <p>
                                                            {{
                                                                item.notHelpful
                                                            }}
                                                        </p>
                                                    </span>
                                                </td>
                                                <td>
                                                    {{
                                                        dateFormat(
                                                            item.createdAt
                                                        )
                                                    }}
                                                </td>
                                            </tr>
                                            <tr style="background: #f5f6f8">
                                                <td>Jami:</td>
                                                <td>{{ filterDxa.length }}</td>

                                                <td></td>
                                                <td>
                                                    <fa
                                                        icon="eye"
                                                        style="margin: 0px 0px;color:blue"
                                                    />
                                                    {{
                                                        filterDxa.length > 0
                                                            ? getTotal("views")
                                                            : ""
                                                    }}
                                                </td>
                                                <td>
                                                    <div>
                                                        <h6>
                                                            <fa
                                                                icon="thumbs-up"
                                                                style="margin-right:10px;color:green"
                                                            />
                                                            {{
                                                                filterDxa.length >
                                                                0
                                                                    ? getTotal(
                                                                          "helpful"
                                                                      )
                                                                    : ""
                                                            }}
                                                        </h6>
                                                    </div>
                                                </td>

                                                <td>
                                                    <h6>
                                                        <fa
                                                            icon="thumbs-down"
                                                            style="margin-right:10px;color:red"
                                                        />
                                                        {{
                                                            filterDxa.length > 0
                                                                ? getTotal(
                                                                      "notHelpful"
                                                                  )
                                                                : ""
                                                        }}
                                                    </h6>
                                                </td>

                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                      <thead class="table-light">
                        <tr class="table-light">
                          <th class="total-td">
                            <h6 class="d-flex">
                              Jami: {{ exportData.length }}
                            </h6>
                          </th>
                          <th class=" total-td align-center">
                            <h6>
                              Jami ko'rishlar soni :
                              <fa
                                icon="eye"
                                style="margin: 0px 0px;color:blue"
                              />
                              {{ exportData.length > 0 ? getTotalView() : "" }}
                            </h6>
                          </th>
                          <th>
                            <div>
                              <h6>
                                <fa
                                  icon="thumbs-up"
                                  style="margin-right:10px;color:green"
                                />
                                {{
                                  exportData.length > 0
                                    ? getTotal("helpful")
                                    : ""
                                }}
                              </h6>
                              <h6>
                                <fa
                                  icon="thumbs-down"
                                  style="margin-right:10px;color:red"
                                />
                                {{
                                  exportData.length > 0
                                    ? getTotal("notHelpful")
                                    : ""
                                }}
                              </h6>
                            </div>
                          </th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                  </div> -->
                                </div>
                            </div>
                        </vue-html2pdf>
                    </client-only>
                </div>

                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import XLSX from "xlsx";
export default {
    name: "User",
    head() {
        return {
            title: "Huquqiy adabiyotlar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        search: "",
        exportData: "",
        news: null,
        isDelete: false,
        filterData: {
            lang: "all",
            catalog: 0,
            sort: "all",
            from: "",
            to: ""
        },
        id: "",
        id: "",
        catalog: "0",
        lang: "all",
        rank: "all",
        limit: 10,
        page: 1,
        count: 0,
        views: "all",
        search: "",
        isOpenFilter: false,
        filterDxa: null,
        visibleDxa: null
    }),
    async mounted() {
        let news = await this.$axios.$get(`literature/all`);
        this.news = news.data;
        this.count = Math.ceil(this.news.length / this.limit);

        this.filterDxa = this.news;

        console.log("ff", this.filterDxa);

        this.visibleDxa = this.visibleData(this.page, this.limit, this.news);
    },
    methods: {
        searchData() {
            let ser = this.search.toLowerCase();

            let result = this.news;

            var condition = new RegExp(ser);

            var res = result.filter(function(item) {
                return condition.test(item.title.toLowerCase());
            });
            this.filterDxa = res;
            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        async filterClick() {
            if (
                this.filterData.lang == "all" &&
                this.filterData.sort == "all"
            ) {
                let news = await this.$axios.$get(`material/all`);
                this.news = news.data;
            }

            let result = this.news;
            if (this.filterData.lang != "all") {
                result = result.filter(
                    item => item.lang == this.filterData.lang
                );
            }
            console.log("A");

            console.log("news", this.news);
            if (this.filterData.sort != "all") {
                if (this.filterData.sort == "down") {
                    result.sort(function(a, b) {
                        if (a.views > b.views) {
                            return 1;
                        }
                        if (a.views < b.views) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "up") {
                    result.sort(function(a, b) {
                        if (a.views < b.views) {
                            return 1;
                        }
                        if (a.views > b.views) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }

                if (this.filterData.sort == "upf") {
                    result.sort(function(a, b) {
                        if (a.helpful < b.helpful) {
                            return 1;
                        }
                        if (a.helpful > b.helpful) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "downf") {
                    result.sort(function(a, b) {
                        if (a.helpful > b.helpful) {
                            return 1;
                        }
                        if (a.helpful < b.helpful) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
            }

            console.log("A");

            if (this.filterData.catalog != 0) {
                result = result.filter(
                    item => item.catalog == this.filterData.catalog
                );
            }

            console.log("A");

            if (
                this.filterData.from != "" &&
                this.filterData.to != "" &&
                new Date(this.filterData.from).getTime() <
                    new Date(this.filterData.to).getTime()
            ) {
                result = result.filter(
                    item =>
                        new Date(item.createdAt) <
                            new Date(this.filterData.to) &&
                        new Date(item.createdAt) >
                            new Date(this.filterData.from)
                );
            } else {
                if (
                    new Date(this.filterData.from).getTime() >=
                    new Date(this.filterData.to).getTime()
                ) {
                    alert("Sana oraliqini to'g'ri kiriting");
                }
            }

            this.filterDxa = result;

            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        visibleData(page, limit, data) {
            let result = [];
            if (data && data.length) {
                for (let i = (page - 1) * limit; i < page * limit; i++) {
                    if (i < data.length) {
                        result.push(data[i]);
                    }
                }
            }

            return result;
        },

        paginition() {
            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        getTotal(item) {
            const value = this.filterDxa.reduce((previous, current) => {
                return previous + current[item];
            }, 0);
            return value;
        },
        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },

        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        toogleModal() {
            console.log("toogle");
            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        },
        toogleFilter() {},
        openFilter() {
            console.log("filterFunc");
            this.isOpenFilter = true;
        },
        closeFilter() {
            this.isOpenFilter = false;
        },

        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/literature/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get(`literature/all`);
                    this.news = news.data;
                    this.count = Math.ceil(this.news.length / this.limit);

                    this.filterDxa = this.news;

                    console.log("ff", this.filterDxa);

                    this.visibleDxa = this.visibleData(
                        this.page,
                        this.limit,
                        this.news
                    );
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    }
};
</script>

<style lang="scss">
select option {
    width: 10px;
}
.liter {
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 30px 0;
            // padding-right: 0;
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
