<template>
  <div class="add-legal-education col-md-10 mx-auto">
    <div class="form-group">
      <dropzone
        @vdropzone-file-added="onFileAdded($event, 'cy')"
        @vdropzone-error="onError"
        @vdropzone-smyDropzoneuccess="onSuccess"
        id="dropzone"
        :options="dropzoneOptions3"
      />
   
      <input
        ref="fileInput"
        @change="uploadVideo"
        type="file"
        id="file-input"
      />
      <button @click="fileLoad" class="btn-upload btn btn-secondary mt-4">
        Videoni yuklang
      </button>
      <div class="d-flex justify-content-end">
        <button
          style="margin-right:5px"
          @click="dec"
          class=" my-4 btn btn-secondary"
        >
          Orqaga qaytish
        </button>
        <button @click="nextPage" class="my-4 btn btn-primary mr-3">
          Davom etish
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {mapMutations,mapState,} from 'vuex'
export default {
  name: 'fivethPage',
  methods: {
          ...mapMutations('legalEducation',['setPage']),
              nextPage() {
                this.setPage([this.data,'fivethPage'])
                this.inc()
              },

          async onFileAdded(e, lang) {
      // this.$store.dispatch("materials/CREATE_FILES", e);

      let fd = new FormData();

      fd.append("file", e);

      await this.$axios.$post("file/upload", fd).then(res => {
        console.log(res);
        this.data.images.push({
          _id: res.data._id,
          path: res.data.path,
          lang: lang
        });

      
      });
    },
    onError(e) {
      console.log(e, "error");
    },
    onSuccess(e) {
      console.log(e, "success");
    },

    fileLoad() {
    document.querySelector('#file-input').click()
    },

    async uploadVideo(event) {
       const form = new FormData()
       form.append('file',event.target.files[0])
       const response = await this.$axios.$post('/file/upload',form)
       if(response.success) {
         this.$toast.success('Video yuklandi')
         document.querySelector('.btn-upload').innerHTML = "Video yuklangan"
         document.querySelector('.btn-upload').style.backgroundColor = "blue"
         this.data.video = response.data
       }

    }

  },
     created() {
    this.dropzoneOptions3.headers.Authorization = this.$auth.strategy.token.get();
  },
  data:() => ({
    dropzoneOptions3: {
      url: "https://media.huquqiyportal.uz/" + `api/file/upload`,
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      headers: { Authorization: "" },
      addRemoveLinks: true,
      dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Rasmlarni yuklang"
    },
    data:{
    images:[],
    video:null
    }

  }),
  props:['inc','dec'],

  computed:{
       ...mapState('legalEducation',['fivethPage'])
  },
  mounted() {
    console.log(this.fivethPage)
  }
  
}
</script>

<style lang="scss" scoped>
#file-input {
  display: none;
}
</style>
