<template>
  <div class="add-legal-education col-md-10 mx-auto">
    <div class="form-group">
  <v-tabs>
  <v-tab>Uz</v-tab>
    <v-tab>Ru</v-tab>
      <v-tab>Kr</v-tab>

      <v-tab-item>
       <h5 class="mt-3">Ta'lim muassasa xaqida</h5>
    <tinymce id="d10" v-model="data.aboutStudyPlace.uz"></tinymce>
      </v-tab-item>

      
      <v-tab-item>
       <h5 class="mt-3">Ta'lim muassasa xaqida</h5>
    <tinymce id="d11" v-model="data.aboutStudyPlace.ru"></tinymce>
      </v-tab-item>

      
      <v-tab-item>
       <h5 class="mt-3">Ta'lim muassasa xaqida</h5>
    <tinymce id="d12" v-model="data.aboutStudyPlace.cy"></tinymce>
      </v-tab-item>
  </v-tabs>
   



       <h5 class="mt-3" >Facebook</h5>
      <input v-model="data.socialLinks.facebook" type="text" class="form-control mb-3" />
    </div>
    <h5>Telegram</h5>
    <input v-model="data.socialLinks.telegram" type="text" class="form-control mb-3" />

    <h5>Instagram</h5>
    <input v-model="data.socialLinks.instagram" type="text" class="form-control mb-3" />
    <h5>Twitter</h5>
    <input v-model="data.socialLinks.twitter" type="text" class="form-control mb-3" />



  <div class="d-flex justify-content-end">
    <button style="margin-right:5px" @click="dec" class=" my-4 btn btn-secondary">Orqaga qaytish</button>
    <button @click="nextPage" class="my-4 btn btn-primary mr-3">Davom etish</button>

    </div>
    
  </div>
  
</template>

<script>
import {mapMutations,mapState} from 'vuex'
export default {
  name: 'fourthPage',
  data:() => ({
    data:{
      aboutStudyPlace:{
        uz:"",
        ru:"",
        cy:""
      },
      socialLinks: {
        facebook:"",
        telegram:"",
        instagram:"",
        twitter : ""

      }
    }
  }),
  props:['inc','dec'],
  methods: {
    ...mapMutations('legalEducation',['setPage']),

    nextPage() {
      this.setPage([this.data,'fourthPage'])
      this.inc()
    }
  },
  computed:{
        ...mapState('legalEducation',['fourthPage'])
  }
}
</script>

<style lang="scss" scoped></style>
