<template>
  <div class="add-legal-education col-md-10 mx-auto">
    <div class="form-group">
      <v-tabs>
        <v-tab>Uz</v-tab>
        <v-tab>Ru</v-tab>
        <v-tab>Kr</v-tab>
        <v-tab-item>
          <h5 class="mt-3">Sarlavha (Uz)</h5>
          <input
            v-model="data.title.uz"
            type="text"
            class="form-control mb-3"
          />
        </v-tab-item>
        <v-tab-item>
          <h5 class="mt-3">Sarlavha (Ru)</h5>
          <input
            v-model="data.title.ru"
            type="text"
            class="form-control mb-3"
          />
        </v-tab-item>
        <v-tab-item>
          <h5 class="mt-3">Sarlavha (Kr)</h5>
          <input
            v-model="data.title.cy"
            type="text"
            class="form-control mb-3"
          />
        </v-tab-item>
      </v-tabs>
    </div>

    <v-tabs>
      <v-tab>
        Uz
      </v-tab>
      <v-tab-item>
        <h5 class="mt-3">Tavsif</h5>
        <tinymce id="d1" v-model="data.about.uz"></tinymce>
      </v-tab-item>

      <v-tab>Ru</v-tab>
      <v-tab-item>
        <h5 class="mt-3">Tavsif</h5>
        <tinymce id="d2" v-model="data.about.ru"></tinymce>
      </v-tab-item>

      <v-tab>Kr</v-tab>

      <v-tab-item>
        <h5 class="mt-3">Tavsif</h5>
        <tinymce id="d3" v-model="data.about.cy"></tinymce>
      </v-tab-item>
    </v-tabs>

    <div class="d-flex justify-content-end">
      <button
        style="margin-right:5px"
        @click="dec"
        class=" my-4 btn btn-secondary"
      >
        Orqaga qaytish
      </button>
      <button @click="nextPage" class="my-4 btn btn-primary mr-3">
        Davom etish
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
  name: 'secondPage',
  data: () => ({
    data: {
      title: {
        uz: '',
        ru: '',
        cy: ''
      },
      about: {
        uz: '',
        ru: '',
        cy: ''
      }
    }
  }),
  props: ['inc', 'dec'],
  methods: {
    ...mapMutations('legalEducation', ['setPage']),
    nextPage () {
      this.setPage([this.data, 'secondPage'])
      this.inc()
    }
  },
  computed: {
    ...mapFields(['firstPage']),
    ...mapState('legalEducation', ['secondPage'])
  }
}
</script>

<style lang="scss" scoped></style>
