<template>
  <div>
    <div class="add-legal-education col-md-10 mx-auto">
      <h3 style="margin-bottom:20px">Qulayliklar</h3>
      <div class="form-group">
        <div class="conveniences" v-for="(con, i) in data.convenience">
          <v-tabs>
            <v-tab>Uz</v-tab>
            <v-tab>Ru</v-tab>
            <v-tab>Kr</v-tab>

            <v-tab-item>
              <h5 class="mt-3">Sarlavha (Uz)</h5>
              <input
                v-model="con.title.uz"
                type="text"
                class="form-control mb-3"
              />
            </v-tab-item>

            <v-tab-item>
              <h5 class="mt-3">Sarlavha (Ru)</h5>
              <input
                v-model="con.title.ru"
                type="text"
                class="form-control mb-3"
              />
            </v-tab-item>

            <v-tab-item>
              <h5 class="mt-3">Sarlavha (Kr)</h5>
              <input
                v-model="con.title.cy"
                type="text"
                class="form-control mb-3"
              />
            </v-tab-item>
          </v-tabs>

          <v-tabs>
            <v-tab>Uz</v-tab>
            <v-tab>Ru</v-tab>
            <v-tab>Kr</v-tab>

            <v-tab-item>
              <h5 class="mt-3">Tavsif (Uz)</h5>
              <input
                v-model="con.description.uz"
                type="text"
                class="form-control mb-3"
              />
            </v-tab-item>

            <v-tab-item>
              <h5 class="mt-3">Tavsif (Ru)</h5>
              <input
                v-model="con.description.ru"
                type="text"
                class="form-control mb-3"
              />
            </v-tab-item>

            <v-tab-item>
              <h5 class="mt-3">Tavsif (Kr)</h5>
              <input
                v-model="con.description.cy"
                type="text"
                class="form-control mb-3"
              />
            </v-tab-item>
          </v-tabs>

          <div class="d-flex justify-content-end">
            <button
              @click="removeConviences(i)"
              style="margin-right:5px"
              class="btn btn-danger"
            >
              O'chirish
            </button>
            <button @click="addConviences" class="btn btn-primary">
              Qulayliklar haqida yangi malumot qo'shish
            </button>
          </div>
        </div>
      </div>

      <dropzone
        class="mt-3"
        @vdropzone-file-added="onFileAdded($event, 'cy')"
        @vdropzone-error="onError"
        @vdropzone-smyDropzoneuccess="onSuccess"
        id="dropzone"
        :options="dropzoneOptions3"
      />
      <div class="form-group mt-4">
        <div class="row">
    

          <div class="col-md-4">
            <h6>Direktor (Uz)</h6>
            <input
              v-model="data.director.uz"
              type="text"
              class="form-control mb-3"
            />
          </div>
          <div class="col-md-4">
            <h6>Direktor (Ru)</h6>
            <input
              v-model="data.director.ru"
              type="text"
              class="form-control mb-3"
            />
          </div>
          <div class="col-md-4">
            <h6>Direktor (kr)</h6>
            <input
              v-model="data.director.cy"
              type="text"
              class="form-control mb-3"
            />
          </div>
        </div>
      </div>

      <div class="form-group mt-4">
        <div class="row">
          <div class="col-md-3">
            <h6>Yetakchilar soni</h6>
            <input
              v-model="data.leaders"
              type="number"
              class="form-control mb-3"
            />
          </div>
          <div class="col-md-3">
            <h6>O'qituvchilar soni</h6>
            <input
              v-model="data.teachers"
              type="number"
              class="form-control mb-3"
            />
          </div>
          <div class="col-md-3">
            <h6>Ishchilar soni</h6>
            <input
              v-model="data.workers"
              type="number"
              class="form-control mb-3"
            />
          </div>
          <div class="col-md-3">
            <h6>Qo'shimcha ishchilar soni</h6>
            <input
              v-model="data.otherWorkers"
              type="number"
              class="form-control mb-3"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3  d-flex align-items-center">
            <h6 style="margin-right:5px">Talabalar soni</h6>
            <input
              v-model="data.students"
              type="number"
              class="form-control "
            />
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <h6 style="margin-right:5px">Xarita linki</h6>
            <input v-model="data.map" type="text" class="form-control" />
          </div>

          <div class="col-md-3">
            <div class="d-flex justify-content-center  align-items-center">
              <v-col md="2" class="rasm " lg="5">
                <div class="hidden-lg-and-down">
                  <input
                    @change="uploadImage"
                    class="image-logo"
                    ref="imgLogo"
                    type="file"
                    accept="image/png, image/jpeg, image/bmp"
                  />
                </div>

                <button @click="logoLoad" class="choose">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="40"
                    viewBox="0 0 38 37"
                    fill="none"
                  >
                    <path
                      d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                      fill="#29A0E3"
                    />
                  </svg>
                  Rasm
                </button>
              </v-col>
            </div>
          </div>

          <div class="col-md-3">
            <div class="d-flex align-items-center">
              <v-col md="2" class="rasm " lg="5">
                <div class="hidden-lg-and-down">
                  <input
                    @change="uploadLogo"
                    class="image-logo"
                    ref="imgLogo"
                    type="file"
                    accept="image/png, image/jpeg, image/bmp"
                  />
                </div>

                <button @click="logoLoad" class="choose">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="50"
                    height="40"
                    viewBox="0 0 38 37"
                    fill="none"
                  >
                    <path
                      d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                      fill="#29A0E3"
                    />
                  </svg>
                  Logotip
                </button>
              </v-col>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <button @click="dec" style="margin-right:5px" class="btn btn-secondary">
          Orqaga
        </button>
        <button @click="saveAllData" class="btn btn-primary">Saqlash</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  name: 'sixthPage',
  data: () => ({
    convience: {
      title: {
        uz: '',
        ru: '',
        cy: ''
      },
      description: {
        uz: '',
        ru: '',
        cy: ''
      }
    },
    data: {
      image: null,
      images: [],
      logo: '',
      director: {
        uz: '',
        ru: '',
        cy: ''
      },
      convenience: [
        {
          title: {
            uz: '',
            ru: '',
            cy: ''
          },
          description: {
            uz: '',
            ru: '',
            cy: ''
          }
        }
      ],
      leaders: '',
      teachers: '',
      workers: '',
      otherWorkers: '',
      students: '',
      map: '',
      convenienceImage: []
    },

    dropzoneOptions3: {
      url: 'https://media.huquqiyportal.uz/' + `api/file/upload`,
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      maxFIles: 1,
      headers: { Authorization: '' },
      addRemoveLinks: true,
      dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>Rasmlarni yuklang"
    }
  }),
  props: ['inc', 'dec'],
  methods: {
    ...mapActions('legalEducation', ['sendAllData']),
    ...mapMutations('legalEducation', ['setPage']),
    saveAllData () {
      this.setPage([this.data, 'sixthPage'])
      this.sendAllData()
      console.log(this.firstPage)
    },

    addConviences () {
      this.data.convenience.push(this.convience)
    },
    removeConviences (i) {
      if (this.data.convenience.length > 1) {
        this.data.convenience.splice(i, 1)
      }
    },

    logoLoad () {
      this.$refs.imgLogo.click()
    },

    imgLoad () {
      this.$refs.img.click()
    },

    async uploadImage () {
      const fd = new FormData()
      const file = this.$refs.imgLogo.files[0]
      fd.append('file', file)
      const response = await this.$axios.$post('/file/upload', fd)
      if (response.success) {
        this.$toast.success('Rasm yuklandi')
        this.data.image = response.data
      } else {
        this.$toast.error('Rasm yuklanmadi')
      }
    },

    async uploadLogo () {
      const fd = new FormData()
      const file = this.$refs.imgLogo.files[0]
      fd.append('file', file)
      const response = await this.$axios.$post('/file/upload', fd)
      if (response.success) {
        this.$toast.success('Logo yuklandi')
        this.data.logo = response.data
      } else {
        this.$toast.error('Logo yuklanmadi')
      }
    },

    async onFileAdded (e, lang) {
      // this.$store.dispatch("materials/CREATE_FILES", e);

      let fd = new FormData()

      fd.append('file', e)

      await this.$axios.$post('file/upload', fd).then(res => {
        console.log(res)
        this.data.convenienceImage.push({
          _id: res.data._id,
          path: res.data.path,
          lang: lang
        })
      })
    },
    onError (e) {
      console.log(e, 'error')
    },
    onSuccess (e) {
      console.log(e, 'success')
    }
  },
  computed: {
    ...mapState('legalEducation', ['sixthPage'])
  }
}
</script>

<style lang="scss" scoped>
.form-group {
  padding: 20px;
  border-radius: 3px;
  border: 2px solid #e5e5e5;
}

.image-logo,
.image {
  display: none;
}
.rasm {
  button.choose {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 200px;
    width: 100px;
    height: 100px;
    background: #fafbff;
    border: 3px dashed #cddbff;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;

    /* Edit style */

    color: #29a0e3;

    svg {
      margin-bottom: 10px;
    }
  }
}
</style>
