<template>
  <div class="add-legal-education col-md-10 mx-auto">
    <div class="form-group">
    <v-tabs>
    <v-tab>Uz</v-tab>
       <v-tab>Ru</v-tab>
          <v-tab>Kr</v-tab>

          <v-tab-item>
                <h5 class="mt-3">Manzil</h5>
      <input v-model="data.address.uz" type="text" class="form-control mb-3" />
          </v-tab-item>
          
          <v-tab-item>
            <h5 class="mt-3">Manzil</h5>
    <input v-model="data.address.ru" type="text" class="form-control mb-3" />
          </v-tab-item>
          
          <v-tab-item>
           <h5 class="mt-3">Manzil</h5>
    <input v-model="data.address.cy" type="text" class="form-control mb-3" />
          </v-tab-item>
    </v-tabs>

    </div>
    <v-tabs>
    <v-tab>Uz</v-tab>
     <v-tab>Ru</v-tab>
      <v-tab>Kr</v-tab>

      <v-tab-item>
      <h5 class="mt-3">Qo'shimcha</h5>
    <tinymce id="d13" v-model="data.additional.uz"></tinymce>
      </v-tab-item>

       <v-tab-item>
       <h5 class="mt-3">Qo'shimcha</h5>
    <tinymce id="d14" v-model="data.additional.ru"></tinymce>
      </v-tab-item>

       <v-tab-item>
    <h5 class="mt-3">Qo'shimcha</h5>
    <tinymce id="d15" v-model="data.additional.cy"></tinymce>
      </v-tab-item>
    </v-tabs>


   
    
  
    
<div class="d-flex justify-content-end">
    <button style="margin-right:5px" @click="dec" class=" my-4 btn btn-secondary">Orqaga qaytish</button>
    <button @click="nextPage" class="my-4 btn btn-primary mr-3">Davom etish</button>

    </div>
    
  </div>
</template>

<script>
import {mapMutations,mapState} from 'vuex'
export default {
  name: 'thirdPage',
  data:() => ({
    data:{
      address:{
        uz:"",
        ru:"",
        cy:""
      },
      additional:{
        uz:"",
        ru:"",
        cy:""
      }

    }
  }),
  props:['inc','dec'],
  methods:{
        ...mapMutations('legalEducation',['setPage']),
           nextPage () {
           this.setPage([this.data,'thirdPage'])
          this.inc()
    
     
    },


  },
  computed:{
     ...mapState('legalEducation',['thirdPage'])
  }
}
</script>

<style lang="scss" scoped></style>
