<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Maqola qo'shish</h4>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-6">
                                    <p>Mavzu nomi</p>
                                    <input
                                        type="text"
                                        v-model="Problem.title"
                                        class="form-control"
                                    />
                                </div>
                                <div class="col-6">
                                    <p>Til</p>
                                    <select
                                        class="form-select"
                                        v-model="Problem.lang"
                                        aria-placeholder="Select Lesson"
                                    >
                                        <option value="uz">
                                            Lotincha
                                        </option>
                                        <option value="cy">
                                            Krilcha
                                        </option>
                                        <option value="ru">
                                            Ruscha
                                        </option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <p>Tavsif</p>
                                    <tinymce
                                        id="d1"
                                        v-model="Problem.article"
                                        :other_options="tinyOptions"
                                    ></tinymce>
                                </div>
                            </div>
                        </div>

                        <v-col md="12" class="mt-5 p-0 above">
                            <fieldset class="p-3">
                                <legend class="px-2 text-h6 grey--text">
                                    Foydali link
                                </legend>
                                <v-row align="center">
                                    <v-col md="6" class="md-6">
                                        <p>Foydali link</p>
                                        <input
                                            class="form-control"
                                            v-model="oneLink.title"
                                            type="text"
                                        />
                                        <p>Link</p>
                                        <div
                                            class="d-flex justify-space-between"
                                        >
                                            <input
                                                class="form-control"
                                                v-model="oneLink.link"
                                                type="text"
                                            />
                                        </div>
                                        <button
                                            @click="addLink()"
                                            class="form-control btn btn-primary"
                                        >
                                            Qo'shish
                                        </button>
                                    </v-col>
                                    <v-col class="mx-5" md="4">
                                        <div
                                            v-if="Problem.links.length == 0"
                                            class="text-h6 grey--text "
                                        >
                                            Foydali linkka ma'lumot kiritilmagan
                                        </div>
                                        <div
                                            v-for="(link,
                                            index) in Problem.links"
                                            :key="index"
                                            class="text-h6 grey--text link-box text-left"
                                        >
                                            <b> {{ link.title }} </b>

                                            <button @click="removeLink(index)">
                                                <fa icon="times" />
                                            </button>
                                        </div>
                                    </v-col>
                                    <v-col md="4"> </v-col>
                                </v-row>
                            </fieldset>
                        </v-col>
                        <div class="row mt-3">
                            <v-col cols="6" class="">
                                <p>Teglar</p>

                                <div class="d-flex justify-center">
                                    <input
                                        v-model="tag"
                                        class="form-control mr-2"
                                    />
                                    <v-btn @click="addPhoneNumber()"
                                        ><v-icon>mdi-plus</v-icon></v-btn
                                    >
                                </div>
                                <span
                                    v-for="(phone, index) in Problem.tags"
                                    class="mx-2 mt-2"
                                    :key="index"
                                >
                                    <v-chip
                                        class="ma-2 mt-2"
                                        close
                                        label
                                        outlined
                                        color="grey lighten-1 grey--text text--lighten-1 font-weight-medium"
                                        @click:close="removeThisImage(index)"
                                    >
                                        {{ phone }}
                                    </v-chip></span
                                >
                            </v-col>

                            <v-col md="4" class="mx-5 mt-2">
                                <v-file-input
                                    :rules="rules"
                                    @change="chooseFileImg"
                                    ref="fileUpload"
                                    accept="image/png, image/jpeg, image/bmp"
                                    placeholder="Rasm kiriting"
                                    prepend-icon="mdi-camera"
                                    class="mb-0"
                                ></v-file-input>
                                <span class="mx-2 mt-2">
                                    <div class="image-card">
                                        <img
                                            :src="
                                                $store.state.uploads +
                                                    Problem.image.path
                                            "
                                            alt=""
                                        />
                                    </div>
                                </span>
                            </v-col>
                        </div>

                        <v-col md="12" class="mt-5 p-0 above">
                            <fieldset class="p-3">
                                <legend class="px-2 text-h6 grey--text">
                                    Hujjat
                                </legend>
                                <v-row align="center">
                                    <v-col md="6">
                                        <p>Hujjat</p>
                                        <input
                                            type="text"
                                            class="form-control"
                                            v-model="oneDocument.title"
                                        />

                                        <p>Link</p>
                                        <div
                                            class="d-flex justify-space-between"
                                        >
                                            <input
                                                type="text"
                                                class="form-control"
                                                v-model="oneDocument.link"
                                            />
                                        </div>
                                        <button
                                            @click="addOneDocument()"
                                            class="form-control btn btn-primary"
                                        >
                                            Qo'shish
                                        </button>
                                    </v-col>

                                    <v-col md="4">
                                        <div
                                            v-if="
                                                Problem.documents.length === 0
                                            "
                                            class="text-h6 grey--text text-center"
                                        >
                                            Hujjatlarga ma'lumot kiritilmagan
                                        </div>
                                        <div
                                            v-for="(link,
                                            index) in Problem.documents"
                                            :key="index"
                                            class="text-h6 grey--text link-box text-left"
                                        >
                                            <b> {{ link.title }} </b>

                                            <button @click="removeDoc(index)">
                                                <fa icon="times" />
                                            </button>
                                        </div>
                                    </v-col>
                                </v-row>
                            </fieldset>
                        </v-col>

                        <div class="btns">
                            <button class="btn">Bekor qilish</button>
                            <button class="btn" @click="create">
                                Qo'shish
                            </button>
                        </div>

                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        tabIndex: 1,
        tid: "",
        problem: null,
        tinyOptions: {
            height: "300"
        },
        Problem: {
            lang: "uz",
            title: "",
            theme: "",
            article: "",
            documents: [],
            tags: [],
            links: [],
            image: {
                path: "",
                id: ""
            }
        },
        oneDocument: {
            title: "",
            link: ""
        },
        oneLink: {
            title: "",
            link: ""
        }
    }),
    methods: {
        removeLink(index) {
            this.Problem.links.splice(index, 1);
        },
        removeDoc(index) {
            this.Problem.documents.splice(index, 1);
        },
        changeTabIndex(index) {
            this.tabIndex = index + 1;
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        addLink() {
            this.Problem.links.push(this.oneLink);
            this.oneLink = {
                title: "",
                link: ""
            };
        },
        addOneDocument() {
            console.log(this.oneDocument);
            this.Problem.documents = [
                ...this.Problem.documents,
                this.oneDocument
            ];
            this.oneDocument = {
                title: "",
                link: ""
            };
        },
        addPhoneNumber() {
            this.Problem.tags = [...this.Problem.tags, this.tag];
            this.tag = "";
        },
        removeThisImage(index) {
            this.Problem.tags.splice(index, 1);
        },
        chooseFileImg(event) {
            console.log(event);
            let img = event;

            let fd = new FormData();
            fd.append("file", img);

            this.$axios({
                url: "/file/upload",
                method: "post",
                data: fd,
                headers: {
                    "Content-Type": "multipart/form-data",
                    Authorization: `Bearer ${localStorage.getItem("token")}`
                }
            })
                .then(res => {
                    this.Problem.image.path = res.data.data.path;
                    console.log("sa", this.Problem.image);
                })
                .catch(error => {
                    console.log("er", error);
                });
        },
        async create() {
            if (this.Problem.title == "") {
                return this.$toast.error("Mavzu nomini kiriting!!!");
            }

            if (this.Problem.article.length == 0) {
                return this.$toast.error("Tavsifni kiriting!!!");
            }

            this.$toast.success("Maqola yangilandi");

            this.Problem.theme = this.$route.params.id;
            this.Problem.image.id = this.$route.params.id;
            this.tid = this.$route.params.id;
            console.log("as", this.Problem.image);
            await this.$axios
                .$put("/problem/update/" + this.$route.params.id, this.Problem)
                .then(res => {
                    //   console.log("theme", res.data.data.theme);
                    this.$router.push({
                        name: "problems-maqola-id",
                        params: { id: this.tid }
                    });
                    //   console.log("ok", res);
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    async mounted() {
        let problem = await this.$axios.$get(
            "/problem/" + this.$route.params.id
        );
        this.Problem = problem.data;
        console.log("problem", this.problem);
    }
};
</script>

<style lang="scss">
.image-card {
    width: 100px;
    height: 100px;
    position: relative;
    button {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        padding: 5px;
        background: #fff;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        svg {
            color: red;
        }
    }
    img {
        height: 100px;
        object-fit: cover;
        width: 100%;
    }
}
.link-box {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc !important;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    b {
        font-size: 14px;
    }
    button {
        background: transparent;
    }
}
.above {
    p {
        margin-bottom: 0.5rem;
    }
    input {
        margin-bottom: 10px;
    }
}
fieldset {
    border: 1px solid #ebd7d7;
}
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.tab {
    margin-top: 30px;
    width: 410px;

    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;

        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        margin-top: 5px;
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 0px 0 !important;
        // padding-right: 0;
        a {
            background: #4c4ce9;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px;
        }
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
