<template>
    <div>
        <div style="height: 100vh; background-color: #f5f6f8">
            <div class="dxa-add">
                <div class="container-new">
                    <div class="card">
                        <div class="head">
                            <b>Aholiga xizmat ko‘rsatish markazi qo'shish</b>
                        </div>
                        <div class="div">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Xizmat turi</p>
                                    <select
                                        class="form-select"
                                        v-model="publicService.type"
                                    >
                                        <option value="dxa">DXA</option>
                                        <option value="fxdyo">FHDYO</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <p>Xarita linki:</p>
                                    <input
                                        v-model="publicService.map"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Hududni tanlang</p>
                                    <select
                                        class="form-select"
                                        v-model="publicService.region"
                                    >
                                        <option
                                            v-for="(item, i) in hudud"
                                            :key="i"
                                            :value="item.id"
                                            return-object
                                            >{{ item.name }}</option
                                        >
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <p>Telefon:</p>
                                    <input
                                        v-model="publicService.phone"
                                        class="form-control"
                                        type="number"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <ul pl-0>
                                <button
                                    v-for="(tab, index) in tabs"
                                    :key="index"
                                    :class="
                                        index + 1 == tabIndex
                                            ? 'tab-menu tab-active'
                                            : 'tab-menu'
                                    "
                                    @click="changeTabIndex(index)"
                                >
                                    {{ tab.title }}
                                </button>
                            </ul>
                        </div>
                        <div v-show="tabIndex == 1">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Sarlavha</p>
                                    <input
                                        v-model="publicService.title.uz"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Manzil</p>
                                    <input
                                        v-model="publicService.address.uz"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Marshrut</p>
                                    <input
                                        v-model="publicService.route.uz"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Ish vaqti</p>
                                    <input
                                        v-model="publicService.workingHours.uz"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                        <div v-show="tabIndex == 2">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Sarlavha</p>
                                    <input
                                        v-model="publicService.title.ru"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Manzil</p>
                                    <input
                                        v-model="publicService.address.ru"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Marshrut</p>
                                    <input
                                        v-model="publicService.route.ru"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Ish vaqti</p>
                                    <input
                                        v-model="publicService.workingHours.ru"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>
                        <div v-show="tabIndex == 3">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Sarlavha</p>
                                    <input
                                        v-model="publicService.title.cy"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Manzil</p>
                                    <input
                                        v-model="publicService.address.cy"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Marshrut</p>
                                    <input
                                        v-model="publicService.route.cy"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <p>Ish vaqti</p>
                                    <input
                                        v-model="publicService.workingHours.cy"
                                        class="form-control"
                                        type="text"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="btns">
                            <button class="btn">Bekor qilish</button>
                            <button class="btn" @click="create">
                                Qo'shish
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        head() {
            return {
                title: "Qo'shish | Boshqaruv markazi",
                meta: [
                    // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                    {
                        hid: "description",
                        name: "description",
                        content: "My custom description"
                    }
                ]
            };
        },
        tabIndex: 1,
        tab: null,
        publicService: {
            phone: "",
            map: "",
            type: "dxa",
            region: "",
            title: {
                uz: "",
                ru: "",
                cy: ""
            },
            route: {
                uz: "",
                ru: "",
                cy: ""
            },
            address: {
                uz: "",
                ru: "",
                cy: ""
            },
            workingHours: {
                uz: "",
                ru: "",
                cy: ""
            }
        },
        tabs: [
            {
                title: "O'zbekcha"
            },
            {
                title: "Рус тилида"
            },
            {
                title: "Ўзбекча"
            }
        ],
        selected: {
            name: "Andjion viloyati",
            id: 1
        },
        hudud: [
            {
                name: "Andjion viloyati",
                id: 1
            },
            {
                name: "Buxoro viloyati",
                id: 2
            },
            {
                name: "Farg'ona viloyati",
                id: 3
            },
            {
                name: "Jizzah viloyati",
                id: 4
            },
            {
                name: "Namangan viloyati",
                id: 5
            },
            {
                name: "Navoiy viloyati",
                id: 6
            },
            {
                name: "Samarqand viloyati",
                id: 7
            },
            {
                name: "Sirdaryo viloyati",
                id: 8
            },
            {
                name: "Surxondaryo viloyati",
                id: 9
            },
            {
                name: "Toshkent viloyati",
                id: 10
            },
            {
                name: "Toshkent shahri",
                id: 11
            },
            {
                name: "Qashqadaryo viloyati",
                id: 12
            },
            {
                name: "Qoraqolpog'iston Respublikasi ",
                id: 13
            },
            {
                name: "Xorazm viloyati",
                id: 14
            }
        ]
    }),

    async mounted() {
        this.publicService.region = this.hudud[0].id;
    },
    methods: {
        changeTabIndex(index) {
            this.tabIndex = index + 1;
        },
        async create() {
            if (this.publicService.map.length == 0) {
                return this.$toast.error("Xarita linkini kiriting!!!");
            }
            if (this.publicService.region.length == 0) {
                return this.$toast.error("Hududni tanlang!!!");
            }
            if (this.publicService.type.length == 0) {
                return this.$toast.error("Xizmat turini kiriting!!!");
            }
            if (this.publicService.phone.length == 0) {
                return this.$toast.error("Telefonni kiriting!!!");
            }
            if (this.publicService.title.uz.length == 0) {
                return this.$toast.error("Sarlavha(O'z)ni kiriting!!!");
            }

            if (this.publicService.title.ru.length == 0) {
                return this.$toast.error("Sarlavha(Ru)ni kiriting!!!");
            }
            if (this.publicService.title.cy.length == 0) {
                return this.$toast.error("Sarlavha(kr)ni kiriting!!!");
            }
            if (this.publicService.address.uz.length == 0) {
                return this.$toast.error("Manzil(o'z)ni kiriting!!!");
            }
            if (this.publicService.workingHours.ru.length == 0) {
                return this.$toast.error("Ish vaqti(Ru)ni kiriting!!!");
            }
            if (this.publicService.route.ru.length == 0) {
                return this.$toast.error("Marshrut(Ru)ni kiriting!!!");
            }
            if (this.publicService.address.ru.length == 0) {
                return this.$toast.error("Manzil(Ru)ni kiriting!!!");
            }
            if (this.publicService.workingHours.cy.length == 0) {
                return this.$toast.error("Ish vaqti(kr)ni kiriting!!!");
            }
            if (this.publicService.route.ru.length == 0) {
                return this.$toast.error("Marshrut(Ru)ni kiriting!!!");
            }
            if (this.publicService.address.cy.length == 0) {
                return this.$toast.error("Manzil(kr)ni kiriting!!!");
            }
            if (this.publicService.workingHours.uz.length == 0) {
                return this.$toast.error("Ish vaqti(uz)ni kiriting!!!");
            }
            if (this.publicService.route.uz.length == 0) {
                return this.$toast.error("Marshrut(kr)ni kiriting!!!");
            }
            await this.$axios
                .$post("/public-service-center/add", this.publicService)
                .then(res => {
                    this.$router.push("/dxa");
                    console.log("ok", this.publicService);
                })
                .catch(err => {
                    "error";
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.dxa-add {
    padding: 20px;
    background-color: rgb(245, 246, 248);
    .btns {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            padding: 10px 20px;
            color: #fff;
            &:first-child {
                background-color: #666666;
                margin-right: 20px;
            }
            &:last-child {
                background-color: #5b73e8;
            }
        }
    }
    .head {
        margin-bottom: 20px;
    }
    .card {
        padding: 20px;
    }
    p {
        margin-bottom: 0;
    }
}
.tab {
    margin-top: 30px;
    width: 410px;

    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;

        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
</style>
