<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12 dxa">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="visibleDxa != null">
                        <div class="card-el">
                            <h4 class="card-title ">
                                Aholiga xizmat ko‘rsatish markazi
                            </h4>

                            <div class="right">
                                <div class="input-search-z mx-2">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <!-- <div class="search">
                                    <input
                                        type="search"
                                        v-model="search"
                                        placeholder="Izlash..."
                                    />
                                    <button
                                        @click="clickSearch"
                                        class="btn btn-primary btn-sm "
                                    >
                                        <i class="material-icons">search</i>
                                    </button>
                                </div> -->

                                <select
                                    class="form-select two-form "
                                    aria-label="Default select example"
                                    v-model="region"
                                    @change="changeRegion"
                                >
                                    <option
                                        :value="obl.id"
                                        v-for="obl in hudud"
                                        :key="obl"
                                        >{{ obl.name }}</option
                                    >
                                </select>
                                <select
                                    class="form-select two-form mx-2"
                                    aria-label="Default select example"
                                    v-model="type"
                                    @change="filterType"
                                >
                                    <option value="all">Barchasi</option>
                                    <option value="dxa">DXA</option>
                                    <option value="fxdyo">FHDYO</option>
                                </select>

                                <nuxt-link
                                    class="btn-add btn btn-primary "
                                    :to="{ name: 'dxa-create' }"
                                >
                                    Qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Telefon</th>
                                        <th>Xizmat turi</th>
                                        <th>Hudud</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody
                                    v-for="(item, index) in visibleDxa"
                                    :key="index"
                                >
                                    <tr>
                                        <td style="max-width: 300px">
                                            {{ item.title.uz }}
                                        </td>
                                        <td>
                                            {{ item.phone }}
                                        </td>
                                        <td>
                                            {{ item.type }}
                                        </td>
                                        <td>
                                            {{ hudud[item.region].name }}
                                        </td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'dxa-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Axoliga xizmat ko'rsatish markazlari | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        news: null,
        type: "all",
        limit: 10,
        page: 1,
        count: 0,
        search: "",
        region: 0,
        hudud: [
            {
                name: "Barchasi",
                id: 0
            },
            {
                name: "Andjion viloyati",
                id: 1
            },
            {
                name: "Buxoro viloyati",
                id: 2
            },
            {
                name: "Farg'ona viloyati",
                id: 3
            },
            {
                name: "Jizzah viloyati",
                id: 4
            },
            {
                name: "Namangan viloyati",
                id: 5
            },
            {
                name: "Navoiy viloyati",
                id: 6
            },
            {
                name: "Samarqand viloyati",
                id: 7
            },
            {
                name: "Sirdaryo viloyati",
                id: 8
            },
            {
                name: "Surxondaryo viloyati",
                id: 9
            },
            {
                name: "Toshkent viloyati",
                id: 10
            },
            {
                name: "Toshkent shahri",
                id: 11
            },
            {
                name: "Qashqadaryo viloyati",
                id: 12
            },
            {
                name: "Qoraqolpog'iston Respublikasi ",
                id: 13
            },
            {
                name: "Xorazm viloyati",
                id: 14
            }
        ],
        filterDxa: null,
        lengthPagination: 45,
        visibleDxa: null,
        isDelete: false,
        id: ""
    }),
    methods: {
        clickSearch() {
            this.region = 0;
            this.type = "all";
            let ser = this.search.toLowerCase();

            let result = this.news;

            let condition = new RegExp(ser);

            let res = result.filter(function(item) {
                return condition.test(item.title.uz.toLowerCase());
            });

            this.page = 1;
            this.count = Math.ceil(res.length / this.limit);

            this.filterDxa = res;

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },
        filterRegion(region) {
            this.search = "";
            let result = this.news;
            if (region != 0) {
                result = this.news.filter(item => item.region == region);
            }

            if (this.type != "all") {
                result = result.filter(item => item.type == this.type);
            }

            this.page = 1;
            this.count = Math.ceil(result.length / this.limit);

            this.filterDxa = result;

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );

            console.log("visible", this.visibleDxa);
        },
        filterSearch(search) {
            console.log("visible", this.visibleDxa);
        },

        filterType() {
            this.search = "";

            if (this.type != "all") {
                this.filterRegion(this.region);
                let result = this.filterDxa;
                this.filterDxa = result.filter(item => item.type == this.type);

                this.page = 1;
                this.count = Math.ceil(this.filterDxa.length / this.limit);

                this.visibleDxa = this.visibleData(
                    this.page,
                    this.limit,
                    this.filterDxa
                );
            } else {
                this.filterRegion(this.region);
            }
        },

        visibleData(page, limit, data) {
            let result = [];
            if (data && data.length) {
                for (let i = (page - 1) * limit; i < page * limit; i++) {
                    if (i < data.length) {
                        result.push(data[i]);
                    }
                }
            }

            return result;
        },

        changeRegion() {
            this.filterRegion(this.region);
        },
        async getRegion(region, page) {
            let news = await this.$axios.$get(
                `public-service-center/get/all?region=${region}&type=${this.type}&page=${page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },

        paginition() {
            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async getData() {
            let news = await this.$axios.$get(`public-service-center/get/all`);
            this.count = Math.ceil(news.data.length / this.limit);
            this.news = news.data;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/public-service-center/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get(
                        `public-service-center/get/all`
                    );
                    this.news = news.data;
                    this.count = Math.ceil(this.news.length / this.limit);

                    this.filterDxa = this.news;

                    this.visibleDxa = this.visibleData(
                        this.page,
                        this.limit,
                        this.news
                    );
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    async mounted() {
        let news = await this.$axios.$get(`public-service-center/get/all`);
        this.news = news.data;
        this.count = Math.ceil(this.news.length / this.limit);

        this.filterDxa = this.news;

        this.visibleDxa = this.visibleData(this.page, this.limit, this.news);
    }
};
</script>

<style lang="scss" scoped>
.dxa {
    td {
        padding: 5px !important;
    }
    .two-form {
        width: auto !important;
    }
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 30px 0;
            // padding-right: 0;
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
