<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div
            class="filter-wrapper"
            :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
        >
            <div
                ref="filterModal"
                :class="
                    isOpenFilter ? 'filter-modal show' : 'filter-modal hide'
                "
            >
                <div class="filter-header d-flex justify-content-between">
                    <h4 style="letter-spacing:2px">Filter</h4>
                    <div @click="closeFilter" class="cancel material-icons ">
                        close
                    </div>
                </div>
                <div class="filter-body">
                    <div class="form-group">
                        <h6>Til</h6>
                        <select
                            class="form-select"
                            v-model="filterData.lang"
                            aria-label="Default select example"
                        >
                            <option value="all">Barchasi</option>
                            <option value="uz">Lotincha</option>
                            <option value="ru">Ruscha</option>
                            <option value="cy">Krilcha</option>
                        </select>
                    </div>
                    <div class="my-2">
                        <h6>Turi</h6>
                        <select
                            class="form-select"
                            aria-label="Default select example"
                            v-model="filterData.catalog"
                        >
                            <option value="0">Barchasi</option>
                            <option value="1"
                                >Bog’cha tarbiyalanuvchilari uchun huquqiy
                                qo’llanmalar</option
                            >
                            <option value="2"
                                >Maktab o’quvchilari uchun huquqiy
                                qo’llanmalar</option
                            >
                            <option value="3"
                                >Maktab o’qituvchilari uchun huquqiy
                                qo’llanmalar</option
                            >
                        </select>
                    </div>
                    <div class="my-2">
                        <h6>Saralash</h6>
                        <select
                            class="form-select "
                            aria-placeholder="Select Lesson"
                            v-model="filterData.sort"
                        >
                            <option value="all">
                                Barchasi
                            </option>
                            <option value="like">
                                Eng ko'p foydali malumot
                            </option>
                            <option value="dislike">
                                Eng ko'p foydasiz malumot
                            </option>
                            <option value="up">
                                Eng ko'p ko'rilgan
                            </option>
                            <option value="down">
                                Eng kam ko'rilgan
                            </option>
                        </select>
                    </div>

                    <div class="form-group mt-5">
                        <h3 style="letter-spacing:3px" class=" mt-2">Davr</h3>
                    </div>
                    <div class="form-group">
                        <h6>Dan</h6>
                        <input
                            v-model="filterData.start"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="form-group">
                        <h6 class=" pt-2">gacha</h6>
                        <input
                            v-model="filterData.end"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="filter-btns">
                        <button
                            @click="closeFilter"
                            class="btn btn-danger mt-3"
                        >
                            Bekor qilish
                        </button>
                        <button
                            @click="filterClick"
                            class="btn btn-primary mt-3"
                        >
                            Qidirish
                        </button>
                    </div>
                </div>
                <div class="filter-footer"></div>
            </div>
        </div>
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Huquqiy adabiyotlar</h4>

                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="text"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="searchData">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <div class="title-actions">
                                    <button class="btn-exports btn-title">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                    <button
                                        class="btn-filter btn-title"
                                        @click="openFilter"
                                    >
                                        <fa icon="filter" /> <span>Filtr</span>
                                    </button>
                                </div>

                                <nuxt-link
                                    class="btn-add btn btn-primary "
                                    to="/literatures/create"
                                    >Huquqiy adabiyot qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Bo'lim</th>
                                        <th>Til</th>
                                        <th>Qo'shilgan vaqti</th>
                                        <th>Ko'rishlar soni</th>
                                        <th>Natija</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in news" :key="item._id">
                                        <td
                                            style="max-width: 300px;overflow:hidden"
                                        >
                                            {{ item.title }}
                                        </td>

                                        <td>
                                            <p v-if="item.catalog == 1">
                                                Bog’cha tarbiyalanuvchilari
                                                uchun huquqiy qo’llanmalar
                                            </p>
                                            <p v-if="item.catalog == 2">
                                                Maktab o’quvchilari uchun
                                                huquqiy qo’llanmalar
                                            </p>
                                            <p v-if="item.catalog == 3">
                                                Maktab o’qituvchilari uchun
                                                huquqiy qo’llanmalar
                                            </p>
                                        </td>
                                        <td>
                                            <!-- {{ item.lang }} -->
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>
                                        <td>
                                            <span>
                                                <i class="material-icons eye"
                                                    >visibility</i
                                                >
                                                <p>
                                                    {{ item.views }}
                                                </p>
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="material-icons up"
                                                    >thumb_up</i
                                                >
                                                <p>
                                                    {{ item.helpful }}
                                                </p>
                                            </span>

                                            <span>
                                                <i class="material-icons down"
                                                    >thumb_down</i
                                                >
                                                <p>
                                                    {{ item.notHelpful }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'literatures-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                            ></v-pagination>
                        </div>

                        <client-only>
                            <vue-html2pdf
                                :show-layout="false"
                                :float-layout="true"
                                :enable-download="true"
                                :paginate-elements-by-height="1400"
                                filename="pdfFile"
                                :pdf-quality="2"
                                :manual-pagination="true"
                                pdf-format="a4"
                                pdf-orientation="portrait"
                                pdf-content-width="800px"
                                ref="html2Pdf"
                            >
                                <div
                                    ref="tableToExcel"
                                    class="table-responsive"
                                    slot="pdf-content"
                                    style="padding:2rem"
                                    v-if="exportData != null"
                                >
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="mt-4">
                                                Targ'ibot materiallari
                                                statistikasi
                                            </h4>

                                            <h6
                                                v-if="
                                                    filterData.start == 0 &&
                                                        filterData.end != 0
                                                "
                                                class="my-1"
                                            >
                                                Davr:
                                                {{ filterData.end }} gacha
                                            </h6>
                                            <h6
                                                v-if="
                                                    filterData.start != 0 &&
                                                        filterData.end == 0
                                                "
                                                class="my-1"
                                            >
                                                Davr:
                                                {{ filterData.start }} dan
                                                boshlab
                                            </h6>
                                            <h6
                                                v-if="
                                                    filterData.start == 0 &&
                                                        filterData.end == 0
                                                "
                                                class="my-1"
                                            >
                                                Davr: Barchasi
                                            </h6>
                                            <h6
                                                v-if="
                                                    filterData.start != 0 &&
                                                        filterData.end != 0
                                                "
                                            >
                                                Davr: {{ filterData.start }} dan
                                                {{ filterData.end }} gacha
                                            </h6>
                                            <h6
                                                my-1
                                                v-if="filterData.lang == 'all'"
                                            >
                                                Til: Barchasi
                                            </h6>

                                            <h6 my-1 v-else>
                                                Til:
                                                <span
                                                    v-if="
                                                        filterData.lang == 'uz'
                                                    "
                                                >
                                                    O'zbekcha
                                                </span>
                                                <span
                                                    v-if="
                                                        filterData.lang == 'cy'
                                                    "
                                                >
                                                    Kiril
                                                </span>
                                                <span
                                                    v-if="
                                                        filterData.lang == 'ru'
                                                    "
                                                >
                                                    Ruscha
                                                </span>
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="table-responsive mt-3 uns">
                                        <table
                                            class="table table-centered table-nowrap mb-0"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    <td>#</td>
                                                    <th>Sarlavha</th>
                                                    <th>Bo'lim</th>
                                                    <th>Til</th>
                                                    <th class="px-0">
                                                        Ko'rishlar soni
                                                    </th>
                                                    <th>Yoqdi</th>
                                                    <th>Yoqmadi</th>
                                                    <th style="width:140px">
                                                        Qo'shilgan vaqti
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(item,
                                                    i) in exportData"
                                                    :key="item._id"
                                                >
                                                    <td>{{ i + 1 }}</td>
                                                    <td
                                                        style="max-width: 300px;overflow:hidden"
                                                    >
                                                        {{ item.title }}
                                                    </td>

                                                    <td>
                                                        <p
                                                            v-if="
                                                                item.catalog ==
                                                                    1
                                                            "
                                                        >
                                                            Bog’cha
                                                            tarbiyalanuvchilari
                                                            uchun huquqiy
                                                            qo’llanmalar
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.catalog ==
                                                                    2
                                                            "
                                                        >
                                                            Maktab o’quvchilari
                                                            uchun huquqiy
                                                            qo’llanmalar
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.catalog ==
                                                                    3
                                                            "
                                                        >
                                                            Maktab
                                                            o’qituvchilari uchun
                                                            huquqiy qo’llanmalar
                                                        </p>
                                                    </td>

                                                    <td>
                                                        <!-- {{ item.lang }} -->
                                                        <p
                                                            v-if="
                                                                item.lang ==
                                                                    'uz'
                                                            "
                                                        >
                                                            Lotin
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.lang ==
                                                                    'cy'
                                                            "
                                                        >
                                                            Krill
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.lang ==
                                                                    'ru'
                                                            "
                                                        >
                                                            Rus
                                                        </p>
                                                    </td>

                                                    <td>
                                                        <span>
                                                            <fa
                                                                icon="eye"
                                                                style="margin-right:10px;color:blue"
                                                            />
                                                            <p>
                                                                {{ item.views }}
                                                            </p>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            {{ item.helpful }}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            {{
                                                                item.notHelpful
                                                            }}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        {{
                                                            dateFormat(
                                                                item.createdAt
                                                            )
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr style="background: #f5f6f8">
                                                    <td>Jami</td>
                                                    <td>
                                                        {{ exportData.length }}
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <fa
                                                            icon="eye"
                                                            style="margin: 0px 0px;color:blue"
                                                        />
                                                        {{
                                                            exportData.length >
                                                            0
                                                                ? getTotal(
                                                                      "views"
                                                                  )
                                                                : ""
                                                        }}
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <h6>
                                                                <fa
                                                                    icon="thumbs-up"
                                                                    style="margin-right:10px;color:green"
                                                                />
                                                                {{
                                                                    exportData.length >
                                                                    0
                                                                        ? getTotal(
                                                                              "helpful"
                                                                          )
                                                                        : ""
                                                                }}
                                                            </h6>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <h6>
                                                            <fa
                                                                icon="thumbs-down"
                                                                style="margin-right:10px;color:red"
                                                            />
                                                            {{
                                                                exportData.length >
                                                                0
                                                                    ? getTotal(
                                                                          "notHelpful"
                                                                      )
                                                                    : ""
                                                            }}
                                                        </h6>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <div class="table-responsive">
                      <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                          <tr class="table-light">
                            <th class="total-td">
                              <h6 class="d-flex">
                                Jami: {{ exportData.length }}
                              </h6>
                            </th>
                            <th class=" total-td align-center">
                              <h6>
                                Jami ko'rishlar soni :
                                <fa
                                  icon="eye"
                                  style="margin: 0px 0px;color:blue"
                                />
                                {{
                                  exportData.length > 0 ? getTotal("views") : ""
                                }}
                              </h6>
                            </th>
                            <th>
                              <div>
                                <h6>
                                  <fa
                                    icon="thumbs-up"
                                    style="margin-right:10px;color:green"
                                  />
                                  {{
                                    exportData.length > 0
                                      ? getTotal("helpful")
                                      : ""
                                  }}
                                </h6>
                                <h6>
                                  <fa
                                    icon="thumbs-down"
                                    style="margin-right:10px;color:red"
                                  />
                                  {{
                                    exportData.length > 0
                                      ? getTotal("notHelpful")
                                      : ""
                                  }}
                                </h6>
                              </div>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                      </table>
                    </div> -->
                                    </div>
                                    <!-- end table-responsive -->
                                </div>
                            </vue-html2pdf>
                        </client-only>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import filterModal from "../../components/filterModal.vue";
import dateformat from "dateformat";
import XLSX from "xlsx";
export default {
    name: "User",
    head() {
        return {
            title: "Huquqiy adabiyotlar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        exportData: null,
        filterData: {
            lang: "all",
            catalog: 0,
            sort: "all",
            start: 0,
            end: 0
        },
        isOpenFilter: false,
        material: null,
        isDelete: false,

        id: "",
        catalog: 0,
        lang: "all",
        limit: 10,
        rank: "all",
        views: "all",
        page: 1,
        count: 1,
        search: "",
        news: null,
        filterDxa: null,
        visibleDxa: null
    }),
    components: {
        filterModal
    },
    async mounted() {
        await this.getData();
        await this.getExport();
    },
    methods: {
        async filterClick() {
            this.page = 1;
            this.getData();
            this.getExport();
        },

        async paginition(page) {
            this.page = page;
            await this.getData();
        },

        async getData() {
            this.search = "";
            let start = 0,
                end = 0;
            if (this.filterData.start != 0) {
                start = new Date(this.filterData.start);
                start = new Date(
                    start.getFullYear(),
                    start.getMonth(),
                    start.getDate(),
                    0,
                    0,
                    0
                ).toISOString();
            }
            if (this.filterData.end != 0) {
                end = new Date(this.filterData.end);
                end = new Date(
                    end.getFullYear(),
                    end.getMonth(),
                    end.getDate(),
                    23,
                    59,
                    59
                ).toISOString();
            }

            let news = await this.$axios.$get(
                `literature/all?lang=${this.filterData.lang}&sort=${this.filterData.sort}&catalog=${this.filterData.catalog}&page=${this.page}&limit=${this.limit}&end=${end}&start=${start}`
            );

            this.news = news.data;

            this.count = Math.ceil(news.count / this.limit);
        },

        getTotal(item) {
            const value = this.exportData.reduce((previous, current) => {
                return previous + current[item];
            }, 0);
            return value;
        },

        async getExport() {
            let start = 0,
                end = 0;
            if (this.filterData.start != 0) {
                start = new Date(this.filterData.start);
                start = new Date(
                    start.getFullYear(),
                    start.getMonth(),
                    start.getDate(),
                    0,
                    0,
                    0
                ).toISOString();
            }
            if (this.filterData.end != 0) {
                end = new Date(this.filterData.end);
                end = new Date(
                    end.getFullYear(),
                    end.getMonth(),
                    end.getDate(),
                    23,
                    59,
                    59
                ).toISOString();
            }

            let ex = await this.$axios.$get(
                `literature/export?lang=${this.filterData.lang}&sort=${this.filterData.sort}&catalog=${this.filterData.catalog}&end=${end}&start=${start}`
            );

            this.exportData = ex.data;
        },

        async searchData() {
            if (this.search != "") {
                let news = await this.$axios.$get(
                    `literature/search/${this.search}`
                );
                this.news = news.data;
                this.count = 1;
            } else {
                this.getData();
            }
        },

        exportFile() {
            this.$refs.showUser.classList.toggle("show");
        },
        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },

        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        openFilter() {
            console.log("filterFunc");
            this.isOpenFilter = true;
        },
        closeFilter() {
            this.isOpenFilter = false;
        },
        closeDelete() {
            this.isDelete = false;
        },

        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/literature/delete/" + this.id)
                .then(async res => {
                    this.getData();
                })
                .catch(err => {
                    console.log(err);
                });
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    }
};
</script>

<style lang="scss" scoped>
.uns {
    table {
        tbody {
            td:last-child {
                padding: 0;
                display: revert !important;
            }
        }
    }
    td {
        span {
            margin-bottom: 0;
        }
        h6 {
            margin-bottom: 0 !important;
        }
    }
}
.total-td {
    padding: 10px 10;
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
