<template>
    <div class="statistics" style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12 sta">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title mb-4">
                                Tashrif buyuruvchilar
                            </h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered  mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Vaqti</th>

                                        <th style="text-align:center;">Soni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user">
                                        <td>{{ user._id.slice(0, 10) }}</td>
                                        <td>
                                            {{ user.count }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <v-pagination
                            v-model="page"
                            :length="count"
                            :color="'#F43F1A'"
                            @input="setPage"
                        ></v-pagination>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Foydalanuvchilar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        page: 1,
        count: 1,
        limit: 20,
        type: "day",
        users: null
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, " dd mm yyyy HH:MM");
        },
        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `home/stats?type=${this.type}&page=${this.page}&limit=${this.limit}`
                );
                this.users = users.data;
            } catch (e) {
                console.log(e);
            }
        }
    },

    async mounted() {
        const response = await this.$axios.$get(
            `home/stats?type=${this.type}&page=${this.page}&limit=${this.limit}`
        );
        if (response.success) {
            this.count = Math.ceil(response.count / this.limit);
            this.users = response.data;
        }
    }
};
</script>

<style lang="scss" scoped>
.sta {
    .user-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(15, 11, 11, 0.589);
        z-index: -5;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        opacity: 0;
    }
    .user-modal {
        z-index: -5;
        margin-bottom: 8rem;
        border-radius: 8px;
        background: white;
        transition: transform 0.5s ease;
        padding: 2rem;
    }

    .black-opacity {
        z-index: 500;
        opacity: 1;
        position: fixed;
    }
    .showModal {
        transform: translateY(3rem);
        z-index: 1000;
        opacity: 1;
    }
    #cancel-icon {
        cursor: pointer;
    }

    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: red !important;
                color: #fff !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    tbody td {
        padding: 5px;
    }
    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
