<template>
    <div class="statistics" style="height: 100vh; background-color: #f5f6f8">
        <!-- <pre> {{ $auth.user }} </pre> -->

        <div
            :isOpenFilter="isOpenFilter"
            class="filter-wrapper"
            :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
        >
            <div
                ref="filterModal"
                :class="
                    isOpenFilter ? 'filter-modal show' : 'filter-modal hide'
                "
            >
                <div class="filter-header d-flex justify-content-between">
                    <h4 style="letter-spacing:2px">Filtr</h4>
                    <div
                        @click="isOpenFilter = false"
                        class="cancel material-icons "
                    >
                        close
                    </div>
                </div>
                <div class="filter-body">
                    <div class="form-group mt-5">
                        <h3 style="letter-spacing:3px" class=" mt-2">Davr</h3>
                    </div>
                    <div class="form-group">
                        <h6>Dan</h6>
                        <input
                            v-model="filterData.start"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="form-group">
                        <h6 class=" pt-2">gacha</h6>
                        <input
                            v-model="filterData.end"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="filter-btns">
                        <button
                            @click="isOpenFilter = false"
                            class="btn btn-danger mt-3"
                        >
                            Bekor qilish
                        </button>
                        <button
                            @click="clickFilter"
                            class="btn btn-primary mt-3"
                        >
                            Qidirish
                        </button>
                    </div>
                </div>
                <div class="filter-footer"></div>
            </div>
        </div>
        <div class="row my-4 mx-2">
            <div class="col-lg-12 sta">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body">
                        <div class="card-el flex">
                            <div>
                                <h4 class="card-title mb-4">
                                    Tashrif buyuruvchilar
                                </h4>
                            </div>
                            <div class="flex1">
                                <div class="input-search-z">
                                    <input
                                        v-model="text"
                                        type="text"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="searchData">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <div class="title-actions ">
                                    <button class="btn-exports btn-title ">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                    <button
                                        class="btn-filter btn-title "
                                        @click="openDelete"
                                    >
                                        <!-- <fa icon="filter" /> -->
                                        <span>Tozalash</span>
                                    </button>
                                    <button
                                        class="btn-filter btn-title mx-2 "
                                        @click="openFilter"
                                    >
                                        <fa icon="filter" />
                                        <span>Filtr</span>
                                    </button>
                                    <nuxt-link
                                        class="btn btn-primary"
                                        to="/statistics/daily"
                                        >Kunlik tashrif buyuruvchilar</nuxt-link
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered  mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Login</th>
                                        <th>Ip</th>
                                        <th>Region</th>
                                        <th style="text-align:center;">Vaqt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user">
                                        <td>{{ user.login }}</td>
                                        <td>
                                            {{ user.ip }}
                                        </td>
                                        <td>
                                            {{ user.region }}
                                        </td>
                                        <td>
                                            {{ user.createdAt.slice(0, 10) }}
                                            {{ user.createdAt.slice(11, 16) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <v-pagination
                            v-model="page"
                            :length="count"
                            :color="'#F43F1A'"
                            @input="setPage"
                            :total-visible="10"
                        ></v-pagination>
                        <!-- end table-responsive -->
                    </div>
                </div>
                <client-only>
                    <vue-html2pdf
                        :show-layout="false"
                        :float-layout="true"
                        :enable-download="true"
                        :paginate-elements-by-height="1400"
                        filename="pdfFile"
                        :pdf-quality="2"
                        :manual-pagination="true"
                        pdf-format="a4"
                        pdf-orientation="portrait"
                        pdf-content-width="800px"
                        ref="html2Pdf"
                    >
                        <div
                            slot="pdf-content"
                            ref="tableToExcel"
                            class="tableToExcel"
                            style="padding:2rem"
                        >
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4 class="mt-4">
                                        Tashrif buyuruvchilar
                                    </h4>
                                </div>
                            </div>

                            <div
                                style="display:block"
                                class="table-responsive uns"
                            >
                                <table
                                    ref="exportable_table"
                                    class="table table-centered table-nowrap mt-4 "
                                >
                                    <thead class="table-light">
                                        <tr>
                                            <th style="max-width:50px">
                                                #
                                            </th>
                                            <th class="py-0 px-0">
                                                Login
                                            </th>
                                            <th class="px-0 py-0">
                                                Ip
                                            </th>
                                            <th>
                                                Region
                                            </th>
                                            <th>
                                                Vaqt
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="(item, i) in dataex"
                                            :key="i"
                                        >
                                            <td>
                                                {{ i + 1 }}
                                            </td>
                                            <td>
                                                {{ item.login }}
                                            </td>
                                            <td>
                                                {{ item.ip }}
                                            </td>
                                            <td>
                                                {{ item.region }}
                                            </td>

                                            <td>
                                                {{ item.createdAt }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <div
                                            class="notfound"
                                            v-if="users.length == 0"
                                        >
                                            <p>Malumotlar mavjud emas</p>
                                        </div> -->
                            </div>
                        </div>
                    </vue-html2pdf>
                </client-only>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import table2Excel from "table2excel/dist/table2excel";
import XLSX from "xlsx";
export default {
    name: "User",
    head() {
        return {
            title: "Foydalanuvchilar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        isDelete: false,
        isOpenFilter: false,
        page: 1,
        count: 1,
        limit: 20,
        text: "",

        users: null,
        filterData: {
            start: 0,
            end: 0
        }
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, " dd mm yyyy HH:MM");
        },
        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        clickFilter() {
            this.page = 1;
            this.getData();
        },

        async getData() {
            // this.text = "";
            this.search = "";
            let start = 0,
                end = 0;
            if (this.filterData.start != 0) {
                start = new Date(this.filterData.start);
                start.setUTCHours(0, 0, 0, 0);
                start = new Date(start).toISOString();
            }
            if (this.filterData.end != 0) {
                end = new Date(this.filterData.end);
                end.setUTCHours(23, 59, 59, 999);
                end = new Date(end).toISOString();
            }

            // var start = new Date();
            // start.setUTCHours(0, 0, 0, 0);

            // var end = new Date();
            // end.setUTCHours(23, 59, 59, 999);
            let news = await this.$axios.$get(
                `visit/filter?page=${this.page}&limit=${this.limit}&end=${end}&start=${start}`
            );

            this.users = news.data;

            this.count = Math.ceil(news.count / this.limit);
        },

        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },
        openDelete() {
            this.isDelete = true;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/home/logs/rm")
                .then(async res => {
                    let users = await this.$axios.$get(
                        `/home/logs?page=1&limit=${this.limit}`
                    );
                    this.users = users.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        async searchData() {
            const response = await this.$axios.$get(
                `/visit/get?search=${this.text}&page=1&limit=${this.limit}`
            );
            if (response.success) {
                this.users = response.data;
                this.limit = response.count;
                this.count = Math.ceil(response.count / this.limit);
                console.log("res", this.users);
            }
        },
        openFilter() {
            console.log("filterFunc");
            this.isOpenFilter = true;
        },
        closeFilter() {
            this.isOpenFilter = false;
        },
        async setPage(page) {
            this.page = page;
            this.getData();
        },
        async export() {
            const response = await this.$axios.$get(`visit/export`);
            if (response.success) {
                this.dataex = response.data;
                console.log("as", this.dataex);
            }
        }
    },

    async mounted() {
        this.export();
        const response = await this.$axios.$get(
            `visit/all?page=${this.page}&limit=${this.limit}`
        );
        if (response.success) {
            this.count = Math.ceil(response.count / this.limit);
            this.users = response.data;
        }
    }
};
</script>

<style lang="scss" scoped>
.uns {
    table {
        tbody {
            td:last-child {
                padding: 0 !important;
                display: unset !important;
            }
        }
    }
}
.card-title {
    margin-bottom: 0 !important;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex1 {
    display: flex;
    align-items: center;
}
.sta {
    .user-modal-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(15, 11, 11, 0.589);
        z-index: -5;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        align-items: center;
        opacity: 0;
    }
    .user-modal {
        z-index: -5;
        margin-bottom: 8rem;
        border-radius: 8px;
        background: white;
        transition: transform 0.5s ease;
        padding: 2rem;
    }

    .black-opacity {
        z-index: 500;
        opacity: 1;
        position: fixed;
    }
    .showModal {
        transform: translateY(3rem);
        z-index: 1000;
        opacity: 1;
    }
    #cancel-icon {
        cursor: pointer;
    }

    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: red !important;
                color: #fff !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    tbody td {
        padding: 5px;
    }
    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
