<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Savol-javob qo'shish</h4>
                        </div>
                        <v-row>
                            <v-col md="6" lg="6" class="form">
                                <p class="mt-3">Til</p>
                                <select
                                    class="form-select"
                                    v-model="question.lang"
                                    aria-placeholder="Select Lesson"
                                >
                                    <option value="uz">
                                        Lotincha
                                    </option>
                                    <option value="cy">
                                        Krilcha
                                    </option>
                                    <option value="ru">
                                        Ruscha
                                    </option>
                                </select>
                            </v-col>
                        </v-row>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Savol</p>
                                <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    cols="20"
                                    rows="5"
                                    v-model="question.question"
                                ></textarea>
                            </div>
                            <div class="col-md-6">
                                <p>Javob</p>
                                <textarea
                                    class="form-control"
                                    name=""
                                    id=""
                                    cols="20"
                                    rows="5"
                                    v-model="question.answer"
                                ></textarea>
                            </div>
                        </div>

                        <div class="btns">
                            <button class="btn">Bekor qilish</button>
                            <button class="btn" @click="create">
                                Qo'shish
                            </button>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        tabIndex: 1,
        problem: null,
        question: {
            lang: "uz",
            catalog: 0,
            question: "",
            answer: ""
        }
    }),
    methods: {
        async create() {
            if (this.question.question.length == 0) {
                return this.$toast.error("Savolni kiriting!!!");
            }

            if (this.question.answer.length == 0) {
                return this.$toast.error("Javobni kiriting!!!");
            }

            this.$toast.success("Savol javob qoshildi");
            const pp = parseInt(this.$route.query.param);
            this.question.catalog = pp;
            //   console.log(pp);
            await this.$axios
                .$post("/problem-faq/add", this.question)
                .then(res => {
                    this.$router.push({
                        name: "problems-question",
                        query: { param: this.$route.query.param }
                    });
                    console.log("ok", this.question);
                })
                .catch(err => {
                    console.log(err);
                });
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    }
};
</script>

<style lang="scss">
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        margin-top: 5px;
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 0px 0 !important;
        // padding-right: 0;
        a {
            background: #4c4ce9;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px;
        }
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab {
    margin-top: 30px;
    width: 410px;

    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;

        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
</style>
