<template>
    <div class="question">
        <div style="height: 100vh; background-color: #f5f6f8">
            <div class="row my-4 mx-2">
                <div class="col-lg-12">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card">
                        <div class="card-body" v-if="problem != null">
                            <div class="card-el">
                                <h4 class="card-title ">Savol-javob</h4>

                                <div class="right">
                                    <nuxt-link
                                        class="btn-add btn btn-primary  "
                                        :to="{
                                            name: 'problems-question-create',
                                            query: { param: $route.query.param }
                                        }"
                                    >
                                        Savol-javob qo'shish</nuxt-link
                                    >
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table
                                    class="table table-centered table-nowrap mb-0"
                                >
                                    <thead class="table-light">
                                        <tr>
                                            <th>Savol</th>

                                            <th>Til</th>

                                            <th>Qo'shilgan vaqti</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="item in problem" :key="item">
                                        <tr>
                                            <td>
                                                {{ item.question }}
                                            </td>

                                            <td>
                                                <!-- {{ item.lang }} -->
                                                <p v-if="item.lang == 'uz'">
                                                    Lotin
                                                </p>
                                                <p v-if="item.lang == 'cy'">
                                                    Krill
                                                </p>
                                                <p v-if="item.lang == 'ru'">
                                                    Rus
                                                </p>
                                            </td>

                                            <td>
                                                {{ dateFormat(item.createdAt) }}
                                            </td>

                                            <td>
                                                <nuxt-link
                                                    :to="{
                                                        name:
                                                            'problems-question-edit-id',
                                                        params: {
                                                            id: item._id
                                                        },
                                                        query: {
                                                            parent:
                                                                $route.query
                                                                    .param
                                                        }
                                                    }"
                                                    class="action-btn"
                                                >
                                                    <i class="material-icons"
                                                        >edit</i
                                                    >
                                                </nuxt-link>

                                                <button
                                                    class="action-btn"
                                                    @click="
                                                        openDelete(item._id)
                                                    "
                                                >
                                                    <i class="material-icons"
                                                        >delete</i
                                                    >
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div
                                    class="notfound"
                                    v-if="problem.length == 0"
                                >
                                    <p>Malumotlar mavjud emas</p>
                                </div>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        problem: null,
        isDelete: false,
        id: ""
    }),
    methods: {
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/problem-faq/delete/" + this.id)
                .then(async res => {
                    let problem = await this.$axios.$get(
                        "problem-theme/faq/" + this.$route.query.param
                    );
                    this.problem = problem.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    },
    async mounted() {
        let problem = await this.$axios.$get(
            "problem-theme/faq/" + this.$route.query.param
        );
        this.problem = problem.data;
        // console.log("problem", this.problem[0]._id);
    }
};
</script>

<style lang="scss">
.question {
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    tbody {
        .action-btn {
            margin-top: 5px;
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 0px 0 !important;
            // padding-right: 0;
            a {
                background: #4c4ce9;
                padding: 0 !important;
                border-radius: 5px;
                color: #fff;
                margin-right: 10px;
            }
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
