<template>
  <div>
    <div :class="isDelete ? 'fixvh block-fh' : 'fixvh'"></div>
    <div :class="isDelete ? 'my-modalDelete open-modal' : 'my-modal'">
      <div class="delete pa-5 pb-0">
        <p>
          Ishonchingiz komilmi
        </p>
        <div>
          <div class="">
            <v-btn color="silver" class="otmena" @click="$emit('closeDelete')"
              >Bekor qilish</v-btn
            >
            <v-btn class="red" @click="$emit('deleteRequest')">O'chirish</v-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isDelete: {
      type: Boolean
    }
  }
};
</script>

<style lang="scss">
.delete {
  padding: 20px;
  p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.silver {
  margin-right: 10px;
}
.red {
  background: red !important;
  color: #fff !important;
}
div.my-modalDelete {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-bottom: 20px;
  width: 320px;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2515;
  transition: 0.3s;
}
div.fixvh {
  position: fixed;
  z-index: 2011;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: none;
}
div.my-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%) scale(0);
  z-index: 25;
  transition: 0.3s;
}

.block-fh {
  display: block !important;
}
.open-modal {
  transform: translate(-50%, -50%) scale(1) !important;
}
</style>
