<template>
    <div
        class="filter-wrapper"
        :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
    >
        <div
            ref="filterModal"
            :class="isOpenFilter ? 'filter-modal show' : 'filter-modal hide'"
        >
            <div class="filter-header d-flex justify-content-between">
                <h4 style="letter-spacing:2px">Filter</h4>
                <div
                    @click="$emit('closeFilter')"
                    class="cancel material-icons "
                >
                    close
                </div>
            </div>
            <div class="filter-body">
                <div class="form-group mb-2">
                    <h6>Til</h6>
                    <select
                        v-model="filter.lang"
                        class="form-select"
                        aria-label="Default select example"
                    >
                        <option selected value="all">Barchasi</option>
                        <option value="uz">Lotincha</option>
                        <option value="ru">Ruscha</option>
                        <option value="cy">Krilcha</option>
                    </select>
                </div>

                <div class="form-group">
                    <h6>Ko'rishlar bo'yicha</h6>
                    <select
                        v-model="filter.sort"
                        class="form-select"
                        aria-label="Default select example"
                    >
                        <option selected value="all">Barchasi</option>
                        <option value="up">Eng ko'p ko'rilgan</option>
                        <option value="down">Eng kam ko'rilgan</option>
                    </select>
                </div>

                <div class="form-group mt-5">
                    <h3 style="letter-spacing:3px" class=" mt-2">Davr</h3>
                </div>
                <div class="form-group">
                    <h6>Dan</h6>
                    <input
                        v-model="filter.from"
                        class="form-control mt-2"
                        type="date"
                    />
                </div>
                <div class="form-group">
                    <h6 class=" pt-2">gacha</h6>
                    <input
                        v-model="filter.to"
                        class="form-control mt-2"
                        type="date"
                    />
                </div>
                <div class="filter-btns">
                    <button
                        @click="$emit('closeFilter')"
                        class="btn btn-danger mt-3"
                    >
                        Bekor qilish
                    </button>
                    <button
                        @click="$emit('searchFilterdData', filter)"
                        class="btn btn-primary mt-3"
                    >
                        Qidirish
                    </button>
                </div>
            </div>
            <div class="filter-footer"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: "filterModal",
    data: () => ({
        filter: {
            lang: "all",
            sort: "all",
            from: "",
            to: ""
        }
    }),
    methods: {
        toogleFilter() {}
    },
    props: ["isOpenFilter"]
};
</script>

<style lang="scss" scoped>
.filter-wrapper {
    position: absolute;
    width: calc(100% - 250px);
    float: right;
    min-height: 100vh;
    z-index: -5;
}
.filter-modal {
    position: fixed;
    padding: 35px 15px 15px 15px;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
    background-color: white;
    box-shadow: -8px -9px 9px -7px rgba(170, 168, 212, 0.75);
    width: 280px;
    transition: transform 0.6s ease;
}
.filter-btns {
    display: flex;
    justify-content: space-between;
    button {
        width: calc((100% - 10px) / 2) !important;
    }
}
.hide {
    transform: translateX(280px);
}
.show {
    transform: translateX(0);
}
.cancel {
    cursor: pointer;
}
</style>
