<template>
    <div>
        <div class="loading-center" v-if="isLoading">
            <div class="loading-inner">
                <hollow-dots-spinner
                    :animation-duration="700"
                    :size="100"
                    :color="'#5b73e8'"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { AtomSpinner } from "epic-spinners";
export default {
    components: {
        "hollow-dots-spinner": AtomSpinner
    },
    computed: {
        isLoading() {
            return this.$store.state.isLoading;
        }
    }
};
</script>

<style lang="scss">
div.loading-center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10001;
    background: rgba($color: #fff, $alpha: 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>