<template>
    <div>
   <div ref="blackOpacity" class="user-modal-container">
      <div ref="modal" class="user-modal">
        <div class="d-flex justify-content-between">
              <h4>Foydalanuvchi qoshish</h4>
              <i id="cancel-icon" @click="toogleModal" class="material-icons"
                >cancel</i
              >
            </div>
        <form>
          <div class="form-group col-md-12">
          
            <label for="fullName">F.I.O</label>
            <input
              required
              v-model="userData.fullName"
              type="text"
              class="form-control"
              id="fullName"
            />
          </div>
          <div class="form-group d-flex justify-content-between">
            <div class="col-md-6">
              <label for="postAdress">Pochta manzili</label>
              <input
                required
                v-model="userData.email"
                type="email"
                class="form-control"
                id="postAdress"
              />
            </div>
            <div class="col-md-6">
              <label for="role">Rol</label>
              <select
                required
                v-model="userData.role"
                class="form-control"
                id="role"
              >
                <option>Admin</option>
                <option>Moderator</option>
                <option value="user">Foydalanuvchi</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="col-md-6 py-0">
              <label for="login">Login</label>
              <input
                required
                v-model="userData.login"
                type="text"
                class="form-control"
                id="login"
              />
            </div>

            <div class="col-md-6 py-0">
              <label for="parol">Parol</label>
              <input
                required
                v-model="userData.password"
                type="password"
                class="form-control"
                id="parol"
              />
            </div>
          </div>

          <input
            @submit.prevent="createUser"
            type="submit"
            class="btn btn-primary mt-4 text-white text-center"
            value="send"
          />
        </form>
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        name:"Modal"
    }
</script>

<style lang="scss" scoped>

</style>