<template>
    <div style="min-height:100vh;">
        <div class="">
            <div ref="menu" class="sidebar bg-white">
                <div class="sidebar-header d-flex justify-content-between">
                    <div class="logo">ADMIN</div>
                </div>

                <div id="sidebar-menu">
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li v-ripple>
                            <nuxt-link
                                to="/"
                                class="d-flex justify-content-between"
                            >
                                <span>
                                    <i class="material-icons">
                                        dashboard
                                    </i>
                                    <span>Dashboard</span>
                                </span>
                            </nuxt-link>
                        </li>

                        <li v-ripple v-if="$auth.user.userType == 'admin'">
                            <nuxt-link to="/users" active-class="text-primary">
                                <i class="material-icons">
                                    people
                                </i>
                                <span>Foydalanuvchilar</span>
                            </nuxt-link>
                        </li>

                        <li v-ripple v-if="$auth.user.userType == 'admin'">
                            <nuxt-link
                                to="/statistics"
                                active-class="text-primary"
                            >
                                <i class="material-icons">
                                    insert_chart
                                </i>
                                <span>Statistika</span>
                            </nuxt-link>
                        </li>
                        <li v-ripple v-if="$auth.user.userType == 'admin'">
                            <nuxt-link to="/logs" active-class="text-primary">
                                <i class="material-icons">
                                    insert_chart
                                </i>
                                <span>Logs</span>
                            </nuxt-link>
                        </li>
                        <li v-ripple>
                            <nuxt-link to="/rss" active-class="text-primary">
                                <i class="material-icons">
                                    rss_feed
                                </i>
                                <span>Rss obunachilar</span>
                            </nuxt-link>
                        </li>
                        <li v-ripple>
                            <nuxt-link
                                to="/settings"
                                active-class="text-primary"
                            >
                                <i class="material-icons">
                                    settings
                                </i>
                                <span>Sozlamalar</span>
                            </nuxt-link>
                        </li>
                        <li v-ripple>
                            <nuxt-link to="/errors" active-class="text-primary">
                                <i class="material-icons">
                                    error
                                </i>
                                <span>Xatoliklar</span>
                            </nuxt-link>
                        </li>
                        <li>
                            <a
                                id="ul1"
                                @click.passive="event => showSubMenu(event)"
                                href="javascript: void(0);"
                                v-ripple
                                class="has-arrow"
                                >Bo'limlar</a
                            >
                            <ul
                                ref="ul1"
                                class="my-0 sub-menu mm-collapse mm-show"
                            >
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/news"
                                    >
                                        <span>Yangiliklar</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/promote"
                                    >
                                        <span>Targ'ibot materiallari</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/test"
                                    >
                                        <span>Online Sinovlar</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/literatures"
                                    >
                                        <span>Huquqiy adabiyotlar</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/problems"
                                    >
                                        <span>Huquqiy muammolar yechimi</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/phone"
                                    >
                                        <span>Ishonch raqamlar</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/legaleducation"
                                    >
                                        <span>Yuridik ta'lim</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/dictionary"
                                    >
                                        <span>Yuridik lug'at</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/dxa"
                                    >
                                        <span
                                            >Aholiga xizmat ko'rsatish
                                            markazlari</span
                                        >
                                    </nuxt-link>
                                </li>

                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/courses"
                                    >
                                        <span>Bepul onlayn kurslar</span>
                                    </nuxt-link>
                                </li>

                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/libraries"
                                    >
                                        <span>Elektron kitoblar</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/videos"
                                    >
                                        <span>Videoroliklar</span>
                                    </nuxt-link>
                                </li>
                                <li>
                                    <nuxt-link
                                        v-ripple
                                        active-class="text-primary"
                                        to="/portals"
                                    >
                                        <span>Havolalar</span>
                                    </nuxt-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div ref="header" class="Header d-flex flex-column">
                <div
                    ref="headers"
                    class="header-content d-flex justify-content-between"
                >
                    <div class="admin"><h4>Admin markaz</h4></div>
                    <div class="header-user account" @click="showUserData">
                        <div class="dropdown d-inline-block">
                            <button
                                type="button"
                                class="btn header-item waves-effect"
                                id="page-header-user-dropdown"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <span
                                    class="d-none d-xl-inline-block ms-1 fw-medium font-size-15"
                                    >{{ $store.state.auth.user.fullName }}</span
                                >
                                <i
                                    class="uil-angle-down d-none d-xl-inline-block font-size-15"
                                ></i>
                            </button>
                            <div
                                ref="showUser"
                                class="dropdown-menu dropdown-menu-end"
                            >
                                <a class="dropdown-item" href="#"
                                    ><i
                                        class="uil uil-user-circle font-size-18 align-middle text-muted me-1"
                                    ></i>
                                    <span class="align-middle">Profile</span></a
                                >
                                <a
                                    @click="logout"
                                    class="dropdown-item"
                                    href="javascript: void(0);"
                                    ><i
                                        class="uil uil-wallet font-size-18 align-middle me-1 text-muted"
                                    ></i>
                                    <span class="align-middle">Chiqish</span></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <Nuxt class="dashboard-box" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Sidebar",
    components: {},
    data: () => ({
        hide: true
    }),
    methods: {
        toggleHamburger() {
            this.$refs.menu.classList.toggle("hide");
            this.hide = this.hide ? false : true;
            if (!this.hide) {
                (this.$refs.headers.style.width = "calc(100% - 50px)"),
                    (this.$refs.icon_menu.style.display = "block !important");
                return (this.$refs.header.style.cssText = `padding-left: 50px !important;

  `);
                // paddingLeft = "50px");
            }
            this.$refs.header.style.paddingLeft = "248px";
            this.$refs.headers.style.width = "calc(100% - 250px)";
        },
        showSubMenu() {
            this.$refs.ul1.classList.toggle("mm-show");
        },
        showUserData() {
            this.$refs.showUser.classList.toggle("show");
        },
        logout() {
            this.$auth.logout();
        }
    }
};
</script>

<style scoped>
.admin {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.logo {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5b73e8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
ul {
    margin: 1rem 0;
}

.Header {
    transition: padding 0.4s ease;
    padding-left: 248px;
    display: flex;
    flex: 1;
    /* height: 100vh; */
}
.menu-items {
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;
}

.header-content {
    position: fixed;
    width: calc(100% - 250px);
    z-index: 123;
    height: 70px;
    background-color: white;
    padding-right: 4rem;
    box-shadow: 0 0px 10px -2px rgba(124, 110, 124, 0.74);
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    min-height: 100vh;
    z-index: 180;
    transition: transform 0.4s ease;
    box-shadow: 0px 0px 2px 0px rgba(172, 103, 194, 0.75);
}
.sub-menu {
    padding: 0 20px !important;
}
.sub-menu li a {
    padding: 10px 20px !important;
    padding-right: 2px;
}

.sub-menu li a:focus-visible {
    background: #5b73e8 !important;
    color: #fff !important;
}

.hide {
    transform: translateX(-200px);
}

.hamburger {
    cursor: pointer;
    font-size: 20px;
    margin: 25px 20px;
}

.logo {
    text-align: center;
    font-size: 2rem;
    margin: 0 30px;
    font-weight: 600;
}
#ul1 {
    margin-right: 2rem;
}
</style>
