<template>
  <div>
    <div style="height: 100vh; background-color: #f5f6f8">
      <div class="dxa-add">
        <div class="container-new">
          <div class="card">
            <div class="head">
              <h1>Lug'at qo'shish</h1>
            </div>

            <div class="col-md-6 mt-4">
              <p>Tilni tanlang</p>
              <select
                class="form-select"
                v-model="dictionary.lang"
                aria-placeholder="Select Lesson"
              >
                <option value="uz">
                  Lotincha
                </option>
                <option value="cy">
                  Krilcha
                </option>
                <option value="ru">
                  Ruscha
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <p>Termin nomi</p>
              <input
                v-model="dictionary.term"
                class="form-control"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <p>Termin izohi</p>
              <textarea
                v-model="dictionary.description"
                class="form-control"
                type="text"
              />
            </div>

            <div class="btns">
              <button class="btn">Bekor qilish</button>
              <button class="btn" @click="create">Qo'shish</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    tabIndex: 1,
    tab: null,
    dictionary: {
      lang: "",
      term: "",
      description: ""
    }
  }),

  async mounted() {
    let dictionary = await this.$axios.$get(
      "/legal-glossary/" + this.$route.params.id
    );
    this.dictionary = dictionary.data;
    console.log("dictionary", this.dictionary);
  },
  methods: {
    changeTabIndex(index) {
      this.tabIndex = index + 1;
    },
    async create() {
      await this.$axios
        .$put(
          "/legal-glossary/update/" + this.$route.params.id,
          this.dictionary
        )
        .then(res => {
          this.$router.push("/dictionary");
          console.log("ok", this.dictionary);
        })
        .catch(err => {
          "error";
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.dxa-add {
  padding: 20px;
  background-color: rgb(245, 246, 248);
  .btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      padding: 10px 20px;
      color: #fff;
      &:first-child {
        background-color: #666666;
        margin-right: 20px;
      }
      &:last-child {
        background-color: #5b73e8;
      }
    }
  }
  .head {
    margin-bottom: 20px;
  }
  .card {
    padding: 20px;
  }
  p {
    margin-bottom: 0;
  }
}
.tab {
  margin-top: 30px;
  width: 410px;

  ul {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    padding-left: 0 !important;

    button {
      padding: 10px 20px;
      transition: 0s !important;
      cursor: pointer;
      background: transparent;
      border: 0;
      position: relative;
      font-weight: 500;
      border-radius: 0 !important;
      font-size: 20px;
      line-height: 26px;

      color: #666666;
      // &:first-child {
      //   padding-left: 0;
      // }
    }
  }
}

.tab-active {
  color: #fff !important;
  background: #5b73e8 !important;
}
</style>
