<template>
  <div style="height: 100vh; background-color: #f5f6f8">
    <confirmModal
      @deleteRequest="removeCategory"
      @closeDelete="closeConfirm"
      :isDelete="isConfirmOpen"
    />
    <div ref="blackOpacity" class="user-modal-container">
      <div ref="modal" class="user-modal">
        <div class="d-flex justify-content-between">
          <h4>Bo'lim qo'shish</h4>
          <i id="cancel-icon" @click="toogleModal" class="material-icons"
            >cancel</i
          >
        </div>

        <div class="form-group">
          <label for="fullName">Bo'lim(uz)</label>
          <input
            required
            v-model="name.uz"
            type="text"
            class="form-control"
            id="fullName"
          />
        </div>
        <div class="form-group">
          <label for="fullName">Bo'lim (ru)</label>
          <input
            required
            v-model="name.ru"
            type="text"
            class="form-control"
            id="fullName"
          />
        </div>
        <div class="form-group">
          <label for="fullName">Bo'lim(cy)</label>
          <input
            required
            v-model="name.cy"
            type="text"
            class="form-control"
            id="fullName"
          />
        </div>

        <div v-if="isAddCategory" class="d-flex justify-content-center mt-3">
          <button @click="createCategory" class="btn btn-primary">
            Qo'shish
          </button>
        </div>
        <div v-else class="d-flex justify-content-center mt-3">
          <button @click="updateCategory" class="btn btn-primary">
            Saqlash
          </button>
        </div>
      </div>
    </div>

    <div class="row my-4 mx-2">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body" v-if="news != null">
            <div class="card-el">
              <h4 class="card-title ">Bo'limlar</h4>

              <div class="right">
                <!-- <div class="search">
                  <input type="search" placeholder="Izlash..." />
                </div> -->

                <button
                  class="btn-add btn btn-primary  mx-4"
                  @click="toogleModal"
                >
                  Qo'shish
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0">
                <thead class="table-light">
                  <tr>
                    <th>Nomi</th>
                    <th>Qo'shilgan vaqti</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody v-for="item in news" :key="item.id">
                  <tr>
                    <td>
                      {{ item.name.uz }}
                    </td>

                    <td>
                      {{ dateFormat(item.createdAt) }}
                    </td>

                    <td>
                      <button
                        @click="getToUpdateOrganization(item)"
                        class="action-btn"
                      >
                        <i class="material-icons">edit</i>
                      </button>

                      <button @click="openConfirm(item._id)" class="action-btn">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dateformat from "dateformat";
import confirmModal from "../../components/Delete.vue";
export default {
  name: "User",
  data: () => ({
    isConfirmOpen: false,
    id: "",
    name: {
      uz: "",
      ru: "",
      cy: ""
    },
    isAddCategory: false,
    categoryId: "",
    news: null
  }),
  components: {
    confirmModal
  },
  methods: {
    async getAllCategories() {
      let news = await this.$axios.$get("/books-catalog/all");
      console.log(news);
      this.news = news.data;
    },

    dateFormat(date) {
      let date1 = dateformat(date, "isoDate");
      date1 = date1.split("-").reverse();
      date1 = date1.join(".");
      return date1;
    },

    toogleModal(value) {
      if (value) {
        this.isAddCategory = true;
        this.name = {};
      }
      this.$refs.blackOpacity.classList.toggle("black-opacity");
      this.$refs.modal.classList.toggle("showModal");
    },

    getToUpdateOrganization(categoryData) {
      this.name = { ...categoryData.name };
      this.id = categoryData._id;
      this.toogleModal(false);
    },
    async updateCategory() {
      this.isAddCategory = false;
      const data = {
        name: this.name
      };

      const response = await this.$axios.$put(
        `/books-catalog/update/${this.id}`,
        data
      );
      if (response.success) {
        this.$toast.success("Bo'lim ozgartirildi");
        this.toogleModal(true);
        this.getAllCategories();
      }
    },
    async createCategory() {
      console.log(this.name);
      const data = {
        name: this.name
      };
      const response = await this.$axios.$post("books-catalog/add", data);

      if (response.success) {
        this.$toast.success("Bo'lim qoshildi");
        this.getAllCategories(), this.toogleModal(true);
      }
    },
    openConfirm(id) {
      this.id = id;
      this.isConfirmOpen = true;
    },
    closeConfirm() {
      this.isConfirmOpen = false;
    },

    async removeCategory() {
      const response = await this.$axios.$delete(
        `/books-catalog/delete/${this.id}`
      );
      if (response.success) {
        this.$toast.success("Categoriya ochirildi");
        this.closeConfirm();
        this.getAllCategories();
      }
    }
  },

  mounted() {
    this.getAllCategories();
  }
};
</script>

<style lang="scss" scoped>
.user-modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 11, 11, 0.589);
  z-index: -5;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  align-items: center;
  opacity: 0;
}
.user-modal {
  opacity: 0;
  width: 500px;

  z-index: -5;
  margin-bottom: 8rem;
  border-radius: 8px;
  background: white;
  transition: transform 0.5s ease;
  padding: 2rem;
}

.black-opacity {
  z-index: 500;
  opacity: 1;
  position: fixed;
}
.showModal {
  transform: translateY(3rem);
  z-index: 1000;
  opacity: 1;
}
#cancel-icon {
  cursor: pointer;
}

.card-el {
  margin-bottom: 20px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search {
    margin-right: 20px;
    input {
      height: 34px;
      border: 1px solid #999991;
      border-radius: 5px;
      padding: 10px;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
tbody {
  .phone-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px !important;
    background: #49c609;
    margin-right: 5px !important;
  }
  .action-btn {
    i {
      padding: 3px !important;
      border-radius: 5px;
      padding-bottom: 0;
    }
  }
  .action-btn:first-child {
    margin-right: 5px;
    i {
      background-color: blue;
      color: #fff;
      // background: ;
    }
  }
  .action-btn:last-child {
    i {
      background-color: #ebd7d7;
      color: red;
    }
  }
  td {
    img {
      width: 80px;
      height: 60px;
    }
    p {
      margin: 0 !important;
    }
  }
  td:last-child {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 30px 0;
    // padding-right: 0;
  }
}

.buttons {
  margin-left: 10px;
}
.card-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
