<template>
    <div style="height: 100vh; background-color: #f5f6f8" v-if="news != null">
        <Delete
            @deleteRequest="deleteRequest"
            @closeDelete="closeDelete"
            :isDelete="isDelete"
        />
        <div
            class="filter-wrapper"
            :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
        >
            <div
                ref="filterModal"
                :class="
                    isOpenFilter ? 'filter-modal show' : 'filter-modal hide'
                "
            >
                <div class="filter-header d-flex justify-content-between">
                    <h4 style="letter-spacing:2px">Filter</h4>
                    <div @click="closeFilter" class="cancel material-icons ">
                        close
                    </div>
                </div>
                <div class="filter-body">
                    <div class="form-group"></div>
                    <div class="my-2">
                        <h6>Til</h6>
                        <select
                            class="form-select "
                            v-model="filterData.lang"
                            aria-placeholder="Select Lesson"
                        >
                            <option value="all">
                                Barchasi
                            </option>
                            <option value="uz">
                                Lotincha
                            </option>
                            <option value="cy">
                                Krilcha
                            </option>
                            <option value="ru">
                                Ruscha
                            </option>
                        </select>
                    </div>

                    <!-- <div class="my-2">
                        <h6>Bo'limlar</h6>

                        <select
                            v-model="filterData.category"
                            class="form-select"
                        >
                            <option value="all">Barchasi</option>
                            <option
                                v-for="item in news"
                                :value="item.catalog"
                                :key="item._id"
                                style="text-overflow:ellipsis "
                            >
                                {{ item.title }}
                            </option>
                        </select>
                    </div> -->

                    <div class="my-2">
                        <h6>Saralash</h6>

                        <select v-model="filterData.sort" class="form-select ">
                            <option value="all">Barchasi</option>
                            <option value="up">Eng ko'p ko'rilgan</option>
                            <option value="down">Eng kam ko'rilgan</option>
                            <option value="upd">Eng ko'p yuklangan</option>
                            <option value="downd">Eng kam yuklangan</option>
                        </select>
                    </div>

                    <!-- <div class="my-2">
                        <h6>Yuklanishlar</h6>

                        <select v-model="filter.download" class="form-select ">
                            <option value="all">Barchasi</option>
                            <option value="up">Eng ko'p yuklangan</option>
                            <option value="down">Eng kam yuklangan</option>
                        </select>
                    </div> -->

                    <div class="form-group mt-5">
                        <h3 style="letter-spacing:3px" class=" mt-2">Davr</h3>
                    </div>
                    <div class="form-group">
                        <h6>Dan</h6>
                        <input
                            v-model="filterData.from"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="form-group">
                        <h6 class=" pt-2">gacha</h6>
                        <input
                            v-model="filterData.to"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="filter-btns">
                        <button
                            @click="closeFilter"
                            class="btn btn-danger mt-3"
                        >
                            Bekor qilish
                        </button>
                        <button
                            @click="filterClick"
                            class="btn btn-primary mt-3"
                        >
                            Qidirish
                        </button>
                    </div>
                </div>
                <div class="filter-footer"></div>
            </div>
        </div>
        <div ref="blackOpacity" class="user-modal-container">
            <div ref="modal" class="user-modal">
                <div class="d-flex justify-content-between">
                    <h4>Categoriya qo'shish</h4>
                    <i
                        id="cancel-icon"
                        @click="toogleModal"
                        class="material-icons"
                        >cancel</i
                    >
                </div>

                <div class="form-group">
                    <label for="fullName">Categoriya (uz)</label>
                    <input
                        required
                        v-model="categoryBook.uz"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div class="form-group">
                    <label for="fullName">Categoriya (ru)</label>
                    <input
                        required
                        v-model="categoryBook.ru"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div class="form-group">
                    <label for="fullName">Categoriya (cy)</label>
                    <input
                        required
                        v-model="categoryBook.cy"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div
                    v-if="isAddOrganization"
                    class="d-flex justify-content-center mt-3"
                >
                    <button class="btn btn-primary">
                        Qo'shish
                    </button>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Elektron kitoblar</h4>

                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="text"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="searchData">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>

                                <div class="title-actions">
                                    <button class="btn-exports btn-title">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                    <button
                                        class="btn-filter btn-title"
                                        @click="openFilter"
                                    >
                                        <fa icon="filter" /> <span>Filtr</span>
                                    </button>
                                </div>

                                <div>
                                    <nuxt-link
                                        class="btn-add btn btn-primary "
                                        style="margin-right:10px"
                                        to="/libraries/category"
                                        >Bo'limlar</nuxt-link
                                    >
                                </div>
                                <nuxt-link
                                    class="btn-add btn btn-primary "
                                    to="/libraries/addbook"
                                    >Kitob qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Rasm</th>
                                        <th>Sarlavha</th>
                                        <th>Bo'lim</th>
                                        <th>Natija</th>
                                        <th>Ko'rilgan</th>
                                        <th>Til</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="visibleDxa.length > 0">
                                    <tr
                                        v-for="item in visibleDxa"
                                        :key="item.id"
                                    >
                                        <td style="max-width:40px">
                                            <img
                                                :src="
                                                    $store.state.uploads +
                                                        item.image
                                                "
                                            />
                                        </td>
                                        <td style="max-width:200px">
                                            {{ item.title }}
                                        </td>
                                        <td>
                                            {{ item.catalog.name.uz }}
                                        </td>
                                        <td style="min-width:50px">
                                            <span>
                                                <i class="material-icons up"
                                                    >cloud_download</i
                                                >
                                                <p>
                                                    {{ item.downloads }}
                                                </p>
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="material-icons eye"
                                                    >visibility</i
                                                >
                                                <p>
                                                    {{ item.view }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td style="max-width:100px">
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'libraries-editbook-id',
                                                    params: { id: item.slug },
                                                    query: { lang: item.lang }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                class=" action-btn"
                                                @click="openDelete(item._id)"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>

                        <client-only>
                            <vue-html2pdf
                                :show-layout="false"
                                :float-layout="true"
                                :enable-download="true"
                                :paginate-elements-by-height="1400"
                                filename="pdfFile"
                                :pdf-quality="2"
                                :manual-pagination="true"
                                pdf-format="a4"
                                pdf-orientation="portrait"
                                pdf-content-width="800px"
                                ref="html2Pdf"
                            >
                                <div
                                    ref="tableToExcel"
                                    class="table-responsive"
                                    slot="pdf-content"
                                    style="padding:2rem"
                                >
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="mt-4">
                                                Elektron kitoblar statistikasi
                                            </h4>

                                            <h6
                                                v-if="
                                                    filterDxa.from &&
                                                        filterDxa.to
                                                "
                                                class="my-1"
                                            >
                                                Davr: {{ filterDxa.from }} dan
                                                {{ filterDxa.to }} gacha
                                            </h6>
                                            <h6 v-else>Davr: Barchasi</h6>
                                            <h6 class="my-1">
                                                Til:
                                                {{
                                                    filterData.lang == "all"
                                                        ? "Barchasi"
                                                        : this.filterData.lang
                                                }}
                                            </h6>
                                        </div>
                                    </div>

                                    <table
                                        class="table table-centered table-nowrap mb-0"
                                    >
                                        <thead class="table-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Sarlavha</th>
                                                <th>Yuklangan</th>
                                                <th>Ko'rilgan</th>
                                                <th>Til</th>
                                                <th>Qo'shilgan vaqti</th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(item, i) in filterDxa"
                                                :key="item.id"
                                            >
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td style="max-width:200px">
                                                    {{ item.title }}
                                                </td>
                                                <td style="min-width:50px">
                                                    <span>
                                                        <fa
                                                            icon="cloud-download-alt"
                                                            style="margin-right:10px;color:green"
                                                        />
                                                        <p>
                                                            {{ item.downloads }}
                                                        </p>
                                                    </span>
                                                </td>

                                                <td>
                                                    <span>
                                                        <i
                                                            class="material-icons eye"
                                                        ></i>
                                                        <p>
                                                            {{ item.view }}
                                                        </p>
                                                    </span>
                                                </td>

                                                <td>
                                                    <p v-if="item.lang == 'uz'">
                                                        Lotin
                                                    </p>
                                                    <p v-if="item.lang == 'cy'">
                                                        Krill
                                                    </p>
                                                    <p v-if="item.lang == 'ru'">
                                                        Rus
                                                    </p>
                                                </td>
                                                <td style="max-width:100px">
                                                    {{ item.createdAt }}
                                                </td>
                                            </tr>
                                            <tr style="background: #f5f6f8">
                                                <td>Jami:</td>
                                                <td>{{ filterDxa.length }}</td>
                                                <td>
                                                    <fa
                                                        icon="cloud-download-alt"
                                                        style="margin-right:10px;color:green"
                                                    />
                                                    {{
                                                        filterDxa.length > 0
                                                            ? getTotal(
                                                                  "downloads"
                                                              )
                                                            : ""
                                                    }}
                                                </td>
                                                <td>
                                                    <fa
                                                        icon="eye"
                                                        style="margin: 0px 0px;color:blue"
                                                    />
                                                    {{
                                                        filterDxa.length > 0
                                                            ? getTotal("view")
                                                            : ""
                                                    }}
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </vue-html2pdf>
                        </client-only>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import XLSX from "xlsx";
export default {
    name: "User",
    head() {
        return {
            title: "Elektron kitoblar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        exportData: "",

        categoryBook: {
            uz: "",
            ru: "",
            cy: ""
        },
        filterData: {
            lang: "all",
            // catalog: 0,
            sort: "all",
            from: "",
            to: ""
        },
        isOpenFilter: false,
        news: null,
        isDelete: false,
        lang: "all",
        id: "",
        limit: 10,
        page: 1,
        count: 0,
        search: "",
        filterDxa: null,
        visibleDxa: null
    }),

    async mounted() {
        let news = await this.$axios.$get(`library/admin`);
        this.news = news.data;
        console.log("nas", this.news);
        this.count = Math.ceil(this.news.length / this.limit);

        this.filterDxa = this.news;

        this.visibleDxa = this.visibleData(this.page, this.limit, this.news);
    },
    methods: {
        searchData() {
            let ser = this.search.toLowerCase();

            let result = this.news;

            var condition = new RegExp(ser);

            var res = result.filter(function(item) {
                return condition.test(item.title.toLowerCase());
            });
            this.filterDxa = res;
            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        async filterClick() {
            if (
                this.filterData.lang == "all" &&
                this.filterData.sort == "all"
            ) {
                let news = await this.$axios.$get(`library/admin`);
                this.news = news.data;
            }

            let result = this.news;
            if (this.filterData.lang != "all") {
                result = result.filter(
                    item => item.lang == this.filterData.lang
                );
            }
            console.log("A");

            console.log("news", this.news);
            if (this.filterData.sort != "all") {
                if (this.filterData.sort == "down") {
                    result.sort(function(a, b) {
                        if (a.view > b.view) {
                            return 1;
                        }
                        if (a.view < b.view) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "up") {
                    result.sort(function(a, b) {
                        if (a.view < b.view) {
                            return 1;
                        }
                        if (a.view > b.view) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }

                if (this.filterData.sort == "upd") {
                    result.sort(function(a, b) {
                        if (a.downloads < b.downloads) {
                            return 1;
                        }
                        if (a.downloads > b.downloads) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "downd") {
                    result.sort(function(a, b) {
                        if (a.downloads > b.downloads) {
                            return 1;
                        }
                        if (a.downloads < b.downloads) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
            }

            console.log("A");

            // if (this.filterData.catalog != 0) {
            //     result = result.filter(
            //         item => item.catalog == this.filterData.catalog
            //     );
            // }

            console.log("A");

            if (
                this.filterData.from != "" &&
                this.filterData.to != "" &&
                new Date(this.filterData.from).getTime() <
                    new Date(this.filterData.to).getTime()
            ) {
                result = result.filter(
                    item =>
                        new Date(item.createdAt) <
                            new Date(this.filterData.to) &&
                        new Date(item.createdAt) >
                            new Date(this.filterData.from)
                );
            } else {
                if (
                    new Date(this.filterData.from).getTime() >=
                    new Date(this.filterData.to).getTime()
                ) {
                    alert("Sana oraliqini to'g'ri kiriting");
                }
            }

            this.filterDxa = result;

            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        visibleData(page, limit, data) {
            let result = [];
            if (data && data.length) {
                for (let i = (page - 1) * limit; i < page * limit; i++) {
                    if (i < data.length) {
                        result.push(data[i]);
                    }
                }
            }

            return result;
        },

        paginition() {
            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },
        getTotal(item) {
            const value = this.filterDxa.reduce((previous, current) => {
                return previous + current[item];
            }, 0);
            return value;
        },
        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },

        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        openFilter() {
            console.log("filterFunc");
            this.isOpenFilter = true;
        },
        closeFilter() {
            this.isOpenFilter = false;
        },

        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/library/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get(`library/admin`);
                    this.news = news.data;
                    console.log("nas", this.news);
                    this.count = Math.ceil(this.news.length / this.limit);

                    this.filterDxa = this.news;

                    this.visibleDxa = this.visibleData(
                        this.page,
                        this.limit,
                        this.news
                    );
                })
                .catch(err => {
                    console.log(err);
                });
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        toogleModal() {
            console.log("toogle");
            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        }
    }

    //`library/admin?lang=all&page=${this.page}&limit=${this.limit}&category=all?start=0&end=0&download=all`
};
</script>

<style lang="scss" scoped>
.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}
.user-modal {
    opacity: 0;
    width: 500px;
    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
    padding: 2rem;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}
.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
#cancel-icon {
    cursor: pointer;
}

.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .deletebtn {
        i {
            background-color: #ebd7d7 !important;
            color: red !important;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
