<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12 dic">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Yuridik lug'at</h4>

                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>

                                <select
                                    @change="changeLang"
                                    class="form-select two-form mx-2"
                                    v-model="lang"
                                >
                                    <option value="all">Barchasi</option>
                                    <option value="uz">Lotin</option>
                                    <option value="cy">Krill</option>
                                    <option value="ru">Rus</option>
                                </select>

                                <nuxt-link
                                    class="btn-add btn btn-primary  "
                                    :to="{ name: 'dictionary-create' }"
                                    >Lug'at qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Til</th>
                                        <!-- <th>Ko'rildi</th> -->
                                        <th>Qo'shilgan vaqti</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in news" :key="item">
                                        <td style="max-width:300px">
                                            {{ item.term }}
                                        </td>
                                        <td style="max-width:300px">
                                            <p v-if="item.lang == 'uz'">
                                                Lotincha
                                            </p>
                                            <p v-if="item.lang == 'ru'">
                                                Ruscha
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krilcha
                                            </p>
                                        <!-- </td>
                                        <td>
                                            <fa
                                                icon="eye"
                                                style="margin-right:10px;color:blue"
                                            />
                                            {{ item.views }}
                                        </td> -->
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'dictionary-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Yuridik lug'at | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        news: null,
        isDelete: false,
        id: "",
        lang: "all",
        limit: 20,
        page: 1,
        count: 0,
        search: ""
    }),
    methods: {
        async clickSearch() {
            this.page = 1;

            let news = await this.$axios.$get(
                `legal-glossary/admin?lang=${this.lang}&search=${this.search}&page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },
        changeLang() {
            this.$router.push({
                name: `dictionary`,
                query: { lang: this.lang }
            });
            this.page = 1;
            this.getNews(this.lang, this.page);
        },
        async getNews(lang, page) {
            let news = await this.$axios.$get(
                `legal-glossary/admin?lang=${lang}&page=${page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },
        paginition() {
            this.getNews(this.lang, this.page);
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/legal-glossary/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get(
                        `legal-glossary/admin?lang=${this.lang}&page=${this.page}&limit=${this.limit}`
                    );
                    this.count = Math.ceil(news.count / this.limit);
                    this.news = news.data;
                    console.log("res", res);
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },

    async mounted() {
        let news = await this.$axios.$get(
            `legal-glossary/admin?lang=${this.lang}&page=${this.page}&limit=${this.limit}`
        );
        this.count = Math.ceil(news.count / this.limit);
        this.news = news.data;

        console.log("news", this.news);
    }
};
</script>

<style lang="scss" scoped>
.dic {
    td {
        padding: 5px !important;
    }
}
.two-form {
    width: auto !important;
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
