<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Kitob o'zgartirish</h4>
                        </div>
                        <div class="row">
                            <v-col md="12">
                                <v-row>
                                    <v-col md="6">
                                        <h6>Adabiyot nomi</h6>
                                        <input
                                            type="text"
                                            v-model="book.title"
                                            class="form-control mb-3"
                                        />
                                    </v-col>
                                    <v-col md="6">
                                        <h6>Tilni tanlang</h6>
                                        <select
                                            class="form-select"
                                            v-model="book.lang"
                                            aria-placeholder="Select Lesson"
                                        >
                                            <option value="uz">
                                                Lotincha
                                            </option>
                                            <option value="cy">
                                                Krilcha
                                            </option>
                                            <option value="ru">
                                                Ruscha
                                            </option>
                                        </select></v-col
                                    >
                                </v-row>

                                <div class="row">
                                    <v-col md="6">
                                        <h6>Chiqqan yili</h6>
                                        <input
                                            type="number"
                                            v-model="book.date"
                                            class="form-control mb-3"
                                        />
                                    </v-col>
                                    <v-col md="6">
                                        <h6>Katalog</h6>

                                        <select
                                            :selected="selected"
                                            v-model="book.catalogId"
                                            class="form-select"
                                            aria-label="Default select example"
                                        >
                                            <option
                                                v-for="(item, i) in catalog"
                                                :value="item._id"
                                                :key="i"
                                                >{{ item.name.uz }}</option
                                            >
                                        </select>
                                    </v-col>

                                    <v-col md="6">
                                        <h6>Muallif</h6>
                                        <input
                                            type="text"
                                            v-model="book.author"
                                            class="form-control mb-3"
                                        />
                                    </v-col>
                                    <v-col md="6">
                                        <h6>Nashriyot</h6>
                                        <input
                                            type="text"
                                            v-model="book.organization"
                                            class="form-control mb-3"
                                        />
                                    </v-col>
                                </div>

                                <h6>Qisqacha malumot</h6>
                                <tinymce
                                    id="d1"
                                    v-model="book.article"
                                ></tinymce>
                                <h6 class="mb-0 mt-3">Teglar</h6>
                                <div
                                    class="col-md-12 d-flex align-items-center justify-around"
                                >
                                    <div class="col-md-6 d-flex">
                                        <input
                                            ref="tagInput"
                                            v-model="tag"
                                            type="text"
                                            class="form-control"
                                        />
                                        <v-btn
                                            style="margin-left:10px"
                                            @click="addTag()"
                                            ><v-icon>mdi-plus</v-icon></v-btn
                                        >
                                    </div>
                                    <div class="file-upload d-flex">
                                        <v-col md="2" class="rasm " lg="5">
                                            <div class="hidden-lg-and-down">
                                                <input
                                                    @change="uploadImage"
                                                    class="image-input"
                                                    ref="imgFile"
                                                    type="file"
                                                    accept="image/png, image/jpeg, image/bmp"
                                                />
                                            </div>
                                            <button
                                                ref="imgButton"
                                                class="choose"
                                                @click="imageLoad"
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="32"
                                                    height="30"
                                                    viewBox="0 0 38 37"
                                                    fill="none"
                                                >
                                                    <path
                                                        d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                                        fill="#29A0E3"
                                                    />
                                                </svg>
                                                Rasm
                                            </button>
                                        </v-col>
                                        <v-col md="2" class="rasm " lg="5">
                                            <div class="hidden-lg-and-down">
                                                <input
                                                    @change="uploadFile"
                                                    class="file-input"
                                                    ref="file"
                                                    type="file"
                                                />
                                            </div>
                                            <button
                                                ref="fileButton"
                                                class="choose ml-3"
                                                @click="fileLoad"
                                            >
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="32"
                                                    height="30"
                                                    viewBox="0 0 38 37"
                                                    fill="none"
                                                >
                                                    <path
                                                        d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                                        fill="#29A0E3"
                                                    />
                                                </svg>
                                                Fayl
                                            </button>
                                        </v-col>
                                    </div>
                                </div>
                                <span
                                    v-for="(phone, index) in book.tags"
                                    class="mx-2 mt-2"
                                    :key="index"
                                >
                                    <v-chip
                                        class="ma-2 mt-2"
                                        close
                                        label
                                        outlined
                                        color="grey lighten-1 grey--text text--lighten-1 font-weight-medium"
                                        @click:close="removeTag(index)"
                                    >
                                        {{ phone }}
                                    </v-chip></span
                                >
                                <div class="d-flex justify-content-end btns">
                                    <button class="btn" @click="uploadBook">
                                        Qo'shish
                                    </button>
                                </div>
                            </v-col>
                            <v-col md="4"> </v-col>
                        </div>
                    </div>

                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        book: {
            lang: "",
            image: null,
            file: "",
            title: "",
            date: "",
            author: "",
            organization: "",
            catalogId: "",
            article: "",
            tags: []
        },
        selected: "",
        index: "",
        slug: "",
        catalog: null,
        tag: ""
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        imageLoad() {
            document.querySelector(".image-input").click();
        },

        fileLoad() {
            document.querySelector(".file-input").click();
        },

        async uploadImage() {
            let image = this.$refs.imgFile.files[0];
            let imgFd = new FormData();
            imgFd.append("file", image);
            const response = await this.$axios.$post("/file/upload", imgFd, {
                headers: { "Content-Type": "multipart/form-data" }
            });
            if (response.success) {
                this.book.image = response.data.path;
                this.$refs.imgButton.textContent = "Rasm yuklandi";
                this.$refs.imgButton.style.color = "green";
            }
        },

        async uploadFile() {
            let file = this.$refs.file.files[0];
            let fileFd = new FormData();
            fileFd.append("file", file);
            const response = await this.$axios.$post("/file/upload", fileFd, {
                headers: { "Content-Type": "multipart/form-data" }
            });
            if (response.success) {
                this.book.file = response.data.path;
                this.$refs.fileButton.textContent = "Fayl yuklandi";
                this.$refs.fileButton.style.color = "green";
            }
        },

        async uploadBook() {
            const data = {
                title: this.book.title,
                lang: this.book.lang,
                description: this.book.article,
                tags: this.book.tags,
                year: this.book.date,
                catalog: this.book.catalogId,
                file: this.book.file,
                image: this.book.image,
                organization: this.book.organization,
                author: this.book.author
            };
            console.log(data);
            const response = await this.$axios
                .$put(`/library/update/${this.book.id}`, data)
                .then(res => {
                    this.$router.push("/libraries");
                });
        },

        addTag() {
            if (this.$refs.tagInput.value.length > 0) {
                this.book.tags.push(this.tag);
                this.tag = "";
            }
        },
        // addTag() {
        //   this.news.tags = [...this.news.tags, this.tag];
        //   this.tag = "";
        // },
        removeTag(index) {
            this.book.tags.splice(index, 1);
        }
    },

    async mounted() {
        this.slugId = this.$route.params.id;
        console.log("aaa", this.slugId);
        this.lang = this.$route.query.lang;
        const response = await this.$axios.$get(
            `library/${this.lang}/${this.slugId}`
        );

        this.book = {
            title: response.data.title,
            file: response.data.file,
            article: response.data.description,
            author: response.data.author,
            organization: response.data.organization,
            image: response.data.image,
            tags: response.data.tags,
            lang: response.data.lang,
            selected: "",
            catalogId: response.data.catalog,
            date: response.data.year,
            id: response.data._id
        };
        console.log("book", this.book);

        const data = await this.$axios.$get("/books-catalog/all");
        const catalogs = data.data;
        this.catalog = catalogs;

        catalogs.forEach(el => {
            if (el._id === response.data.catalog) {
                this.selected = el.name.uz;
            }
        });
    }
};
</script>

<style lang="scss">
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.file-input,
.image-input {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 150px;
        height: 100px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
