<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="test != null">
                        <div class="card-el">
                            <h4 class="card-title ">Online sinov natijalar</h4>

                            <div class="right">
                                <!-- <div class="search">
                  <input type="search" placeholder="Izlash..." />
                </div> -->

                                <!-- <nuxt-link class="btn-add btn btn-primary  " to="/test/create"
                  >Natijalar</nuxt-link
                > -->

                                <!-- <nuxt-link
                  class="btn-add btn btn-primary  mx-2"
                  to="/test/create"
                  >Qo'shish</nuxt-link
                > -->
                                <div class="title-actions">
                                    <button class="btn-exports btn-title">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: ">Sarlavha</th>
                                        <th style="width: ">Urinishlar soni</th>
                                        <th style="width: ">
                                            O'rtacha qiymat (foizda)
                                        </th>
                                        <!-- <th>Qo'shilgan vaqti</th> -->

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in test" :key="item">
                                        <td>
                                            {{ item._id.title }}
                                        </td>

                                        <td>{{ item.count }}</td>

                                        <td>
                                            <span>
                                                <i class="material-icons up"
                                                    >check_circle</i
                                                >
                                                <p>
                                                    {{
                                                        Math.round(
                                                            item.result /
                                                                item.count
                                                        )
                                                    }}%
                                                </p>
                                            </span>

                                            <span>
                                                <i class="material-icons down"
                                                    >cancel</i
                                                >
                                                <p>
                                                    {{
                                                        100 -
                                                            Math.round(
                                                                item.result /
                                                                    item.count
                                                            )
                                                    }}%
                                                </p>
                                            </span>
                                        </td>

                                        <!-- <td>
                      <nuxt-link
                        :to="{
                          name: 'test-testing-id',
                          params: { id: item._id }
                        }"
                        class="btn btn-success"
                        >Test</nuxt-link
                      >
                      <nuxt-link
                        :to="{ name: 'test-edit-id', params: { id: item._id } }"
                        class="action-btn"
                      >
                        <i class="material-icons">edit</i>
                      </nuxt-link>

                      <button @click="openDelete(item._id)" class="action-btn">
                        <i class="material-icons">delete</i>
                      </button>
                    </td> -->
                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'test-results-inresult-id',
                                                    params: {
                                                        id: item._id._id
                                                    },
                                                    query: {
                                                        true: Math.round(
                                                            item.result /
                                                                item.count
                                                        ),
                                                        false:
                                                            100 -
                                                            Math.round(
                                                                item.result /
                                                                    item.count
                                                            )
                                                    }
                                                }"
                                                class="btn btn-primary statistika"
                                            >
                                                Statistika
                                            </nuxt-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="test.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>

                        <client-only>
                            <vue-html2pdf
                                :show-layout="false"
                                :float-layout="true"
                                :enable-download="true"
                                :paginate-elements-by-height="1400"
                                filename="pdfFile"
                                :pdf-quality="2"
                                :manual-pagination="true"
                                pdf-format="a4"
                                pdf-orientation="portrait"
                                pdf-content-width="800px"
                                ref="html2Pdf"
                            >
                                <div
                                    ref="tableToExcel"
                                    class="table-responsive"
                                    slot="pdf-content"
                                    style="padding:2rem"
                                >
                                    <h4>Online sinovlar statistikasi</h4>
                                    <div class="table-responsive mt-3">
                                        <table
                                            class="table table-centered table-nowrap mb-0"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    <th>#</th>
                                                    <th style="width: ">
                                                        Sarlavha
                                                    </th>
                                                    <th style="width: ">
                                                        Urinishlar soni
                                                    </th>
                                                    <th style="width: ">
                                                        O'rtacha qiymat (foizda)
                                                    </th>
                                                    <!-- <th>Qo'shilgan vaqti</th> -->

                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(item, i) in test"
                                                    :key="i"
                                                >
                                                    <td>
                                                        {{ i + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ item._id.title }}
                                                    </td>
                                                    <td>{{ item.count }}</td>

                                                    <td
                                                        class="d-flex flex-column justify-content-start"
                                                    >
                                                        <fa
                                                            icon="check-circle"
                                                            style="margin-right:10px;color:green"
                                                        />
                                                        {{
                                                            Math.round(
                                                                item.result /
                                                                    item.count
                                                            )
                                                        }}%

                                                        <fa
                                                            icon="times-circle"
                                                            style="margin-right:10px;color:red"
                                                        />

                                                        {{
                                                            100 -
                                                                Math.round(
                                                                    item.result /
                                                                        item.count
                                                                )
                                                        }}%
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100px">
                                                        Jami:
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        {{
                                                            test.length > 0
                                                                ? getTotalView()
                                                                : ""
                                                        }}
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <h6>
                                                                <fa
                                                                    icon="check-circle"
                                                                    style="margin-right:5px;color:green"
                                                                />
                                                                {{ pTrue }}%
                                                            </h6>
                                                            <h6>
                                                                <fa
                                                                    icon="times-circle"
                                                                    style="margin-right:5px;color:red"
                                                                />
                                                                {{
                                                                    pFalse.toFixed(
                                                                        2
                                                                    )
                                                                }}
                                                            </h6>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <div class="table-responsive">
                      <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                          <tr class="table-light">
                            <th class="total-td">
                              <h6 class="d-flex">Jami:{{ test.length }}</h6>
                            </th>
                            <th class=" total-td align-center">
                              <h6>
                                Jami urinishlar soni :

                                {{ test.length > 0 ? getTotalView() : "" }}
                              </h6>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                              <div class="d-flex baybo">
                                <div class="mx-3">
                                  O'rtacha:
                                </div>
                                <div>
                                  <h6>
                                    <fa
                                      icon="check-circle"
                                      style="margin-right:5px;color:green"
                                    />
                                    {{ pTrue }}%
                                  </h6>
                                  <h6>
                                    <fa
                                      icon="times-circle"
                                      style="margin-right:5px;color:red"
                                    />
                                    {{ pFalse.toFixed(2) }}
                                  </h6>
                                </div>
                              </div>
                            </th>
                          </tr>
                        </thead>
                      </table>
                    </div> -->
                                    </div>
                                </div>
                            </vue-html2pdf>
                        </client-only>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import XLSX from "xlsx";
export default {
    head() {
        return {
            title: "Sinov natijalari | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    name: "User",
    data: () => ({
        pTrue: "",
        pFalse: "",
        total: "",
        test: null,
        isDelete: false,
        name: "",
        res: ""
    }),
    methods: {
        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },

        async createPdfFile() {
            // console.log(this.exportData)
            // const response = await this.$axios.$get(
            //   `book/stat?lang=${this.filter.lang}&start=${
            //     this.filter.from ? this.filter.from : 0
            //   }&end=${this.filter.to ? this.filter.to : 0}`
            // )
            // console.log(response)
            // if (response.success) {
            //   this.exportData = response.data
            //   console.log(response)
            // }

            this.$refs.html2Pdf.generatePdf();
        },

        getTotalView() {
            const value = this.test.reduce((previous, current) => {
                return previous + current.count;
            }, 0);

            return value;
        },

        exportFile() {
            this.$refs.showUser.classList.toggle("show");
        },
        toogleModal() {
            console.log("toogle");
            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        },

        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/quiz-theme/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get("/quiz-theme/admin");
                    this.news = news.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    },
    async mounted() {
        let test = await this.$axios.$get("/test-result/all");
        this.test = test.data;
        let t = 0;
        this.test.forEach(item => {
            t = t + item.result / item.count;
        });
        this.pTrue = (t / this.test.length).toFixed(2);

        this.pFalse = 100 - this.pTrue;
        console.log(this.pFalse);
    }
};
</script>

<style lang="scss">
a.statistika {
    padding: 5px 10px !important;
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
.baybo {
    align-items: center !important;
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:nth-child(2) {
        margin-right: 5px;
        i {
            background-color: #4c4ce9;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
        a {
            //   background: lightgreen;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px;
        }
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
