<template>
  <div class="authentication-bg">
    <div class="account-pages  pt-sm-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <nuxt-link to="/" class="mb-4 d-block auth-logo">
                <img
                  src="public/assets/images/logo-dark.png"
                  alt=""
                  height="22"
                  class="logo logo-dark"
                />
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card">
              <div class="card-body p-4">
                <div class="text-center mt-2">
                  <h5 class="text-primary">Huquqiyportal boshqaruv markazi</h5>
                </div>
                <div class="p-2 mt-4">
                  <form>
                    <div class="mb-1">
                      <label class="form-label" for="username">Login</label>
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="email"
                        placeholder="Loginni kiriting"
                        v-model.trim="login.login"
                        @change="setPhoneLogin($event.target.value)"
                      />
                      <h6
                        class="text-danger"
                        v-if="!$v.login.login.required && check2"
                      >
                        Loginni kiriting
                      </h6>
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="userpassword">Parol</label>
                      <input
                        type="password"
                        class="form-control"
                        id="userpassword"
                        name="password"
                        placeholder="Parolni kiriting"
                        v-model="login.password"
                      />
                    </div>

                    <h6
                      class="text-danger"
                      v-if="!$v.login.password.required && check2"
                    >
                      Parolni kiriting
                    </h6>

                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="auth-remember-check"
                      />
                      <label class="form-check-label" for="auth-remember-check"
                        >Eslab qolish</label
                      >
                    </div>

                    <div class="mt-3 d-flex flex-row-reverse">
                      <button
                        @click="loginUser"
                        class="btn btn-primary w-sm waves-effect waves-light"
                        type="button"
                      >
                        Kirish
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="mt-5 text-center"></div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";

export default {
  layout: "authLayout",
  head() {
    return {
      title: "Tizimga kirish",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "My custom description"
        }
      ]
    };
  },
  data() {
    return {
      check2: false,
      login: {
        login: "",
        password: ""
      },
      ip: null
    };
  },
  validations: {
    login: {
      login: {
        required
      },
      password: {
        required
      }
    }
  },

  async mounted() {
    let ip = await this.$axios.$get("https://ipapi.co/json/");
    this.ip = ip;
    console.log("ip-->", ip);
  },
  methods: {
    setPhoneLogin(value) {
      this.login.login = value;
      this.$v.login.login.$touch();
    },
    async loginUser() {
      this.$v.login.$touch();
      this.check2 = true;

      if (!this.$v.login.$invalid) {
        try {
          let response = await this.$auth.loginWith("local", {
            data: this.login
          });

          let user = this.$auth.user;

          if (user.type == "user") {
            this.$auth.logout();
          }

          this.$axios.$post("/visit/add", {
            login: this.login.login,
            ip: this.ip.ip,
            region: this.ip.region
          });
        } catch (err) {
          this.$toast.error("Login yoki parol noto'gri");
        }
      }
    }
  }
};
</script>

<style scoped>
body {
  margin: 0;
  padding: 0;
}
.authentication-bg {
  min-height: 100vh;
  background-color: rgba(91, 140, 232, 0.25);
}
.btn-primary {
  color: #fff !important;
}
</style>
