<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <Delete
            @deleteRequest="deleteRequest"
            @closeDelete="closeDelete"
            :isDelete="isDelete"
        />
        <div ref="blackOpacity" class="user-modal-container">
            <div ref="modal" class="user-modal">
                <div class="d-flex justify-content-between">
                    <h4>Tashkilot qo'shish</h4>
                    <i
                        id="cancel-icon"
                        @click="toogleModal"
                        class="material-icons"
                        >cancel</i
                    >
                </div>

                <div class="form-group mt-3">
                    <label for="fullName">Tashkilot nomi (uz)</label>
                    <input
                        required
                        v-model="name.uz"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div class="form-group mt-3">
                    <label for="fullName">Tashkilot nomi (ru)</label>
                    <input
                        required
                        v-model="name.ru"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>

                <div class="form-group mt-3">
                    <label for="fullName">Tashkilot nomi (cy)</label>
                    <input
                        required
                        v-model="name.cy"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>

                <div
                    v-if="isAddOrganization"
                    class="d-flex justify-content-center mt-3"
                >
                    <button
                        @click="sendOrganizationName"
                        class="btn btn-primary"
                    >
                        Qo'shish
                    </button>
                </div>
                <div v-else class="d-flex justify-content-center mt-3">
                    <button @click="updateOrganization" class="btn btn-primary">
                        Saqlash
                    </button>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-2">
            <div class="col-lg-12 phone">
                <div class="card">
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Tashkilotlar</h4>

                            <div class="right">
                                <button
                                    class="btn-add btn btn-primary  "
                                    @click="toogleModal"
                                >
                                    Qo'shish
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody
                                    v-for="(item, index) in news"
                                    :key="index"
                                >
                                    <tr
                                        draggable="true"
                                        @dragstart="dragStart(index, $event)"
                                        @dragover.prevent
                                        @dragend="dragEnd"
                                        @drop="dragFinish(index, $event)"
                                    >
                                        <td style="max-width : 300px">
                                            {{ item.name.uz.slice(0, 120) }}
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                class="phone-btn"
                                                :to="{
                                                    name:
                                                        'phone-organization-id',
                                                    params: { id: item._id }
                                                }"
                                            >
                                                <i class="material-icons"
                                                    >phone</i
                                                ></nuxt-link
                                            >
                                            <button
                                                @click="
                                                    getToUpdateOrganization({
                                                        name: item.name,
                                                        id: item._id
                                                    })
                                                "
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </button>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>

                        <v-pagination
                            v-if="news.length > 10"
                            v-model="page"
                            :length="count"
                            @input="setPage"
                            :total-visible="10"
                        ></v-pagination>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Ishonch raqamlari | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        count: 1,
        page: 1,
        limit: 10,
        isAddOrganization: false,
        dragging: -1,
        dragData: [],
        name: {
            uz: "",
            ru: "",
            cy: ""
        },
        isDelete: false,
        id: "",
        organizationId: "",
        sendIndex: 0,
        news: null
    }),
    methods: {
        dragStart(which, ev) {
            this.dragging = which;
            console.log("start", which);
        },

        dragFinish(ga, ev) {
            let from = this.dragging;
            let to = ga;

            console.log(from, to);
            if (this.dragging != -1) {
                if (to != from) {
                    if (from > to) {
                        this.dragData.push({
                            position: to + 1,
                            _id: this.news[from]._id,
                            name: this.news[from].name
                        });

                        for (let i = to; i < from; i++) {
                            this.dragData.push({
                                position: i + 2,
                                _id: this.news[i]._id,
                                name: this.news[i].name
                            });
                        }
                    } else {
                        for (let i = from + 1; i <= to; i++) {
                            this.dragData.push({
                                position: i,
                                _id: this.news[i]._id,
                                name: this.news[i].name
                            });
                        }

                        this.dragData.push({
                            position: to + 1,
                            _id: this.news[from]._id,
                            name: this.news[from].name
                        });
                    }
                }
            }

            // console.log("rr", this.dragData);

            this.dragPut(this.sendIndex);
        },
        dragPut(index) {
            console.log(this.dragData);
            this.$axios
                .$put("/phones-catalog/update/" + this.dragData[index]._id, {
                    position: this.dragData[index].position,
                    name: this.dragData[index].name
                })
                .then(async res => {
                    this.sendIndex = this.sendIndex + 1;
                    //3
                    if (this.dragData.length > this.sendIndex) {
                        this.dragPut(this.sendIndex);
                    } else {
                        this.getAllOrganizations();
                        this.dragData = [];
                        this.sendIndex = 0;
                    }
                });
        },

        dragEnd(ev) {
            this.dragging = -1;
        },

        async getAllOrganizations() {
            let news = await this.$axios.$get(
                `phones-catalog/all?page=${this.page}&limit=${this.limit}`
            );
            console.log(news);
            this.news = news.data;
        },

        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `phones-catalog/all?page=${this.page}&limit=${this.limit}`
                );
                this.users = users.data;
                console.log(users);
            } catch (e) {
                console.log(e);
            }
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/phones-catalog/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get("/phones-catalog/all");
                    this.news = news.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        toogleModal(value) {
            if (value) {
                this.isAddOrganization = true;
                this.name = {
                    uz: "",
                    ru: "",
                    cy: ""
                };
            }
            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        },

        async removeOrganization(id) {
            const response = await this.$axios.$delete(
                `phones-catalog/delete/${id}`
            );
            console.log(response);
            if (response.success) {
                this.getAllOrganizations();
            }
        },

        getToUpdateOrganization(organizationData) {
            this.isAddOrganization = false;
            this.name = { ...organizationData.name };
            this.organizationId = organizationData.id;
            this.toogleModal(false);
        },
        async updateOrganization() {
            const data = {
                name: this.name
            };
            const response = await this.$axios.$put(
                `/phones-catalog/update/${this.organizationId}`,
                data
            );
            console.log(response);
            if (response.success) {
                this.$toast.success("Malumotlar ozgartirildi");
                this.getAllOrganizations();
                this.toogleModal(true);
            } else {
                this.$toast.error("Xatolik yuz berdi");
            }
        },

        async sendOrganizationName() {
            console.log(this.name);
            if (this.name.uz == "") {
                return this.$toast.error("Tashkilot nomi(o'z)ni kiriting!!!");
            }
            if (this.name.ru == "") {
                return this.$toast.error("Tashkilot nomi(ru)ni kiriting!!!");
            }
            if (this.name.cy == "") {
                return this.$toast.error("Tashkilot nomi(kr)ni kiriting!!!");
            }
            if (
                this.name.uz != "" &&
                this.name.ru != "" &&
                this.name.cy != ""
            ) {
                const response = await this.$axios.$post(
                    "/phones-catalog/add",
                    { name: this.name }
                );
                if (response.success) {
                    this.getAllOrganizations();
                    this.toogleModal(false);
                    this.$toast.success("Tashkilot qo'shildi");
                }
            }
        }
    },

    async mounted() {
        this.getAllOrganizations();
    }
};
</script>

<style lang="scss" scoped>
.phone {
    td {
        padding: 5px !important;
    }
    .phone-btn {
        border-radius: 3px;
        i {
            padding: 2px !important;
            color: #fff;
        }
    }
}
.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}
.user-modal {
    opacity: 0;
    width: 500px;

    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
    padding: 2rem;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}
.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
#cancel-icon {
    cursor: pointer;
}

.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .phone-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px !important;
        background: #49c609;
        margin-right: 5px !important;
    }
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
