.spoiler {
    div.title-click {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        border: 1px solid rgba(89, 123, 163, 0.2);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 15px 25px;
        h4 {
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;
            /* identical to box height */
            margin-bottom: 0px;
            display: flex;
            align-items: center;
            margin-top: 0px !important;
            /* dark gray */

            color: #333333;
        }
        button.plus {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            font-weight: 400;
            border-radius: 14px;
            background-color: #597ba3;
            color: #fff;
            display: none;
        }
    }

    div.spoiler-body {
        padding: 10px;
    }
}

blockquote {
    background: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */

    /* dark gray */
    padding: 7px 16px;
    margin: 10px 0px;
    color: #333333;
    border-left: 8px solid #07a287;

    p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}
