.spoiler div.title-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  border: 1px solid rgba(89, 123, 163, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 15px 25px;
}

.spoiler div.title-click h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px !important;
  /* dark gray */
  color: #333333;
}

.spoiler div.title-click button.plus {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  font-weight: 400;
  border-radius: 14px;
  background-color: #597ba3;
  color: #fff;
  display: none;
}

.spoiler div.spoiler-body {
  padding: 10px;
}

blockquote {
  background: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  /* dark gray */
  padding: 7px 16px;
  margin: 10px 0px;
  color: #333333;
  border-left: 8px solid #07a287;
}

blockquote p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
/*# sourceMappingURL=spoiler.css.map */