<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="test != null">
                        <div class="card-el">
                            <h4 class="card-title ">Online sinovlar</h4>

                            <div class="right">
                                <!-- <div class="search">
                  <input type="search" placeholder="Izlash..." />
                </div> -->

                                <nuxt-link
                                    class="btn-add btn btn-primary "
                                    :to="{
                                        name: 'test-testing-create-id',
                                        params: { id: $route.params.id },
                                        query: { length: test.length }
                                    }"
                                    >Qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 250px">Savol</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody
                                    v-for="(item, index) in test"
                                    :key="index"
                                >
                                    <tr
                                        draggable="true"
                                        @dragstart="dragStart(index, $event)"
                                        @dragover.prevent
                                        @dragend="dragEnd"
                                        @drop="dragFinish(index, $event)"
                                    >
                                        <td>
                                            {{ item.question }}
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>
                                        <td></td>
                                        <td></td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'test-testing-edit-id',
                                                    params: { id: item._id },
                                                    query: {
                                                        theme: $route.params.id
                                                    }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="test.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        test: null,
        isDelete: false,
        id: "",
        dragging: -1,
        dragData: [],
        sendIndex: 0
    }),
    async mounted() {
        let id = this.$route.params.id;
        let test = await this.$axios.$get(
            `/quiz-question/all/` + this.$route.params.id
        );
        this.test = test.data;
        console.log("test", this.test);
    },
    methods: {
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/quiz-question/delete/" + this.id)
                .then(async res => {
                    let test = await this.$axios.$get(
                        "/quiz-question/all/" + this.$route.params.id
                    );
                    this.test = test.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        dragStart(which, ev) {
            this.dragging = which;

            console.log("start", which);
        },
        // /quiz-question/update/

        dragFinish(ga, ev) {
            let from = this.dragging;
            let to = ga;
            if (this.dragging != -1) {
                if (to != from) {
                    if (from > to) {
                        this.dragData.push({
                            position: to + 1,
                            _id: this.test[from]._id
                        });

                        for (let i = to; i < from; i++) {
                            this.dragData.push({
                                position: i + 2,
                                _id: this.test[i]._id
                            });
                        }
                    } else {
                        for (let i = from + 1; i <= to; i++) {
                            this.dragData.push({
                                position: i,
                                _id: this.test[i]._id
                            });
                        }

                        this.dragData.push({
                            position: to + 1,
                            _id: this.test[from]._id
                        });
                    }
                }
            }

            // console.log("rr", this.dragData);

            this.dragPut(this.sendIndex);
        },
        dragPut(index) {
            console.log(this.dragData);
            this.$axios
                .$put("/quiz-question/update/" + this.dragData[index]._id, {
                    position: this.dragData[index].position
                })
                .then(async res => {
                    this.sendIndex = this.sendIndex + 1;
                    //3
                    if (this.dragData.length > this.sendIndex) {
                        this.dragPut(this.sendIndex);
                    } else {
                        let test = await this.$axios.$get(
                            `/quiz-question/all/` + this.$route.params.id
                        );
                        this.test = test.data;
                        this.dragData = [];

                        this.sendIndex = 0;
                    }
                });
        },

        dragEnd(ev) {
            this.dragging = -1;
        }
    }
};
</script>

<style lang="scss">
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:nth-child(2) {
        margin-right: 5px;
        i {
            background-color: #4c4ce9;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
        a {
            //   background: lightgreen;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px;
        }
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
