<template>
  <div class="add-user">
    <div
      style=" background-color:#F5F6F8; min-height:100vh"
      class="container-fluid"
    >
      <div class="row">
        <div class="form col-12 mt-5">
          <div class="card">
            <div class="card-body">
              <div class="mb-3 row">
                <label for="Name" class="col-md-2 col-form-label">Name</label>
                <div class="col-md-10">
                  <input
                    v-model="userData.name"
                    class="form-control"
                    type="text"
                    id="Name"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="Lastname" class="col-md-2 col-form-label"
                  >LastName</label
                >
                <div class="col-md-10">
                  <input
                    v-model="userData.lastName"
                    class="form-control"
                    type="text"
                    id="Lastname"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="Age" class="col-md-2 col-form-label">Age</label>
                <div class="col-md-10">
                  <input
                    v-model="userData.age"
                    class="form-control"
                    type="number"
                    id="Age"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="Profession" class="col-md-2 col-form-label"
                  >Profession</label
                >
                <div class="col-md-10">
                  <input
                    v-model="userData.profession"
                    class="form-control"
                    type="text"
                    id="Profession"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <label for="Property" class="col-md-2 col-form-label"
                  >Property</label
                >
                <div class="col-md-10">
                  <input
                    v-model="userData.property"
                    class="form-control"
                    type="text"
                    id="Property"
                  />
                </div>
              </div>

              <div class="text-center">
                <button @click="addUserData" class="btn btn-primary">
                  Добавить
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'

import { mapMutations } from "vuex";
export default {
  name: "AddUser",
  head() {
    return {
      title: "Foydalanuvchi qo'shish | Boshqaruv markazi",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "My custom description"
        }
      ]
    };
  },
  data: () => ({

    userData: {
      name: "",
      lastName: "",
      age: "",
      profession: "",
      property: "",
      userId: Date.now()
    }
  }),
 
  methods: {
    ...mapMutations("user", ["addUser"]),
    addUserData() {
      this.addUser(this.userData);
      this.userData = {};
      this.$router.push("/users");
    }
  }
};
</script>

<style scoped>
.add-user {
  padding: 4rem 0;
}
.form {
  padding: 0 3rem;
}
</style>
