<template>
  <div class="wrapper" style="height: 100vh; background-color: #f5f6f8">
    <delete-dialog
      @deleteRequest="removeUser"
      @closeDelete="closeModal"
      :isDelete="isOpen"
    />
    <div ref="blackOpacity" class="user-modal-container">
      <div ref="modal" class="user-modal">
        <div class="d-flex justify-content-between">
          <h4>Foydalanuvchi qoshish</h4>
          <i id="cancel-icon" @click="toogleModal" class="material-icons"
            >cancel</i
          >
        </div>

        <form>
          <div class="form-group col-md-12">
            <label for="fullName">F.I.O</label>
            <input
              @change="setFullName($event.target.value)"
              v-model="userData.fullName"
              type="text"
              class="form-control"
              id="fullName"
            />
                 <h6
            class="text-danger"
            v-if="!$v.userData.fullName.required && check2"
          >
            F.I.O kiriting
          </h6>
          </div>
     

          <div class="form-group d-flex justify-content-between">
            <div class="col-md-6">
              <label for="postAdress">Pochta manzili</label>
              <input
                required
                v-model="userData.email"
                type="email"
                class="form-control"
                id="postAdress"
              />
                   <h6
            class="text-danger"
            v-if="!$v.userData.email.required && check2"
          >
            Pochta kiriting
          </h6>
            </div>
         
            <div class="col-md-6">
              <label for="role">Rol</label>
              <select
                required
                v-model="userData.userType"
                class="form-control"
                id="role"
              >
                <option selected value="admin">Admin</option>
                <option value="moderator">Moderator</option>
                <option value="user">Foydalanuvchi</option>
              </select>
                 <h6
            class="text-danger"
            v-if="!$v.userData.userType.required && check2"
          >
            Rolni kiriting
          </h6>
            </div>
           
          </div>
          <div class="d-flex justify-content-between">
            <div class="col-md-6 py-0">
              <label for="login">Login</label>
              <input
                v-model="userData.login"
                type="text"
                class="form-control"
                id="login"
              />
                 <h6
            class="text-danger"
            v-if="!$v.userData.login.required && check2"
          >
            Loginni kiriting
          </h6>
            </div>
           

            <div class="col-md-6 py-0">
              <label for="parol">Parol</label>
              <input
                v-model="userData.password"
                type="password"
                class="form-control"
                id="parol"
              />
                 <h6
            class="text-danger"
            v-if="!$v.userData.password.required && check2"
          >
            Parolni kiriting
          </h6>
               <h6
            class="text-danger"
            v-if="!$v.userData.password.minLength && check2"
          >
            Parolni uzunligi 8 dan kam qilmang
          </h6>
            </div>
           
            <div></div>
          </div>
          <div v-if="isAddUser" class="d-flex justify-content-center">
            <input
              @click="createUser"
              type="button"
              class="btn btn-primary mt-4 text-white"
              value="Qo'shish"
            />
          </div>

          <div v-else class="d-flex justify-content-center">
            <input
              @click="updateUser"
              type="button"
              class="btn btn-primary mt-4 text-white"
              value="Saqlash"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="row my-4 mx-2">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-el">
              <h4 class="card-title mb-4">Barcha foydalanuvchilar</h4>
              <button class="btn-add btn btn-primary mb-4" @click="toogleModal">
                Foydalanuvchi qo'shish
              </button>
            </div>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0">
                <thead class="table-light">
                  <tr>
                    <th>FIO</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Roli</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody v-for="user in users" :key="user.id">
                  <tr>
                    <td>{{ user.fullName }}</td>
                    <td>
                      {{ user.login }}
                    </td>
                    <td>
                      {{ user.email }}
                    </td>
                    <td>
                      {{ user.userType }}
                    </td>

                    <td>
                      <button
                        @click="
                          getToUpdateUser({
                            fullName: user.fullName,
                            email: user.email,
                            userType: user.userType,
                            login: user.login,
                            password: '',
                            id: user._id
                          })
                        "
                        class="action-btn"
                      >
                        <i class="material-icons">edit</i>
                      </button>

                      <button @click="openModal(user._id)" class="action-btn">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <v-pagination
                v-model="page"
                :length="count"
                :color="'#F43F1A'"
                @input="setPage"
              ></v-pagination>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import deleteDialog from '../../components/Delete.vue'
export default {
  name: 'User',
  head () {
    return {
      title: 'Foydalanuvchilar | Boshqaruv markazi',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    }
  },
  components: {
    deleteDialog
  },
  data: () => ({
    check2: false,
    id: null,
    isOpen: false,
    page: 1,
    count: 1,
    limit: 10,
    isAddUser: false,
    userData: {
      fullName: '',
      email: '',
      userType: '',
      login: '',
      password: ''
    },
    users: null
  }),
  validations: {
    userData: {
      fullName: { required },
      email: { required },
      userType: { required },
      login: { required },
      password: { required, minLength: minLength(8) }
    }
  },

  methods: {
      setFullName (value) {
      this.userData.fullName = value
      this.$v.userData.fullName.$touch()
    },
    async getAllUser () {
      let users = await this.$axios.$get(
        `admin/all?page=${this.page}&limit=${this.limit}`
      )
      this.users = users.data
      this.count = Math.ceil(users.count / this.limit)
    },

    async setPage () {
       try {
        let users = await this.$axios.$get(
          `admin/all?page=${this.page}&limit=${this.limit}`
        )
        this.users = users.data
        console.log(users)
      }
       catch (e) {
        console.log(e)
      }
    
      },
    async createUser () {
      this.$v.$touch()
      this.check2 = true
          if(!this.$v.userData.$invalid) {
            console.log('valid')
      try {
        const result = await this.$axios.$post(
          '/admin/add-moderator',
          this.userData
        )
        this.$toast.success('Foydalanuvchi yaratildi')
        this.getAllUser()
        this.toogleModal(true)
      } catch (e) {
        this.$toast.error('Xatolik yuz berdi')
      }}
    },

    getToUpdateUser (userData) {
      this.isAddUser = false
      this.userData = { ...userData }
      this.toogleModal(false)
    },

    async updateUser () {
      const response = await this.$axios.$put(
        `/admin/update/${this.userData.id}`,
        this.userData
      )
      if (response.success) {
        this.$toast.success("Foydalanuvchi malumotlari o'zgartirildi")
        this.getAllUser()
        this.toogleModal(true)
      } else {
        this.$toast.error('Xatolik yuz berdi')
      }
    },

    async removeUser (id) {
      try {
        const response = await this.$axios.$delete(`/admin/delete/${this.id}`)

        if (response.success) {
          this.isOpen = false
          this.$toast.success("Foydalanuvchi o'chirildi")
          this.getAllUser()
        }
      } catch (e) {
        console.log(e)
      }
    },
    openModal (id) {
      this.id = id
      this.isOpen = true
    },
    closeModal () {
      this.isOpen = false
    },

    toogleModal (value) {
      if (value) {
        this.isAddUser = true
        this.userData = {}
        this.userData.userType = 'admin'.toLowerCase()
      }
      this.$refs.blackOpacity.classList.toggle('black-opacity')
      this.$refs.modal.classList.toggle('showModal')
    }
  },

  mounted () {
    this.getAllUser()
  }
}
</script>

<style lang="scss" scoped>
.user-modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 11, 11, 0.589);
  z-index: -5;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  align-items: center;
  opacity: 0;
}
.user-modal {
  z-index: -5;
  margin-bottom: 8rem;
  border-radius: 8px;
  background: white;
  transition: transform 0.5s ease;
  padding: 2rem;
}

.black-opacity {
  z-index: 500;
  opacity: 1;
  position: fixed;
}
.showModal {
  transform: translateY(3rem);
  z-index: 1000;
  opacity: 1;
}
#cancel-icon {
  cursor: pointer;
}

tbody {
  .action-btn {
    i {
      padding: 3px !important;
      border-radius: 5px;
      padding-bottom: 0;
    }
  }
  .action-btn:first-child {
    margin-right: 5px;
    i {
      background-color: blue;
      color: #fff;
      // background: ;
    }
  }
  .action-btn:last-child {
    i {
      background-color: red !important;
      color: #fff !important;
    }
  }
  td:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
tbody td {
  height: 25px;
}
.buttons {
  margin-left: 10px;
}
.card-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
