<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Yangiliklar qo'shish</h4>

                            <div></div>

                            <div class="right">
                                <div class="d-flex">
                                    Tilni tanlang
                                    <select
                                        class="form-select"
                                        aria-label="Default select example"
                                        v-model="news.lang"
                                    >
                                        <option value="uz">Lotin</option>
                                        <option value="cy">Krill</option>
                                        <option value="ru">Rus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <v-col md="12">
                                <v-file-input
                                    :rules="rules"
                                    ref="fileUpload"
                                    @change="chooseFileImg"
                                    accept="image/png, image/jpeg, image/bmp"
                                    placeholder="Rasm kiriting"
                                    prepend-icon="mdi-camera"
                                    class="mb-0"
                                ></v-file-input>

                                <p class="mb-0">Sarlavha</p>
                                <input
                                    type="text"
                                    v-model="news.title"
                                    class="form-control mb-3"
                                />

                                <p class="mb-0">Tavsif</p>
                                <tinymce
                                    v-model="news.article"
                                    id="d1"
                                    height="400px"
                                    :other_options="tinyOptions"
                                ></tinymce>
                                <p class="mb-0 mt-3">Teglar</p>
                                <div class="col-md-4 d-flex justify-center">
                                    <input
                                        v-model="tag"
                                        type="text"
                                        class="form-control"
                                    />
                                    <v-btn @click="addTag()"
                                        ><v-icon>mdi-plus</v-icon></v-btn
                                    >
                                </div>
                                <span
                                    v-for="(phone, index) in news.tags"
                                    class="mx-2 mt-2"
                                    :key="index"
                                >
                                    <v-chip
                                        class="ma-2 mt-2"
                                        close
                                        label
                                        outlined
                                        color="grey lighten-1 grey--text text--lighten-1 font-weight-medium"
                                        @click:close="removeTag(index)"
                                    >
                                        {{ phone }}
                                    </v-chip></span
                                >
                                <div class="d-flex justify-content-end btns">
                                    <button class="btn">Bekor qilish</button>
                                    <button class="btn" @click="create">
                                        Qo'shish
                                    </button>
                                </div>
                            </v-col>
                            <v-col md="4"> </v-col>
                        </div>
                    </div>

                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import Editor from "@tinymce/tinymce-vue";
export default {
    name: "User",
    head() {
        return {
            title: "Yangilik qo'shish | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    mounted() {},

    components: {
        editor: Editor
    },
    data: () => ({
        news: {
            lang: "uz",
            image: null,
            title: "",
            article: "",
            tags: []
        },
        tag: "",
        tinyOptions: {
            height: "350"
        }
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        chooseFileImg(event) {
            console.log(event);
            let img = event;

            let fd = new FormData();
            fd.append("file", img);

            this.$axios({
                url: "/file/upload",
                method: "post",
                data: fd,
                headers: {
                    "Content-Type": "multipart/form-data",
                    Authorization: `Bearer ${localStorage.getItem("token")}`
                }
            })
                .then(res => {
                    this.news.image = res.data.data.path;
                    console.log("sa", this.news.image);
                })
                .catch(error => {
                    console.log("er", error);
                });
        },

        addTag() {
            console.log(this.tag);
            this.news.tags.push(this.tag);
            this.tag = "";
        },
        // addTag() {
        //   this.news.tags = [...this.news.tags, this.tag];
        //   this.tag = "";
        // },
        removeTag(index) {
            this.news.tags.splice(index, 1);
        },
        async create() {
            // if (this.news.lang.length == 0) {
            //   return this.$toast.error("Tilni kiriting!!!");
            // }
            if (this.news.lang == "") {
                return this.$toast.error("Tilni kiriting!!!");
            }
            if (this.news.image == null) {
                return this.$toast.error("Rasmni kiriting!!!");
            }
            if (this.news.title == "") {
                return this.$toast.error("Sarlavhani kiriting!!!");
            }
            if (this.news.article == "") {
                return this.$toast.error("Tavsifni kiriting!!!");
            }

            this.$toast.success("Yangilik qo'shildi");

            await this.$axios
                .$post("/news/add", this.news)
                .then(res => {
                    //   console.log("theme", res.data.data.theme);
                    this.$router.push({
                        name: "news"
                    });
                    //   console.log("ok", res);
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
};
</script>

<style lang="scss">
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
