<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div
            :isOpenFilter="isOpenFilter"
            class="filter-wrapper"
            :style="isOpenFilter ? 'z-index:500;' : 'z-index:-5'"
        >
            <div
                ref="filterModal"
                :class="
                    isOpenFilter ? 'filter-modal show' : 'filter-modal hide'
                "
            >
                <div class="filter-header d-flex justify-content-between">
                    <h4 style="letter-spacing:2px">Filter</h4>
                    <div
                        @click="isOpenFilter = false"
                        class="cancel material-icons "
                    >
                        close
                    </div>
                </div>
                <div class="filter-body">
                    <div class="form-group mb-2">
                        <h6>Til</h6>
                        <select
                            v-model="filterData.lang"
                            class="form-select"
                            aria-label="Default select example"
                        >
                            <option selected value="all">Barchasi</option>
                            <option value="uz">Lotincha</option>
                            <option value="ru">Ruscha</option>
                            <option value="cy">Krilcha</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h6>Ko'rishlar bo'yicha</h6>
                        <select
                            v-model="filterData.sort"
                            class="form-select"
                            aria-label="Default select example"
                        >
                            <option selected value="all">Barchasi</option>
                            <option value="up">Eng ko'p ko'rilgan</option>
                            <option value="down">Eng kam ko'rilgan</option>
                        </select>
                    </div>

                    <div class="form-group mt-5">
                        <h3 style="letter-spacing:3px" class=" mt-2">Davr</h3>
                    </div>
                    <div class="form-group">
                        <h6>Dan</h6>
                        <input
                            v-model="filterData.from"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="form-group">
                        <h6 class=" pt-2">gacha</h6>
                        <input
                            v-model="filterData.to"
                            class="form-control mt-2"
                            type="date"
                        />
                    </div>
                    <div class="filter-btns">
                        <button
                            @click="isOpenFilter = false"
                            class="btn btn-danger mt-3"
                        >
                            Bekor qilish
                        </button>
                        <button
                            @click="filterClick"
                            class="btn btn-primary mt-3"
                        >
                            Qidirish
                        </button>
                    </div>
                </div>
                <div class="filter-footer"></div>
            </div>
        </div>
        <div class="news row my-4 mx-2">
            <div class="col-lg-12">
                <Delete
                    @deleteRequest="deleteRequest"
                    @closeDelete="closeDelete"
                    :isDelete="isDelete"
                />
                <div class="card" v-if="news != null">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Yangiliklar</h4>

                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="text"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="searchData">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <div class="title-actions">
                                    <button class="btn-exports btn-title">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                    <button
                                        class="btn-filter btn-title"
                                        @click="openFilter"
                                    >
                                        <fa icon="filter" /> <span>Filtr</span>
                                    </button>
                                </div>

                                <nuxt-link
                                    class="btn-add btn btn-primary "
                                    to="/news/create"
                                    >Yangilik qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Rasm</th>
                                        <th class="px-0 py-0">Sarlavha</th>
                                        <th class="px-0 py-0">
                                            Ko'rishlar soni
                                        </th>
                                        <th>Til</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody v-if="news.length > 0">
                                    <tr
                                        v-for="item in visibleDxa"
                                        :key="item.id"
                                    >
                                        <td>
                                            <img
                                                :src="
                                                    $store.state.uploads +
                                                        item.image
                                                "
                                            />
                                        </td>
                                        <td class="title-td">
                                            <p>
                                                {{ item.title }}
                                            </p>
                                        </td>
                                        <td>
                                            <fa
                                                icon="eye"
                                                style="margin-right:10px;color:blue"
                                            />
                                            {{ item.views }}
                                        </td>
                                        <td>
                                            <!-- {{ item.lang }} -->
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'news-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="news.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>

                        <client-only>
                            <vue-html2pdf
                                :show-layout="false"
                                :float-layout="true"
                                :enable-download="true"
                                :paginate-elements-by-height="1400"
                                filename="pdfFile"
                                :pdf-quality="2"
                                :manual-pagination="true"
                                pdf-format="a4"
                                pdf-orientation="portrait"
                                pdf-content-width="800px"
                                ref="html2Pdf"
                            >
                                <div
                                    slot="pdf-content"
                                    ref="tableToExcel"
                                    class="tableToExcel"
                                    style="padding:2rem"
                                >
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h4 class="mt-4">
                                                Yangiliklar statistikasi
                                            </h4>

                                            <h6
                                                v-if="
                                                    filterData.from &&
                                                        filterData.to
                                                "
                                                class="my-1"
                                            >
                                                Davr: {{ filterData.from }} dan
                                                {{ filterData.to }} gacha
                                            </h6>
                                            <h6 v-else>Davr: Barchasi</h6>
                                            <h6 class="my-1">
                                                Til:
                                                {{
                                                    filterData.lang == "all"
                                                        ? "Barchasi"
                                                        : filterData.lang
                                                }}
                                            </h6>
                                        </div>
                                    </div>

                                    <div
                                        style="display:block"
                                        class="table-responsive"
                                    >
                                        <table
                                            ref="exportable_table"
                                            class="table table-centered table-nowrap mt-4"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    <th style="max-width:50px">
                                                        #
                                                    </th>
                                                    <th class="py-0 px-0">
                                                        Sarlavha
                                                    </th>
                                                    <th class="px-0 py-0">
                                                        Ko'rishlar soni
                                                    </th>
                                                    <th>
                                                        Til
                                                    </th>
                                                    <th style="width:140px">
                                                        Qo'shilgan sana
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="news.length > 0">
                                                <tr
                                                    v-for="(item,
                                                    i) in filterDxa"
                                                    :key="i"
                                                >
                                                    <td style="max-width:50px">
                                                        {{ i + 1 }}
                                                    </td>
                                                    <td style="width:400px">
                                                        {{ item.title }}
                                                    </td>
                                                    <td>
                                                        {{ item.views }}
                                                    </td>
                                                    <td>
                                                        <!-- {{ item.lang }} -->
                                                        <p
                                                            v-if="
                                                                item.lang ==
                                                                    'uz'
                                                            "
                                                        >
                                                            Lotin
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.lang ==
                                                                    'cy'
                                                            "
                                                        >
                                                            Krill
                                                        </p>
                                                        <p
                                                            v-if="
                                                                item.lang ==
                                                                    'ru'
                                                            "
                                                        >
                                                            Rus
                                                        </p>
                                                    </td>
                                                    <td>
                                                        {{
                                                            dateFormat(
                                                                item.createdAt
                                                            )
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr style="background: #f5f6f8">
                                                    <td>Jami</td>
                                                    <td>
                                                        {{ filterDxa.length }}
                                                    </td>
                                                    <td>
                                                        <fa
                                                            icon="eye"
                                                            style="margin-right:10px;color:blue"
                                                        />
                                                        {{
                                                            filterDxa.length > 0
                                                                ? getTotalView()
                                                                : ""
                                                        }}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                <tr style="background: #f5f6f8">
                                                    <td>Davr</td>
                                                    <td>
                                                        {{
                                                            filterData.from ==
                                                            ""
                                                                ? "Barcha"
                                                                : filterData.from
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{ filterData.to }}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div
                                            class="notfound"
                                            v-if="news.length == 0"
                                        >
                                            <p>Malumotlar mavjud emas</p>
                                        </div>
                                    </div>
                                </div>
                            </vue-html2pdf>
                        </client-only>

                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import filterModal from "../../components/filterModal.vue";
import table2Excel from "table2excel/dist/table2excel";
import XLSX from "xlsx";

export default {
    name: "User",
    head() {
        return {
            title: "Yangiliklar | Boshqaruv markazi",

            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        exportData: [],
        filterData: {
            lang: "all",
            sort: "all",
            from: "",
            to: ""
        },
        news: null,
        lang: "all",
        isDelete: false,
        isOpenFilter: false,
        limit: 10,
        page: 1,
        count: 0,
        search: "",
        filterDxa: null,
        lengthPagination: 45,
        visibleDxa: null
    }),
    components: {
        filterModal
    },
    async mounted() {
        let news = await this.$axios.$get(`news/admin`);
        this.news = news.data;
        this.count = Math.ceil(this.news.length / this.limit);

        this.filterDxa = this.news;

        this.visibleDxa = this.visibleData(this.page, this.limit, this.news);
    },
    computed: {},
    methods: {
        searchData() {
            let ser = this.search.toLowerCase();

            let result = this.news;

            var condition = new RegExp(ser);

            var res = result.filter(function(item) {
                return condition.test(item.title.toLowerCase());
            });
            this.filterDxa = res;
            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        async filterClick() {
            if (
                this.filterData.lang == "all" &&
                this.filterData.sort == "all"
            ) {
                let news = await this.$axios.$get(`news/admin`);
                this.news = news.data;
            }

            let result = this.news;
            if (this.filterData.lang != "all") {
                result = result.filter(
                    item => item.lang == this.filterData.lang
                );
            }
            console.log("A");

            console.log("news", this.news);
            if (this.filterData.sort != "all") {
                if (this.filterData.sort == "down") {
                    result.sort(function(a, b) {
                        if (a.views > b.views) {
                            return 1;
                        }
                        if (a.views < b.views) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
                if (this.filterData.sort == "up") {
                    result.sort(function(a, b) {
                        if (a.views < b.views) {
                            return 1;
                        }
                        if (a.views > b.views) {
                            return -1;
                        }
                        // a должно быть равным b
                        return 0;
                    });
                }
            }

            console.log("A");

            console.log("A");

            if (
                this.filterData.from != "" &&
                this.filterData.to != "" &&
                new Date(this.filterData.from).getTime() <
                    new Date(this.filterData.to).getTime()
            ) {
                result = result.filter(
                    item =>
                        new Date(item.createdAt) <
                            new Date(this.filterData.to) &&
                        new Date(item.createdAt) >
                            new Date(this.filterData.from)
                );
            } else {
                if (
                    new Date(this.filterData.from).getTime() >=
                    new Date(this.filterData.to).getTime()
                ) {
                    alert("Sana oraliqini to'g'ri kiriting");
                }
            }

            this.filterDxa = result;

            this.page = 1;
            this.count = Math.ceil(this.filterDxa.length / this.limit);

            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        visibleData(page, limit, data) {
            let result = [];
            if (data && data.length) {
                for (let i = (page - 1) * limit; i < page * limit; i++) {
                    if (i < data.length) {
                        result.push(data[i]);
                    }
                }
            }

            return result;
        },

        paginition() {
            this.visibleDxa = this.visibleData(
                this.page,
                this.limit,
                this.filterDxa
            );
        },

        getTotalView() {
            const value = this.filterDxa.reduce((previous, current) => {
                return previous + current.views;
            }, 0);
            console.log(value);
            return value;
        },

        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },

        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        exportFile() {
            this.$refs.showUser.classList.toggle("show");
        },

        async clickSearch() {},

        openFilter() {
            console.log("filterFunc");
            this.isOpenFilter = true;
        },
        closeFilter() {
            this.isOpenFilter = false;
        },

        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/news/delete/" + this.id)
                .then(async res => {
                    let news = await this.$axios.$get(`news/admin`);
                    this.news = news.data;
                    this.count = Math.ceil(this.news.length / this.limit);

                    this.filterDxa = this.news;

                    this.visibleDxa = this.visibleData(
                        this.page,
                        this.limit,
                        this.news
                    );
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    }
};
</script>

<style lang="scss">
.news {
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 0px !important;
            display: flex;
            align-items: center;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px 0 0 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
            button {
                height: 34px;
                border-radius: 0 5px 5px 0;
            }
        }
    }
    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: red;
                color: #fff;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 30px 0;
            // padding-right: 0;
        }
    }
    .notfound {
        text-align: center;
        p {
            // text-align: center;
            margin: 20px auto;
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
