<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <Delete
                @deleteRequest="deleteRequest"
                @closeDelete="closeDelete"
                :isDelete="isDelete"
            />
            <div class="col-lg-12 edu">
                <div class="card">
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Yuridik ta'lim</h4>

                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>
                                <div class="mx-2">
                                    <select
                                        class="form-select"
                                        aria-label="Default select example"
                                        v-model="type"
                                        @change="changeLang"
                                    >
                                        <option value="0">Barchasi</option>
                                        <option value="1">Texnikum</option>
                                        <option value="2">Universitet</option>
                                    </select>
                                </div>
                                <nuxt-link
                                    class="btn-add btn btn-primary"
                                    to="/legaleducation/add"
                                    >Qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 100px">Rasm</th>
                                        <th style="width: 250px">Sarlavha</th>
                                        <th style="width: 100px">Turi</th>
                                        <th>Tili</th>
                                        <th>Qo'shilgan vaqti</th>
                                        <th></th>
                                        <th></th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-if="news.length > 0">
                                    <tr v-for="item in news" :key="item">
                                        <td>
                                            <img
                                                :src="
                                                    $store.state.uploads +
                                                        item.mainImage.path
                                                "
                                            />
                                        </td>
                                        <td>
                                            {{ item.title }}
                                        </td>
                                        <td>
                                            {{
                                                item.type == "1"
                                                    ? "Texnikum"
                                                    : "Universitet"
                                            }}
                                        </td>

                                        <td>
                                            {{ item.lang }}
                                        </td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>
                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'legaleducation-gallery-id',
                                                    params: { id: item._id }
                                                }"
                                                class="galery-btn"
                                            >
                                                Galereya
                                            </nuxt-link>
                                        </td>
                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'legaleducation-faculty-id',
                                                    params: { id: item._id }
                                                }"
                                                v-if="item.type == 2"
                                                class="btn pad-x btn-success"
                                                >Fakultet</nuxt-link
                                            >
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name:
                                                        'legaleducation-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Yuridik ta'lim | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        news: null,
        page: 1,
        limit: 10,
        isDelete: false,
        type: 0
    }),
    methods: {
        async clickSearch() {
            this.page = 1;

            let news = await this.$axios.$get(
                `technical-school/search?text=${this.search}&page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        async getAll() {
            let news = await this.$axios.$get(
                `/technical-school/all?lang=all&type=${this.type}&page=${this.page}&limit=${this.limit}`
            );
            console.log(news);
            this.news = news.data;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete(`/technical-school/delete/${this.id}`)
                .then(async res => {
                    this.$toast.success("Malumot ochirildi");
                    this.getAll();
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        changeLang() {
            this.$router.push({
                name: `legaleducation`,
                query: { type: this.type }
            });
            this.page = 1;
            this.getMaterial(this.type, this.page);
        },
        async getMaterial(type, page) {
            let news = await this.$axios.$get(
                `technical-school/all?type=${type}&page=${page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
            console.log("count", news.count);
        },

        async remove(id) {
            const response = await this.$axios.$delete(
                `/technical-school/delete/${id}`
            );
            if (response.success) {
                this.$toast.success("Malumot ochirildi");
                this.getAll();
            } else {
                this.$toast.error("Xatolik yuz berdi");
            }
        }
    },
    mounted() {
        this.getAll();
    }
};
</script>

<style lang="scss">
.galery-btn {
    padding: 3px 10px;

    background: #3763c7;
    color: #fff;
    border-radius: 0.25rem;
    &:hover {
        color: #fff;
    }
}
.edu {
    a.pad-x {
        padding: 3px !important;
        margin-top: 0 !important;
    }
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    .pad {
        padding: 3px !important;
    }
    tbody {
        .action-btn {
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:nth-child(2) {
            margin-right: 5px;
            i {
                background-color: #4c4ce9;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 30px 0;
            // padding-right: 0;
            a {
                //   background: lightgreen;
                padding: 5px 10px;
                border-radius: 5px;
                color: #fff;
                margin-right: 10px;
            }
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
</style>
