<template>
    <div>
        <div class="dashboard d-inline-block">
            <div class="sidebar">
                <sidebar />
            </div>
            <!-- <headerComponent /> -->
            <h1>{{ count }}</h1>
            <Loading />
        </div>
    </div>
</template>

<script>
// import headerComponent from '../components/Header.vue'
import Sidebar from "../components/Sidebar.vue";
export default {
    components: {
        // headerComponent,
        Sidebar
    },
    data() {
        return {
            count: 0
        };
    },

    computed() {},
    async mounted() {
        this.socket = await this.$nuxtSocket({
            channel: "/",
            name: "admin"
        });

        await this.socket.emit("login", { userId: 0 });

        await this.socket.on("usercnt", data => {
            /* Handle event */
            this.$store.commit("userCount", data);
        });
    }
};
</script>

<style lang="scss">
.dashboard {
    width: 100%;
}
.table-nowrap td,
.table-nowrap th {
    white-space: unset !important;
}
.notfound {
    text-align: center;
    p {
        // text-align: center;
        margin: 20px auto;
    }
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 0px !important;
        display: flex;
        align-items: center;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px 0 0 5px !important;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
        button {
            height: 34px;
            border-radius: 0 5px 5px 0;
        }
    }
}
.action-btn:last-child {
    i {
        background-color: #ff0000 !important;
        color: #fff !important;
    }
}
</style>
