.spoiler {
    border: 1px solid black;
    background-color: #5b73e8;
    border-radius: 2px;
    padding: 1px;
    margin: 2px;
    overflow: auto;
    box-shadow: 0 0 3px gray;
}

.spoilerhead {
    border: 1px dotted black;
    background: #5b73e8;

    border-radius: 2px;
    padding: 2px;
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
}
.spoilerbody {
    margin: 5px;
}
