<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <Delete
            @deleteRequest="deleteRequest"
            @closeDelete="closeDelete"
            :isDelete="isDelete"
        />
        <div ref="blackOpacity" class="user-modal-container">
            <div ref="modal" class="user-modal">
                <div class="d-flex justify-content-between">
                    <h4>Telefon raqam qo'shish</h4>
                    <i
                        id="cancel-icon"
                        @click="toogleModal"
                        class="material-icons"
                        >cancel</i
                    >
                </div>

                <div class="form-group">
                    <label for="fullName">Tashkilot nomi (uz)</label>
                    <input
                        required
                        v-model="title.uz"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div class="form-group">
                    <label for="fullName">Tashkilot nomi (ru)</label>
                    <input
                        required
                        v-model="title.ru"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div class="form-group">
                    <label for="fullName">Tashkilot nomi (cy)</label>
                    <input
                        required
                        v-model="title.cy"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>
                <div class="form-group">
                    <label for="fullName">Telefon raqam</label>
                    <input
                        required
                        v-model="phone"
                        type="text"
                        class="form-control"
                        id="fullName"
                    />
                </div>

                <div
                    v-if="isAddPhone"
                    class="d-flex justify-content-center mt-3"
                >
                    <button @click="sendPhone" class="btn btn-primary">
                        Qo'shish
                    </button>
                </div>
                <div v-else class="d-flex justify-content-center mt-3">
                    <button @click="updatePhone" class="btn btn-primary">
                        Saqlash
                    </button>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Ishonch telefonlari</h4>

                            <div class="right">
                                <div class="input-search-z mx-2">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>

                                <button
                                    class="btn-add btn btn-primary "
                                    @click="toogleModal"
                                >
                                    Qo'shish
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Bo'linma</th>
                                        <th>Telefon</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody
                                    v-for="(item, index) in news"
                                    :key="index"
                                >
                                    <tr
                                        draggable="true"
                                        @dragstart="dragStart(index, $event)"
                                        @dragover.prevent
                                        @dragend="dragEnd"
                                        @drop="dragFinish(index, $event)"
                                    >
                                        <td style="max-width: 300px">
                                            {{ item.title.uz }}
                                        </td>
                                        <td>
                                            {{ item.number }}
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <button
                                                @click="
                                                    getToUpdateOrgNumber({
                                                        title: item.title,
                                                        category: item.catalog,
                                                        number: item.number,
                                                        id: item._id
                                                    })
                                                "
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </button>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Telefon ma'lumotlar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        title: {
            uz: "",
            ru: "",
            cy: ""
        },
        phone: "",
        isDelete: null,
        sendIndex: 0,
        dragging: -1,
        dragData: [],
        id: "",
        categoryId: "",
        search: "",
        isAddPhone: false,
        news: null
    }),
    methods: {
        async clickSearch() {
            this.page = 1;

            let news = await this.$axios.$get(
                `/helpline/search?text=${this.search}&page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },
        dragStart(which, ev) {
            this.dragging = which;
            console.log("start", which);
        },

        dragFinish(ga, ev) {
            let from = this.dragging;
            let to = ga;

            console.log(from, to);
            if (this.dragging != -1) {
                if (to != from) {
                    if (from > to) {
                        this.dragData.push({
                            position: to + 1,
                            _id: this.news[from]._id,
                            title: this.news[from].title
                        });

                        for (let i = to; i < from; i++) {
                            this.dragData.push({
                                position: i + 2,
                                _id: this.news[i]._id,
                                title: this.news[i].title
                            });
                        }
                    } else {
                        for (let i = from + 1; i <= to; i++) {
                            this.dragData.push({
                                position: i,
                                _id: this.news[i]._id,
                                title: this.news[i].title
                            });
                        }

                        this.dragData.push({
                            position: to + 1,
                            _id: this.news[from]._id,
                            title: this.news[from].title
                        });
                    }
                }
            }

            // console.log("rr", this.dragData);

            this.dragPut(this.sendIndex);
        },
        dragPut(index) {
            console.log(this.dragData);
            this.$axios
                .$put("/helpline/update/" + this.dragData[index]._id, {
                    position: this.dragData[index].position,
                    title: this.dragData[index].title
                })
                .then(async res => {
                    this.sendIndex = this.sendIndex + 1;
                    //3
                    if (this.dragData.length > this.sendIndex) {
                        this.dragPut(this.sendIndex);
                    } else {
                        this.getPhones();
                        this.dragData = [];
                        this.sendIndex = 0;
                    }
                });
        },

        dragEnd(ev) {
            this.dragging = -1;
        },
        async getPhones() {
            let news = await this.$axios.$get(
                "/helpline/" + this.$route.params.id
            );
            this.news = news.data;
            1;
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            const response = await this.$axios.$delete(
                "/helpline/delete/" + this.id
            );
            console.log(response);
            if (response.success) {
                this.getPhones();
            }
            // this.$axios
            //   .$delete("/quiz-theme/delete/" + this.id)
            //   .then(async res => {
            //     let news = await this.$axios.$get("/quiz-theme/admin");
            //     this.news = news.data;
            //     console.log(res);
            //   })
            //   .catch(err => {
            //     console.log(err);
            //   });
        },

        async sendPhone() {
            const data = {
                title: this.title,
                number: Number(this.phone),
                catalog: this.$route.params.id
            };
            if (this.title.uz == "") {
                return this.$toast.error("Tashkilot nomi(o'z)ni kiriting!!!");
            }
            if (this.title.ru == "") {
                return this.$toast.error("Tashkilot nomi(ru)ni kiriting!!!");
            }
            if (this.title.cy == "") {
                return this.$toast.error("Tashkilot nomi(kr)ni kiriting!!!");
            }
            if (this.phone.length == 0) {
                return this.$toast.error("Telefonni kiriting!!!");
            }
            this.$toast.success("Ishonch telefon qo'shildi");

            const response = await this.$axios.$post("/helpline/add", data);

            if (response.success) {
                this.getPhones();
                this.toogleModal(true);
            }
        },

        getToUpdateOrgNumber(organizationNumberData) {
            this.isAddPhone = false;
            this.title = { ...organizationNumberData.title };
            this.phone = organizationNumberData.number;
            this.id = organizationNumberData.id;
            this.categoryId = organizationNumberData.category._id;

            this.toogleModal(false);
        },

        async updatePhone() {
            const data = {
                title: this.title,
                category: this.categoryId,
                number: this.phone
            };

            const response = await this.$axios.$put(
                `/helpline/update/${this.id}`,
                data
            );
            if (response.success) {
                this.$toast.success("Malumotlar ozgartirildi");
                this.getPhones();
                this.toogleModal(true);
            } else {
                this.$toast.error("Xatolik yuz berdi");
            }
        },

        async removePhone(id) {
            const response = await this.$axios.$delete(
                `/helpline/delete/${id}`
            );
            console.log(response);
            if (response.success) {
                this.getPhones();
            }
        },

        toogleModal(value) {
            console.log(this.$route);
            if (value) {
                this.isAddPhone = true;
                this.phone = "";
                this.title = {};
            }
            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        }
    },
    async mounted() {
        this.getPhones();
    }
};
</script>

<style lang="scss" scoped>
.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}
.user-modal {
    opacity: 0;
    width: 500px;

    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
    padding: 2rem;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}
.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
#cancel-icon {
    cursor: pointer;
}

.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .phone-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px !important;
        background: #49c609;
        margin-right: 5px !important;
    }
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 15px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
