<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card p-3">
                    <v-row>
                        <v-col md="4" lg="4">
                            <v-card-title class="title">
                                Bepul onlayn kurs qo'shish
                            </v-card-title>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col md="6">
                            <div class="col">
                                <p>Tilni tanlang</p>
                                <select
                                    class="form-select"
                                    v-model="course.lang"
                                    aria-placeholder="Select Lesson"
                                >
                                    <option value="uz">
                                        Lotincha
                                    </option>
                                    <option value="cy">
                                        Krilcha
                                    </option>
                                    <option value="ru">
                                        Ruscha
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <p>Link</p>
                                <input
                                    type="text"
                                    v-model="course.link"
                                    class="form-control"
                                />
                            </div>
                        </v-col>

                        <v-col>
                            <div class="col-md-2 p-0">
                                <p class="mx-3 mb-0">Rasmi</p>
                                <v-col md="2" class="rasm " lg="5">
                                    <div class="hidden-lg-and-down">
                                        <input
                                            @change="uploadImage"
                                            class="image-input"
                                            ref="imgFile"
                                            type="file"
                                            accept="image/png, image/jpeg, image/bmp"
                                        />
                                    </div>
                                    <button
                                        ref="imgButton"
                                        class="choose"
                                        @click="imageLoad"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="32"
                                            height="30"
                                            viewBox="0 0 38 37"
                                            fill="none"
                                        >
                                            <path
                                                d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                                fill="#29A0E3"
                                            />
                                        </svg>
                                        Rasm
                                    </button>
                                </v-col>
                            </div>
                        </v-col>
                    </v-row>

                    <v-col md="12" lg="12" class="form">
                        <v-row>
                            <v-col md="6" class="mb-4">
                                <p class="">Sarlavha</p>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="course.title"
                                />
                            </v-col>
                            <v-col md="6">
                                <p class="">Video kurs davomiyligi</p>
                                <input
                                    rows="4"
                                    class="form-control"
                                    wrap
                                    v-model="course.time"
                                />
                            </v-col>
                        </v-row>
                    </v-col>

                    <div class="btns">
                        <button class="btn">Bekor qilish</button>
                        <button class="btn" @click="addcourse">Qo'shish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        course: {
            title: "",
            time: "",
            date: "",
            lang: "uz",
            link: "",
            tags: [],
            audios: [],
            videos: [],
            doc: "",
            catalog: 1,
            images: []
        },
        picker: "",
        tab: null,
        lesson: "",
        question: "",
        answers: [
            {
                answer: "",
                isCorrect: false
            }
        ],

        // image: null,
        description: "",
        descriptionTwo: ""
    }),
    async mounted() {
        let course = await this.$axios.$get("/course/" + this.$route.params.id);
        this.course = course.data;
        console.log("course", this.course);
    },
    methods: {
        imageLoad() {
            document.querySelector(".image-input").click();
        },
        async uploadImage() {
            let image = this.$refs.imgFile.files[0];
            let imgFd = new FormData();
            imgFd.append("file", image);
            const response = await this.$axios.$post("/file/upload", imgFd, {
                headers: { "Content-Type": "multipart/form-data" }
            });
            if (response.success) {
                this.course.image = response.data.path;
                this.$refs.imgButton.textContent = "Rasm yuklandi";
                this.$refs.imgButton.style.color = "green";
            }
        },
        changeTabIndex(index) {
            this.tabIndex = index + 1;
        },
        async onFileAdded(e, lang) {
            // this.$store.dispatch("courses/CREATE_FILES", e);

            let fd = new FormData();

            fd.append("file", e);

            await this.$axios.$post("file/upload", fd).then(res => {
                console.log(res);
                this.course.images.push({
                    _id: res.data._id,
                    path: res.data.path,
                    lang: lang
                });
            });
        },

        addcourse() {
            console.log(this.course);
            this.course.rating = 5;

            // if (this.course.title.uz.length == 0) {
            //   return this.$toast.error("Sarlavha(O'z)ni kiriting!!!");
            // }

            // if (this.course.title.ru.length == 0) {
            //   return this.$toast.error("Sarlavha(Ru)ni kiriting!!!");
            // }

            // if (this.course.title.cy.length == 0) {
            //   return this.$toast.error("Sarlavha(Kr)ni kiriting!!!");
            // }

            // if (this.course.time.uz.length == 0) {
            //   return this.$toast.error("Video kurs davomiyligi(O'z)ni kiriting!!!");
            // }

            // if (this.course.time.ru.length == 0) {
            //   return this.$toast.error("Video kurs davomiyligi(Ru)ni kiriting!!!");
            // }

            // if (this.course.time.cy.length == 0) {
            //   return this.$toast.error("Video kurs davomiyligi(Kr)ni kiriting!!!");
            // }

            // if (this.course.description.uz.length == 0) {
            //   return this.$toast.error("Tavsif(O'z)ni kiriting!!!");
            // }

            // if (this.course.description.ru.length == 0) {
            //   return this.$toast.error("Tavsif(Ru)ni kiriting!!!");
            // }

            // if (this.course.description.cy.length == 0) {
            //   return this.$toast.error("Tavsif(Kr)ni kiriting!!!");
            // }

            this.$axios
                .$put("/course/update/" + this.$route.params.id, this.course)
                .then(res => {
                    this.$router.push("/courses");
                    console.log("litera", this.course);
                });
        }
    }
};
</script>

<style lang="scss">
.bw {
    .fl {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
    }
}
.image-input {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 150px;
        height: 100px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.tab {
    margin-top: 30px;
    width: 410px;
    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;
        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
.v-date-picker-table .v-btn {
    color: #c9c9c9;
}
.dictionary-textarea {
    width: 100%;
    outline: none;
    background: #f4f4f4;
}
.delete {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 18px;
    margin: 0 auto;
    div {
        margin-top: 20px;
        display: flex;
    }
}

thead {
    .text-start {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b0b7ce;
    }
}
.text-start {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}

.v-btn--is-elevated {
    box-shadow: none !important;
}

.form {
    .rasm {
        button.choose {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            background: #fafbff;
            border: 3px dashed #cddbff;
            box-sizing: border-box;
            border-radius: 8px;
            svg {
                margin-bottom: 10px;
            }
        }
    }
}
</style>
