<template>
    <div class="dashboard-box" v-if="viewsData != null">
        <div class="title-top">
            <h4>Dashboard</h4>
            <div class="title-actions">
                <button class="btn-exports btn-title">
                    <fa icon="cloud-download-alt" />
                    <span> Export</span>

                    <div class="dropdown-content">
                        <button class="btn-action" @click="ExportExcel('xls')">
                            <fa icon="file-excel" />
                            <span> Excel</span>
                        </button>
                        <button class="btn-action" @click="createPdfFile">
                            <fa icon="file-pdf" />
                            <span>PDF</span>
                        </button>
                    </div>
                </button>
                <button class="btn-filter btn-title" @click="openFilter">
                    <fa icon="filter" /> <span>Filtr</span>
                </button>
            </div>
        </div>

        <div
            ref="filterModal"
            :class="isOpen ? 'filter-modal show' : 'filter-modal hide'"
        >
            <div class="filter-header d-flex justify-content-between">
                <h4 style="letter-spacing:2px">Filter</h4>
                <div @click="closeFilter" class="cancel material-icons ">
                    close
                </div>
            </div>
            <div class="filter-body">
                <div class="form-group">
                    <h6>Til</h6>
                    <select
                        v-model="filter.lang"
                        class="form-select"
                        aria-label="Default select example"
                    >
                        <option selected value="all">Barchasi</option>
                        <option value="uz">Lotincha</option>
                        <option value="ru">Ruscha</option>
                        <option value="cy">Krilcha</option>
                    </select>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <h6>Barchasi</h6>
                    <div class="form-check">
                        <input
                            @change="selectAll"
                            type="checkbox"
                            ref="checkedAll"
                            class="form-check-input"
                            id="exampleCheck1"
                            v-model="checkbox.all"
                        />
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-between mt-4">
                        <h6>Yangiliklar</h6>
                        <div class="form-check">
                            <input
                                v-model="checkbox.chknews"
                                @change="removeSelectedCheckBox"
                                value="chknews"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h6>Targ'ibot materiallari</h6>
                        <div class="form-check">
                            <input
                                @change="removeSelectedCheckBox"
                                v-model="checkbox.chkmaterial"
                                value="chkmaterial"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h6>O'nlayn sinov</h6>
                        <div class="form-check">
                            <input
                                @change="removeSelectedCheckBox"
                                v-model="checkbox.chktest"
                                value="chktest"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h6>Huquqiy muammolar yechimi</h6>
                        <div class="form-check">
                            <input
                                @change="removeSelectedCheckBox"
                                v-model="checkbox.chkproblem"
                                value="chproblem"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h6>Huquqiy adabiyotlar</h6>
                        <div class="form-check">
                            <input
                                @change="removeSelectedCheckBox"
                                v-model="checkbox.chkliterature"
                                value="chproblem"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h6>Yuridik lug'at</h6>
                        <div class="form-check">
                            <input
                                @change="removeSelectedCheckBox"
                                v-model="checkbox.chkdictionary"
                                value="chkdictionary"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h6>Elektron kitoblar</h6>
                        <div class="form-check">
                            <input
                                @change="removeSelectedCheckBox"
                                v-model="checkbox.chkbook"
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                            />
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <h3 style="letter-spacing:3px" class=" mt-2">
                        Davr
                    </h3>
                </div>
                <div class="form-group">
                    <h6>Dan</h6>
                    <input
                        v-model="filter.from"
                        class="form-control mt-2"
                        type="date"
                    />
                </div>
                <div class="form-group">
                    <h6 class=" pt-2">gacha</h6>
                    <input
                        v-model="filter.to"
                        class="form-control mt-2"
                        type="date"
                    />
                </div>
                <div class="filter-btns">
                    <button @click="closeFilter" class="btn btn-danger mt-3">
                        Bekor qilish
                    </button>
                    <button
                        @click="searchFilteredData"
                        class="btn btn-primary mt-3"
                    >
                        Qidirish
                    </button>
                </div>
            </div>
            <div class="filter-footer"></div>
        </div>

        <div class="dashboard-cards">
            <div class="cards-item" v-if="t_news">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Yangiliklar</h3>
                            <fa icon="rss" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.news.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ v_news }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item" v-if="t_promote">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Targ'ibot materiallari</h3>
                            <fa icon="quote-left" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.material.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ v_promote.views }}</h6>
                                </div>
                            </div>

                            <div class="likes">
                                <div class="card-info-like">
                                    <div class="like-item">
                                        <fa
                                            class="like-icon"
                                            icon="thumbs-up"
                                        />
                                        <span> {{ v_promote.like }} </span>
                                    </div>
                                    <div class="like-item">
                                        <fa
                                            class="dislike-icon"
                                            icon="thumbs-down"
                                        />
                                        <span> {{ v_promote.dislike }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item" v-if="t_test">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Onlayn sinov</h3>
                            <fa icon="check" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.sinov.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ v_test }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item" v-if="t_literature">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Huquqiy adabiyotlar</h3>
                            <fa icon="bookmark" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.literature.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ v_literature.views }}</h6>
                                </div>
                            </div>

                            <div class="likes">
                                <div class="card-info-like">
                                    <div class="like-item">
                                        <fa
                                            class="like-icon"
                                            icon="thumbs-up"
                                        />
                                        <span> {{ v_literature.like }} </span>
                                    </div>
                                    <div class="like-item">
                                        <fa
                                            class="dislike-icon"
                                            icon="thumbs-down"
                                        />
                                        <span>
                                            {{ v_literature.dislike }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item" v-if="t_problem">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Huquqiy muammolar yechimi</h3>
                            <fa icon="exclamation-triangle" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.problem.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ v_problem }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item" v-if="t_dictionary">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Yuridik lug'at</h3>
                            <fa icon="language" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.dictonary.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ viewsData.dicCount.dictonary }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item" v-if="t_ebook">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Elektron kitoblar</h3>
                            <fa icon="book" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ viewsData.books.length }}</h6>
                                </div>
                                <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>{{ v_ebook }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-item">
                <div class="card-class">
                    <div class="card-class-body">
                        <div class="card-title-top">
                            <h3>Tashrif buyurganlar</h3>
                            <fa icon="users" />
                        </div>
                        <div class="card-info">
                            <div>
                                <div class="card-info-item">
                                    <h5>Jami:</h5>
                                    <h6>{{ userCount }}</h6>
                                </div>
                                <!-- <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>0</h6>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- //charts   -->

        <div class="chart-box">
            <div class="card-class">
                <div class="card-class-body">
                    <div class="chart-title">
                        <div class="chart-title-left">
                            <h4 class="title-all">Tashrif buyurganlar soni</h4>

                            <label class="btn-item">
                                <input
                                    type="checkbox"
                                    value="bar"
                                    v-model="selectType1"
                                />
                                <b>Bar</b>
                                <span class="checkmark"></span>
                            </label>
                            <label class="btn-item">
                                <input
                                    type="checkbox"
                                    value="line"
                                    v-model="selectType2"
                                />
                                <b>Line</b>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <select @change="changeDay" v-model="selectMetric">
                            <option value="day">30 kunlik</option>
                            <option value="year">Yillar bo'yicha</option>
                            <option value="month">Oylar bo'yicha</option>
                        </select>
                    </div>

                    <apexchart
                        type="bar"
                        height="350"
                        :options="chartOptions"
                        :series="series"
                        v-if="selectType1[0] == 'bar' && isChart"
                    ></apexchart>

                    <apexchart
                        type="line"
                        height="350"
                        :options="chartOptions2"
                        :series="series"
                        v-if="selectType2[0] == 'line' && isChart"
                    ></apexchart>
                </div>
            </div>
        </div>

        <client-only>
            <vue-html2pdf
                :show-layout="false"
                :float-layout="true"
                :enable-download="true"
                :paginate-elements-by-height="1400"
                filename="pdfFile"
                :pdf-quality="2"
                :manual-pagination="true"
                pdf-format="a4"
                pdf-orientation="portrait"
                pdf-content-width="800px"
                ref="html2Pdf"
            >
                <div
                    class="row d-flex justify-content-center"
                    slot="pdf-content"
                    style="padding:2rem"
                >
                    <div class="title-pdf">
                        <h2>Umumiy statistika</h2>
                        <div class="title-pdf-item">
                            <h4>Davr:</h4>
                            <h5>{{ filter.from }} - {{ filter.to }}</h5>
                        </div>
                        <div class="title-pdf-item">
                            <h4>Til:</h4>
                            <h5>{{ filter.lang }}</h5>
                        </div>
                    </div>
                    <div class="dashboard-cards">
                        <div class="cards-item" v-if="t_news">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Yangiliklar</h3>
                                        <fa icon="rss" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{ viewsData.news.length }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>{{ v_news }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item" v-if="t_promote">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Targ'ibot materiallari</h3>
                                        <fa icon="quote-left" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{
                                                        viewsData.material
                                                            .length
                                                    }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>{{ v_promote.views }}</h6>
                                            </div>
                                        </div>

                                        <div class="likes">
                                            <div class="card-info-like">
                                                <div class="like-item">
                                                    <fa
                                                        class="like-icon"
                                                        icon="thumbs-up"
                                                    />
                                                    <span>
                                                        {{ v_promote.like }}
                                                    </span>
                                                </div>
                                                <div class="like-item">
                                                    <fa
                                                        class="dislike-icon"
                                                        icon="thumbs-down"
                                                    />
                                                    <span>
                                                        {{ v_promote.dislike }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item" v-if="t_test">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Onlayn sinov</h3>
                                        <fa icon="check" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{ viewsData.sinov.length }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>{{ v_test }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item" v-if="t_literature">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Huquqiy adabiyotlar</h3>
                                        <fa icon="bookmark" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{
                                                        viewsData.literature
                                                            .length
                                                    }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>
                                                    {{ v_literature.views }}
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="likes">
                                            <div class="card-info-like">
                                                <div class="like-item">
                                                    <fa
                                                        class="like-icon"
                                                        icon="thumbs-up"
                                                    />
                                                    <span>
                                                        {{ v_literature.like }}
                                                    </span>
                                                </div>
                                                <div class="like-item">
                                                    <fa
                                                        class="dislike-icon"
                                                        icon="thumbs-down"
                                                    />
                                                    <span>
                                                        {{
                                                            v_literature.dislike
                                                        }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item" v-if="t_problem">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Huquqiy muammolar yechimi</h3>
                                        <fa icon="exclamation-triangle" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{
                                                        viewsData.problem.length
                                                    }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>{{ v_problem }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item" v-if="t_dictionary">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Yuridik lug'at</h3>
                                        <fa icon="language" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{
                                                        viewsData.dictonary
                                                            .length
                                                    }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>
                                                    {{
                                                        viewsData.dicCount
                                                            .dictonary
                                                    }}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item" v-if="t_ebook">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Elektron kitoblar</h3>
                                        <fa icon="book" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>
                                                    {{ viewsData.books.length }}
                                                </h6>
                                            </div>
                                            <div class="card-info-item">
                                                <h5>Ko'rildi:</h5>
                                                <h6>{{ v_ebook }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards-item">
                            <div class="card-class">
                                <div class="card-class-body">
                                    <div class="card-title-top">
                                        <h3>Tashrif buyurganlar</h3>
                                        <fa icon="users" />
                                    </div>
                                    <div class="card-info">
                                        <div>
                                            <div class="card-info-item">
                                                <h5>Jami:</h5>
                                                <h6>{{ metricAll }}</h6>
                                            </div>
                                            <!-- <div class="card-info-item">
                                    <h5>Ko'rildi:</h5>
                                    <h6>0</h6>
                                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- //charts   -->

                    <div class="chart-box" v-if="isChart">
                        <div class="card-class">
                            <div class="card-class-body">
                                <div class="chart-title">
                                    <div class="chart-title-left">
                                        <h4 class="title-all">
                                            Tashrif buyurganlar soni
                                        </h4>

                                        <label class="btn-item">
                                            <input
                                                type="checkbox"
                                                value="bar"
                                                v-model="selectType1"
                                            />
                                            <b>Bar</b>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="btn-item">
                                            <input
                                                type="checkbox"
                                                value="line"
                                                v-model="selectType2"
                                            />
                                            <b>Line</b>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                    <select v-model="selectMetric">
                                        <option value="ym:pv:date"
                                            >30 kunlik</option
                                        >
                                        <option value="ym:pv:year"
                                            >Yillar bo'yicha</option
                                        >
                                        <option value="ym:pv:month"
                                            >Oylar bo'yicha</option
                                        >
                                    </select>
                                </div>

                                <apexchart
                                    type="bar"
                                    height="350"
                                    :options="chartOptions"
                                    :series="series"
                                    v-if="selectType1[0] == 'bar'"
                                ></apexchart>

                                <apexchart
                                    type="line"
                                    height="350"
                                    :options="chartOptions2"
                                    :series="series"
                                    v-if="selectType2[0] == 'line'"
                                ></apexchart>
                            </div>
                        </div>
                    </div>
                </div>
            </vue-html2pdf>
        </client-only>

        <div
            slot="pdf-content"
            ref="tableToExcel"
            class="tableToExcel"
            style="padding: 2rem; display: none;"
        >
            <div style="display:none" class="table-responsive">
                <table
                    ref="exportable_table"
                    class="table table-centered table-nowrap mt-4"
                >
                    <thead class="table-light">
                        <tr>
                            <th class="px-0 py-0">
                                Bo'lim nomi
                            </th>
                            <th>
                                Jami
                            </th>
                            <th>
                                Ko'rildi
                            </th>
                            <th>
                                Yoqtirildi
                            </th>
                            <th>
                                Yoqtirilmadi
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yangiliklar</td>
                            <td>{{ viewsData.news.length }}</td>
                            <td>{{ v_news }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Targ'ibot materiallari</td>
                            <td>{{ viewsData.material.length }}</td>
                            <td>{{ v_promote.views }}</td>
                            <td>{{ v_promote.like }}</td>
                            <td>{{ v_promote.dislike }}</td>
                        </tr>

                        <tr>
                            <td>Onlayn sinov</td>
                            <td>{{ viewsData.sinov.length }}</td>
                            <td>{{ v_test }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Huquqiy adabiyotlar</td>
                            <td>{{ viewsData.literature.length }}</td>
                            <td>{{ v_literature.views }}</td>
                            <td>{{ v_literature.like }}</td>
                            <td>{{ v_literature.dislike }}</td>
                        </tr>

                        <tr>
                            <td>Huquqiy muammolar yechimi</td>
                            <td>{{ viewsData.problem.length }}</td>
                            <td>{{ v_problem }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Yuridik lug'at</td>
                            <td>{{ viewsData.dictonary.length }}</td>
                            <td>{{ viewsData.dicCount.dictonary }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Elektron kitoblar</td>
                            <td>{{ viewsData.books.length }}</td>
                            <td>{{ v_ebook }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <!-- <tr style="background: #f5f6f8">
                            <td>Davr</td>
                            <td>
                                {{
                                    filterData.from == ""
                                        ? "Barcha"
                                        : filterData.from
                                }}
                            </td>
                            <td>
                                {{ filterData.to }}
                            </td>
                            <td></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import filterModal from "../components/filterModal.vue";
import dateformat from "dateformat";
import XLSX from "xlsx";
export default {
    head() {
        return {
            title: "Video roliklar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },

    data: () => ({
        userCount: 0,
        isChart: false,
        metricAll: 0,
        selectType1: ["bar"],
        selectType2: [],
        selectMetric: "day",
        date1: "",
        date2: "",
        series: [
            {
                name: "Tashriflar soni",
                data: []
            }
        ],

        chartOptions: {
            chart: {
                height: 350,
                type: "bar"
            },
            plotOptions: {
                bar: {
                    borderRadius: 10,
                    dataLabels: {
                        position: "top" // top, center, bottom
                    }
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function(val) {
                    return val;
                },
                offsetY: -20,
                style: {
                    fontSize: "12px",
                    colors: ["#304758"]
                }
            },

            xaxis: {
                categories: [],
                position: "top",
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                crosshairs: {
                    fill: {
                        type: "gradient",
                        gradient: {
                            colorFrom: "#D8E3F0",
                            colorTo: "#BED1E6",
                            stops: [0, 100],
                            opacityFrom: 0.4,
                            opacityTo: 0.5
                        }
                    }
                },
                tooltip: {
                    enabled: true
                }
            },
            yaxis: {
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    show: true
                    // formatter: function(val) {
                    //     return val;
                    // }
                }
            },
            title: {
                floating: true,
                offsetY: 330,
                align: "center",
                style: {
                    color: "#444"
                }
            }
        },
        chartOptions2: {
            chart: {
                height: 350,
                type: "line",
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: true
            },
            stroke: {
                curve: "straight"
            },
            title: {
                text: "Product Trends by Month",
                align: "left"
            },
            grid: {
                row: {
                    colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
                    opacity: 0.5
                }
            },
            xaxis: {
                categories: ["0"],
                tooltip: {
                    enabled: true
                }
            }
        },
        checkbox: {
            all: true,
            chknews: true,
            chkbook: true,
            chkmaterial: true,
            chkliterature: true,
            chktest: true,
            chkproblem: true,
            chkdictionary: true
        },
        filter: {
            lang: "all",
            from: "",
            to: ""
        },

        v_news: 0,
        v_promote: {
            views: 0,
            like: 0,
            dislike: 0
        },
        v_test: 0,
        v_literature: {
            views: 0,
            like: 0,
            dislike: 0
        },
        v_problem: 0,
        v_dictionary: 0,
        v_ebook: 0,
        visit: 0,

        t_news: true,
        t_promote: true,
        t_test: true,
        t_literature: true,
        t_problem: true,
        t_dictionary: true,
        t_ebook: true,

        viewsData: null,

        news: null,
        material: null,
        book: null,
        literature: null,
        visits: 0,
        isOpen: false,
        isMetric: true
    }),
    async mounted() {
        this.socket = await this.$nuxtSocket({
            channel: "/",
            name: "admin"
        });

        await this.socket.emit("login", { userId: 0 });

        await this.socket.on("usercnt", data => {
            /* Handle event */
            this.userCount = data;
        });
        this.filter.to = dateformat(new Date(), "isoDate");
        //minus 30 day
        const time = Date.now() - 2592000000;
        this.filter.from = dateformat(time, "isoDate");

        const response = await this.$axios.$get(
            `home/dashboard?lang=${this.filter.lang}&start=${this.filter.from}&end=${this.filter.to}`
        );
        console.log(response);

        this.viewsData = response.data;

        this.viewsData.news.forEach(item => {
            this.v_news = this.v_news + item.views;
        });
        this.viewsData.books.forEach(item => {
            this.v_ebook = this.v_ebook + item.downloads;
        });
        // this.viewsData.dictonary.forEach(item => {
        //     this.v_dictionary = this.v_dictionary + item.views;
        // });

        this.viewsData.literature.forEach(item => {
            this.v_literature.like = this.v_literature.like + item.helpful;
            this.v_literature.dislike =
                this.v_literature.dislike + item.notHelpful;
            this.v_literature.views = this.v_literature.views + item.views;
        });
        this.viewsData.material.forEach(item => {
            this.v_promote.like = this.v_promote.like + item.helpful;
            this.v_promote.dislike = this.v_promote.dislike + item.notHelpful;
            this.v_promote.views = this.v_promote.views + item.views;
        });

        this.viewsData.problem.forEach(item => {
            this.v_problem = this.v_problem + item.views;
        });
        this.viewsData.sinov.forEach(item => {
            this.v_test = this.v_test + item.views;
        });

        if (response.success) {
            this.news = response.news;
            this.book = response.book;
            this.literature = response.literature;
            this.material = response.material;
        }
        const counters = document.querySelectorAll(".counter");
        const speed = 200;

        this.statChart();

        counters.forEach(counter => {
            const animate = () => {
                const value = +counter.getAttribute("data-target");
                const data = +counter.innerText;

                const time = value / speed;
                if (data < value) {
                    counter.innerText = Math.ceil(data + time);
                    setTimeout(animate, 1);
                } else {
                    counter.innerText = value;
                }
            };

            animate();
        });
    },
    methods: {
        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },
        async statChart() {
            let chart = await this.$axios.$get(
                `home/stats?type=${this.selectMetric}&page=1&limit=30`
            );

            let res = chart.data;

            res.forEach(item => {
                this.series[0].data.push(item.count);

                let day = item._id;

                if (this.selectMetric == "day") {
                    day = day.slice(0, 10);
                }

                this.chartOptions.xaxis.categories.push(day);
                this.chartOptions2.xaxis.categories.push(day);
            });

            this.series.push(2);
            this.isChart = true;
        },

        changeDay() {
            this.isChart = false;
            this.series[0].data = [];
            this.chartOptions.xaxis.categories = [];
            this.chartOptions2.xaxis.categories = [];
            this.statChart();
        },

        listDays(date1, date2) {
            let list = [];
            let d1 = new Date(date1);
            let d2 = new Date(date2);

            if (new Date(date1) > new Date(date2)) {
                d1 = new Date(date2);
                d2 = new Date(date1);
            }

            while (d1 <= d2) {
                var data = new Date(d1);
                let month1 = "" + (data.getMonth() + 1);
                let day1 = "" + data.getDate();
                let year1 = data.getFullYear();

                if (month1.length < 2) month1 = "0" + month1;
                if (day1.length < 2) day1 = "0" + day1;

                // [year1, month1, day1].join("-");

                list.push([year1, month1, day1].join("-"));

                d1.setDate(d1.getDate() + 1);
            }

            return list;
        },
        changeDate1() {},
        changeDate2() {},
        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        },

        selectAll(event) {
            if (event.target.checked) {
                this.checkbox = {
                    chknews: "chknews",
                    chkbook: "chkbook",
                    chkmaterial: "chkmaterial",
                    chkliterature: "chkliterature",
                    chktest: "chktest",
                    chkproblem: "chkproblem",
                    chkdictionary: "chkdictionary"
                };
            } else {
                this.checkbox = {
                    chknews: "",
                    chkbook: "",
                    chkliterature: "",
                    chkmaterial: "",
                    chktest: "",
                    chkproblem: "",
                    chkdictionary: ""
                };
            }
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        async searchFilteredData() {
            this.t_news = this.checkbox.chknews;
            this.t_promote = this.checkbox.chkmaterial;
            this.t_literature = this.checkbox.chkliterature;
            this.t_ebook = this.checkbox.chkbook;
            this.t_test = this.checkbox.chktest;
            this.t_problem = this.checkbox.chkproblem;
            this.t_dictionary = this.checkbox.chkdictionary;

            const value =
                new Date(this.filter.to).valueOf() -
                new Date(this.filter.from).valueOf();
            if (value > 0) {
                const response = await this.$axios.$get(
                    `home/dashboard?lang=${this.filter.lang}&start=${this.filter.from}&end=${this.filter.to}`
                );

                console.log(response);

                this.viewsData = response.data;
                console.log("data", this.viewsData);
                this.v_news = 0;
                this.viewsData.news.forEach(item => {
                    this.v_news = this.v_news + item.views;
                });
                this.viewsData.books.forEach(item => {
                    this.v_ebook = this.v_ebook + item.downloads;
                });
                // this.viewsData.dictonary.forEach(item => {
                //   this.v_news = this.v_news + item.views;
                // });

                this.viewsData.literature.forEach(item => {
                    this.v_literature.like =
                        this.v_literature.like + item.helpful;
                    this.v_literature.dislike =
                        this.v_literature.dislike + item.notHelpful;
                });
                this.viewsData.material.forEach(item => {
                    this.v_promote.like = this.v_promote.like + item.helpful;
                    this.v_promote.dislike =
                        this.v_promote.dislike + item.notHelpful;
                });

                this.viewsData.problem.forEach(item => {
                    this.v_problem = this.v_problem + item.views;
                });
                this.viewsData.sinov.forEach(item => {
                    this.v_test = this.v_test + item.views;
                });

                this.isOpen = false;
            } else {
                this.$toast.error("Sanani to'g'ri kiriting");
            }
        },

        removeSelectedCheckBox() {
            const obj = { ...this.checkbox };
            const arr = [];

            for (let key in obj) {
                if (obj[key]) {
                    arr.push(obj[key]);
                }
            }
            if (arr.length == 7) {
                this.$refs.checkedAll.checked = true;
            } else {
                this.$refs.checkedAll.checked = false;
            }
        },

        openFilter() {
            this.filter.to = dateformat(new Date(), "isoDate");
            //minus 30 day
            const time = Date.now() - 2592000000;
            this.filter.from = dateformat(time, "isoDate");

            this.isOpen = true;
        },
        closeFilter() {
            this.isOpen = false;
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped>
div.title-pdf {
    margin-bottom: 10px;
    h2 {
        font-size: 18px;
    }
    div.title-pdf-item {
        display: flex;
        h4 {
            font-size: 16px;
            margin-right: 15px;
        }
        h5 {
            font-size: 16px;
        }
    }
}
label.btn-item {
    background: #f3f4f5;
    // margin-left: 15px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 0px;
    position: relative;
    b {
        position: relative;
        z-index: 2;
        display: block;
        text-align: center;
        width: 100%;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
        padding: 8px 5px;
        color: #333333;
    }
    input {
        position: absolute;
        z-index: 2;
        height: 0;
        width: 0;
        opacity: 0 !important;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px;
    }
}
label.btn-item input:checked ~ .checkmark {
    background: #dedede;
}
div.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
    align-items: stretch;
    div.cards-item {
        width: 25%;
        padding: 0px 10px;
        margin-bottom: 20px;
        // height: 100%;
        div.card-title-top {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            justify-content: space-between;
            color: #5b73e8;
            h3 {
                font-size: 16px;
                margin-bottom: 0px;
                color: #5b73e8;
            }
        }
        .card-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        div.card-info-item {
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            align-items: center;
            h5 {
                font-size: 14px;
                color: #626b75;
                margin-bottom: 0px;
                margin-right: 10px;
            }
            h6 {
                font-size: 12px;
                color: #85909b;
                margin-bottom: 0px;
            }
        }
        div.like-item {
            // display: flex;
            align-items: center;
            // margin-right: 10px;
            // margin-top: 10px;
            span {
                font-size: 12px;
                color: #626b75;
                font-weight: 500;
                margin-left: 5px;
                line-height: 20px;
            }
            svg {
                line-height: 20px;
            }
            .like-icon {
                color: #34c38f;
            }
            .dislike-icon {
                color: #f46a6a;
            }
        }
    }
}
div.chart-box {
    div.chart-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h4 {
            margin-right: 20px;
        }
        div.chart-title-left {
            display: flex;
            align-items: center;
            width: 60%;
        }
        select {
            height: 35px;
            border: 1px solid #999;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px;
            padding: 5px 10px;
            &:focus {
                border: 1px solid #666;
            }
        }
    }
}
.btext {
    display: flex;
    align-items: center;
    p {
        margin-right: 30px;
        margin-bottom: 0;
        span {
            font-size: 20px;
        }
    }
}
.sort {
    width: 200px;
    button {
        // background: transparent;
        // border: 1px solid;
        // padding: 5px 20px;
        // margin-left: 5px;
        // border-radius: 5px;
        border: 0 !important;
        color: #000;
        // color: #ffffff;
        &:hover {
            background-color: #999;
            color: aliceblue;
        }
        &.active {
            background-color: #999;
            color: aliceblue;
        }
    }
    button:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
.goz {
    display: flex;
    align-items: center;
    i {
        margin-right: 10px;
        svg {
            font-size: 20px;
        }
    }
    .i1 {
        margin-left: 5px;
    }
}
.v-list-item {
    display: block !important ;
}
.show::-webkit-scrollbar {
    display: none;
}

.filter-modal {
    position: fixed;
    padding: 35px 15px 15px 15px;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    box-shadow: -8px -9px 9px -7px rgba(170, 168, 212, 0.75);
    width: 280px;
    transition: transform 0.6s ease;
    z-index: 500;
}
.filter-btns {
    display: flex;
    justify-content: space-between;
    button {
        width: calc((100% - 10px) / 2) !important;
    }
}
.hide {
    transform: translateX(280px);
}
.show {
    transform: translateX(0);
}
.cancel {
    cursor: pointer;
}
.bttn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
    }
    button {
        font-size: 18px;
    }
    .eksport {
        display: flex;
        align-items: center;
        color: rgb(83, 109, 254);
        i {
            margin-left: 2px;
        }
    }
}

.bold-text {
    p {
        font-weight: bold;
    }
}
.likes {
    span {
        margin-right: 10px;
        p {
            margin-bottom: 0 !important;
            margin-left: 5px;
        }
    }
}
.apexcharts-yaxis {
    display: none;
}
#SvgjsG1180 {
    display: none;
}
</style>
