<template>
    <div
        style="height: 100vh; background-color: #f5f6f8"
        v-if="settings != null"
    >
        <div class="text-center"></div>
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-4">Sozlamalar</h3>

                        <div class="settings-item">
                            <h4>Asosiy teglar</h4>

                            <div class="row d-flex">
                                <div class="col-md-8">
                                    <div class="tag-box">
                                        <div
                                            class="tag-item"
                                            v-for="(item,
                                            index) in settings.tags"
                                            :key="index"
                                        >
                                            <span>
                                                <input
                                                    type="text"
                                                    v-model="
                                                        settings.tags[index].tag
                                                    "
                                                />
                                                <button
                                                    @click="removeTag(index)"
                                                >
                                                    x
                                                </button>
                                            </span>
                                            <div class="lang">
                                                <h6>Til:</h6>
                                                <h5
                                                    v-if="
                                                        settings.tags[index]
                                                            .lang == 'uz'
                                                    "
                                                >
                                                    Uzbek
                                                </h5>
                                                <h5
                                                    v-if="
                                                        settings.tags[index]
                                                            .lang == 'cy'
                                                    "
                                                >
                                                    Kiril
                                                </h5>
                                                <h5
                                                    v-if="
                                                        settings.tags[index]
                                                            .lang == 'ru'
                                                    "
                                                >
                                                    Rus
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 v-if="settings.tags.length == 0">
                                        Asosiy teglar yo'q
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="row teg-right">
                                        <div class="col-md-6">
                                            <h5>Yangi teg</h5>
                                            <input
                                                type="text"
                                                v-model="newtag"
                                            />
                                            <div>
                                                <button
                                                    class="btn mt-2 btn-success"
                                                    @click="addTag"
                                                >
                                                    Qo'shish
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Til</h5>
                                            <select
                                                name=""
                                                id=""
                                                v-model="lang"
                                            >
                                                <option value="uz">
                                                    O'zbek
                                                </option>
                                                <option value="cy">
                                                    Kiril
                                                </option>
                                                <option value="ru">
                                                    Rus
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="settings-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="settings-item2">
                                        <h4>BXM miqdori</h4>
                                        <input
                                            type="text"
                                            v-model="settings.bxm"
                                        />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="settings-item2">
                                        <h4>Reytingni ko'rsatish</h4>
                                        <label class="switch">
                                            <input
                                                type="checkbox"
                                                checked
                                                v-model="settings.rating"
                                            />
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button
                            class="btn btn-success w-100"
                            @click="editSettings"
                        >
                            Saqlash
                        </button>

                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import confirmModal from "../../components/Delete.vue";
export default {
    name: "User",
    head() {
        return {
            title: "Sozlamalar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        settings: null,
        newtag: "",
        lang: "uz"
    }),
    async mounted() {
        let settings = await this.$axios.$get("/setting/get");
        this.settings = settings.data;
    },

    methods: {
        addTag() {
            if (this.newtag != "") {
                this.settings.tags.push({
                    lang: this.lang,
                    tag: this.newtag
                });

                this.newtag = "";
            }
        },
        removeTag(index) {
            this.settings.tags.splice(index, 1);
        },
        editSettings() {
            this.$axios.$put("/setting/edit", this.settings).then(res => {
                this.$toast.success("Ma`lumotlar o'zgartirildi");
            });
        }
    }
};
</script>

<style lang="scss" scoped>
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.teg-right {
    border-left: 1px solid #999;

    input {
        width: 100%;
    }
}
.settings-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
    margin-bottom: 20px;
}
.settings-item2 {
    padding: 15px 0px;
    margin-bottom: 20px;
}
select {
    font-size: 14px;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 5px;
}
div.tag-box {
    display: flex;
    margin: 3px;
    flex-wrap: wrap;

    input {
        width: calc(100% - 40px);
    }
    div.tag-item {
        margin-bottom: 10px;
        margin: 0px 10px;
        width: 28%;
        margin-bottom: 20px;
    }
    div.lang {
        display: flex;
        align-items: center;
        align-items: center;
        h6 {
            font-size: 12px;
            color: #666;
            margin-bottom: 0px;
            margin-right: 10px;
        }
        h5 {
            margin-bottom: 0px;
            font-size: 14px;
            color: #333;
        }
    }
    span {
        background-color: #e7eeff;
        display: inline-flex;
        width: 100%;
        padding: 0px 7px;
        margin-bottom: 3px;
        border: 1px solid #29a0e3;
        border-radius: 14px;
        align-items: center;
        input {
            color: #333;
            font-size: 16px;
            width: unset;
            display: inline-block;
            border: none;
            width: 100%;
        }
        button {
            font-size: 18px;
            margin-left: 10px;
            height: 100%;
            border-left: 1px solid #333;
            padding: 0px 5px;
        }
    }
}
input {
    height: 34px;
    border: 1px solid #999991;
    border-radius: 5px;
    padding: 10px;
    &:focus-visible {
        outline: none;
    }
}
.file-input {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 150px;
        height: 110px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}
.user-modal {
    opacity: 0;
    width: 200px;
    height: 100px;
    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}
.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
#cancel-icon {
    cursor: pointer;
}

.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 10px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
