<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" v-if="test != null">
                        <div class="card-el">
                            <h4 class="card-title ">Mavzu nomi</h4>

                            <div class="right d-flex">
                                <h6 style="margin-right: 10px;">Umumiy</h6>
                                <div class=" d-flex">
                                    <h6
                                        class="d-flex align-items-center"
                                        style="margin-right: 10px;"
                                    >
                                        <span>
                                            <i class="material-icons up"
                                                >check_circle</i
                                            >
                                        </span>
                                        <b>{{ $route.query.true }}%</b>
                                    </h6>
                                    <h6 class="d-flex align-items-center">
                                        <span>
                                            <i class="material-icons down"
                                                >cancel</i
                                            >
                                        </span>
                                        <b>{{ $route.query.false }}%</b>
                                    </h6>
                                </div>
                                <div class="title-actions">
                                    <button class="btn-exports btn-title">
                                        <fa icon="cloud-download-alt" />
                                        <span> Export</span>

                                        <div class="dropdown-content">
                                            <button
                                                class="btn-action"
                                                @click="ExportExcel('xls')"
                                            >
                                                <fa icon="file-excel" />
                                                <span> Excel</span>
                                            </button>
                                            <button
                                                class="btn-action"
                                                @click="createPdfFile"
                                            >
                                                <fa icon="file-pdf" />
                                                <span>PDF</span>
                                            </button>
                                        </div>
                                    </button>
                                </div>

                                <!-- <div class="search">
                  <input type="search" placeholder="Izlash..." />
                </div> -->
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>№</th>
                                        <th>Savol</th>
                                        <th>Natija</th>
                                        <th>Foizlarda</th>
                                        <th style="text-align:center">
                                            Umumiy urinishlar soni
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(item, index) in test"
                                        :key="index"
                                    >
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ item._id.question }}</td>
                                        <td>
                                            <span>
                                                <i class="material-icons up"
                                                    >check_circle</i
                                                >
                                                <p>
                                                    {{ item.success }}
                                                </p>
                                            </span>

                                            <span>
                                                <i class="material-icons down"
                                                    >cancel</i
                                                >
                                                <p>
                                                    {{
                                                        item.count -
                                                            item.success
                                                    }}
                                                </p>
                                            </span>
                                        </td>

                                        <td>
                                            <span>
                                                <i class="material-icons up"
                                                    >check_circle</i
                                                >
                                                <p>
                                                    {{
                                                        protcent(
                                                            item.success,
                                                            item.count
                                                        )
                                                    }}%
                                                </p>
                                            </span>

                                            <span>
                                                <i class="material-icons down"
                                                    >cancel</i
                                                >
                                                <p>
                                                    {{
                                                        100 -
                                                            protcent(
                                                                item.success,
                                                                item.count
                                                            )
                                                    }}%
                                                </p>
                                            </span>
                                        </td>

                                        <td>{{ item.count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="test.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>

                        <client-only>
                            <vue-html2pdf
                                :show-layout="false"
                                :float-layout="true"
                                :enable-download="true"
                                :paginate-elements-by-height="1400"
                                filename="pdfFile"
                                :pdf-quality="2"
                                :manual-pagination="true"
                                pdf-format="a4"
                                pdf-orientation="portrait"
                                pdf-content-width="800px"
                                ref="html2Pdf"
                            >
                                <div
                                    class="table-responsive"
                                    slot="pdf-content"
                                    style="padding:2rem"
                                >
                                    <div class="card-el">
                                        <div class="right d-flex">
                                            <h6 style="margin-right: 10px;">
                                                Umumiy
                                            </h6>
                                            <div class=" d-flex">
                                                <h6
                                                    class="d-flex align-items-center"
                                                    style="margin-right: 10px;"
                                                >
                                                    <span>
                                                        <i
                                                            class="material-icons up"
                                                            >check_circle</i
                                                        >
                                                    </span>
                                                    <b
                                                        >{{
                                                            $route.query.true
                                                        }}%</b
                                                    >
                                                </h6>
                                                <h6
                                                    class="d-flex align-items-center"
                                                >
                                                    <span>
                                                        <i
                                                            class="material-icons down"
                                                            >cancel</i
                                                        >
                                                    </span>
                                                    <b
                                                        >{{
                                                            $route.query.false
                                                        }}%</b
                                                    >
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table
                                            class="table table-centered table-nowrap mb-0"
                                        >
                                            <thead class="table-light">
                                                <tr>
                                                    <th>№</th>
                                                    <th>Savol</th>
                                                    <th>Natija</th>
                                                    <th>Foizlarda</th>
                                                    <th
                                                        style="text-align:center"
                                                    >
                                                        Umumiy urinishlar soni
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(item,
                                                    index) in test"
                                                    :key="index"
                                                >
                                                    <td>{{ index + 1 }}</td>
                                                    <td>
                                                        {{ item._id.question }}
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <i
                                                                class="material-icons up"
                                                                >check_circle</i
                                                            >
                                                            <p>
                                                                {{
                                                                    item.success
                                                                }}
                                                            </p>
                                                        </span>

                                                        <span>
                                                            <i
                                                                class="material-icons down"
                                                                >cancel</i
                                                            >
                                                            <p>
                                                                {{
                                                                    item.count -
                                                                        item.success
                                                                }}
                                                            </p>
                                                        </span>
                                                    </td>

                                                    <td>
                                                        <span>
                                                            <i
                                                                class="material-icons up"
                                                                >check_circle</i
                                                            >
                                                            <p>
                                                                {{
                                                                    protcent(
                                                                        item.success,
                                                                        item.count
                                                                    )
                                                                }}%
                                                            </p>
                                                        </span>

                                                        <span>
                                                            <i
                                                                class="material-icons down"
                                                                >cancel</i
                                                            >
                                                            <p>
                                                                {{
                                                                    100 -
                                                                        protcent(
                                                                            item.success,
                                                                            item.count
                                                                        )
                                                                }}%
                                                            </p>
                                                        </span>
                                                    </td>

                                                    <td>{{ item.count }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div
                                            class="notfound"
                                            v-if="test.length == 0"
                                        >
                                            <p>Malumotlar mavjud emas</p>
                                        </div>
                                    </div>
                                </div>
                            </vue-html2pdf>
                        </client-only>
                        <!-- end table-responsive -->

                        <div
                            ref="tableToExcel"
                            class="table-responsive"
                            slot="pdf-content"
                            style="padding: 2rem; position: absolute; transform: translateX(-1000%)"
                        >
                            <div class="table-responsive">
                                <table
                                    class="table table-centered table-nowrap mb-0"
                                >
                                    <thead class="table-light">
                                        <tr>
                                            <th>№</th>
                                            <th>Savol</th>
                                            <th>To'g'ri</th>
                                            <th>Noto'g'ri</th>
                                            <th>To'g'ri %</th>
                                            <th>Noto'g'ri %</th>
                                            <th style="text-align:center">
                                                Umumiy urinishlar soni
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="(item, index) in test"
                                            :key="index"
                                        >
                                            <td>{{ index + 1 }}</td>
                                            <td>
                                                {{ item._id.question }}
                                            </td>
                                            <td>{{ item.success }}</td>

                                            <td>
                                                {{ item.count - item.success }}
                                            </td>
                                            <td>
                                                {{
                                                    100 *
                                                        protcent(
                                                            item.success,
                                                            item.count
                                                        )
                                                }}%
                                            </td>
                                            <td>
                                                {{
                                                    100 *
                                                        (100 -
                                                            protcent(
                                                                item.success,
                                                                item.count
                                                            ))
                                                }}%
                                            </td>

                                            <td>{{ item.count }}</td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>Jami</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ $route.query.true }}</td>
                                            <td>{{ $route.query.false }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import XLSX from "xlsx";
export default {
    name: "User",
    data: () => ({
        test: null,
        pTrue: "",

        isDelete: false,
        compareData: [],
        id: "",
        pTrue: 0,
        pError: 0
    }),
    async mounted() {
        let id = this.$route.params.id;
        let test = await this.$axios.$get(
            `/test-result/` + this.$route.params.id
        );

        this.test = test.data;
        let ss = this.test.sort(function(a, b) {
            if (a._id.position > b._id.position) {
                return 1;
            }
            if (a._id.position < b._id.position) {
                return -1;
            }
            // a должно быть равным b
            return 0;
        });

        this.test = ss;

        console.log("ssss", ss);
    },
    methods: {
        async ExportExcel(type, fn, dl) {
            var elt = await this.$refs.tableToExcel;
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            return dl
                ? XLSX.write(wb, {
                      bookType: type,
                      bookSST: true,
                      type: "base64"
                  })
                : XLSX.writeFile(
                      wb,
                      fn ||
                          ("excelFile" + "." || "SheetJSTableExport.") +
                              (type || "xlsx")
                  );
        },

        getTotalView() {
            const value = this.test.reduce((previous, current) => {
                return previous + current.count;
            }, 0);

            return value;
        },

        protcent(tr, length) {
            let p = (tr / length) * 100;
            return p.toFixed(1);
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/quiz-question/delete/" + this.id)
                .then(async res => {
                    let test = await this.$axios.$get(
                        "/quiz-question/all/" + this.$route.params.id
                    );
                    this.test = test.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        async createPdfFile() {
            this.$refs.html2Pdf.generatePdf();
        }
    }
};
</script>

<style lang="scss">
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:nth-child(2) {
        margin-right: 5px;
        i {
            background-color: #4c4ce9;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
        a {
            //   background: lightgreen;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px;
        }
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
