<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="course != null">
                        <div class="card-el">
                            <h4 class="card-title ">Bepul onlayn kurslar</h4>

                            <div class="right">
                                <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>

                                <div class="mx-2">
                                    <select
                                        class="form-select"
                                        @change="changeLang"
                                        v-model="lang"
                                        aria-placeholder="Select Lesson"
                                    >
                                        <option value="all">
                                            Barchasi
                                        </option>
                                        <option value="uz">
                                            Lotincha
                                        </option>
                                        <option value="cy">
                                            Krilcha
                                        </option>
                                        <option value="ru">
                                            Ruscha
                                        </option>
                                    </select>
                                </div>
                                <nuxt-link
                                    class="btn-add btn btn-primary  "
                                    to="/courses/create"
                                    >Bepul onlayn kurslar qo'shish</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Rasm</th>
                                        <th>Sarlavha</th>
                                        <th>Til</th>
                                        <th>Qo'shilgan vaqti</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in course" :key="item">
                                        <td style="max-width:60px">
                                            <img
                                                :src="
                                                    $store.state.uploads +
                                                        item.image
                                                "
                                            />
                                        </td>

                                        <td style="max-width:250px">
                                            {{ item.title }}
                                        </td>

                                        <td>
                                            <!-- {{ item.lang }} -->
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'courses-edit-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </nuxt-link>

                                            <button
                                                @click="openDelete(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="course.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                v-if="course.length > 0"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                :total-visible="10"
                            ></v-pagination>
                        </div>

                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Onlayn kurslar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        page: 1,
        count: 1,
        limit: 10,
        isDelete: false,
        course: null,
        lang: "all",
        id: "",
        search: ""
    }),
    async mounted() {
        let course = await this.$axios.$get(
            `course/all?lang=all&page=${this.page}&limit=${this.limit}`
        );
        this.count = Math.ceil(course.count / this.limit);
        this.course = course.data;
        console.log("course", this.course);
    },
    methods: {
        async clickSearch() {
            this.page = 1;

            let course = await this.$axios.$get(
                `course/all?lang=all&search=${this.search}&page=${this.page}&limit=${this.limit}`
            );
            this.course = course.data;
            this.count = Math.ceil(course.count / this.limit);
        },
        changeLang() {
            this.$router.push({ name: `courses`, query: { lang: this.lang } });
            this.page = 1;
            this.getNews(this.lang, this.page);
        },
        async getNews(lang, page) {
            let course = await this.$axios.$get(
                `course/all?lang=${lang}&page=${page}&limit=${this.limit}`
            );
            this.course = course.data;
            this.count = Math.ceil(course.count / this.limit);
        },
        paginition() {
            this.getNews(this.lang, this.page);
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/course/delete/" + this.id)
                .then(async res => {
                    let course = await this.$axios.$get(
                        `course/all?lang=all&page=${this.page}&limit=${this.limit}`
                    );
                    this.course = course.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        }

        // async setPage() {
        //   try {
        //     let users = await this.$axios.$get(
        //       `admin/all?page=${this.page}&limit=${this.limit}`
        //     );
        //     this.users = users.data;
        //     console.log(users);
        //   } catch (e) {
        //     console.log(e);
        //   }
        // }
    }
};
</script>

<style lang="scss" scoped>
.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
