<template>
    <div
        class="wrapper"
        style="height: 100vh; background-color: #f5f6f8"
        v-if="gallery != null"
    >
        <div class="faculty row  mx-2">
            <h2>Galereya qo'shish</h2>

            <div class="form-group mb-3">
                <h5>Sarlavha</h5>
                <input
                    type="text"
                    v-model="gallery.title"
                    class="form-control mb-3"
                />
            </div>
            <div class="form-group">
                <div>
                    <input
                        type="file"
                        class="hidden-input"
                        ref="imagesInput"
                        @change="addImages"
                        accept="image/png, image/gif, image/jpeg"
                    />
                    <div class="custom-grid">
                        <div
                            class="custom-card card d-flex align-items-center justify-content-center flex-column"
                            style="cursor:pointer;position:relative"
                            @click="loadImages"
                        >
                            <i
                                class="material-icons text-secondary"
                                style="font-size:4rem"
                                >add</i
                            >
                            <h5 class="text-secondary">
                                Rasm qo'shish
                            </h5>
                        </div>
                        <div v-for="(item, i) in gallery.images" :key="i">
                            <div
                                class=" custom-card card"
                                style="position:relative"
                            >
                                <div
                                    @click="removeImages(item._id, i)"
                                    class="removeVideo"
                                >
                                    <i
                                        style="color:#000;margin:1px"
                                        class="material-icons"
                                        >close</i
                                    >
                                </div>
                                <img
                                    style="width:130px;height:100px"
                                    :src="$store.state.uploads + item.path"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div></div>
                <input
                    type="file"
                    class="hidden-input"
                    ref="videoInput"
                    @change="addVideos"
                    accept="video/mp4,video/x-m4v,video/*"
                />
                <div class="custom-grid">
                    <div
                        class="custom-card card d-flex align-items-center justify-content-center flex-column"
                        style="cursor:pointer;position:relative"
                        @click="loadVideos"
                    >
                        <i
                            class="material-icons text-secondary"
                            style="font-size:4rem"
                            >add</i
                        >
                        <h5 class="text-secondary">
                            Video qo'shish
                        </h5>
                    </div>
                    <div v-for="(item, i) in gallery.videos" :key="i">
                        <div class="custom-card" style="position:relative">
                            <div @click="removeVideos(i)" class="removeVideo">
                                <i
                                    style="color:#000;margin:1px"
                                    class="material-icons"
                                    >close</i
                                >
                            </div>
                            <video
                                width="130"
                                height="100"
                                controls
                                :src="$store.state.uploads + item.path"
                            ></video>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end ">
                <button @click="addFaculty" class="btn btn-primary">
                    Qo'shish
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        gallery: null
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        loadImages() {
            this.$refs.imagesInput.click();
        },

        async addImages(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);

            let fd = new FormData();
            fd.append("file", e.target.files[0]);
            try {
                await this.$axios.$post("file/upload", fd).then(res => {
                    this.gallery.images.push({
                        _id: res.data._id,
                        path: res.data.path
                    });
                });
            } catch (e) {
                console.log(e);
            }
        },

        async removeImages(index) {
            this.gallery.images.splice(index, 1);
        },
        loadVideos() {
            this.$refs.videoInput.click();
        },
        async addVideos(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);
            try {
                await this.$axios.$post("file/upload", fd).then(res => {
                    this.gallery.videos.push({
                        _id: res.data._id,
                        path: res.data.path
                    });
                });
            } catch (e) {
                console.log(e);
            }
        },
        async removeVideos(id, index) {
            this.gallery.videos.splice(index, 1);
        },

        async addFaculty() {
            const response = await this.$axios.$put(
                `/technical-school/galereya/edit/${this.$route.params.id}`,
                this.gallery
            );
            if (response.success) {
                this.$toast.success("Fakultet o'zgartirildi");
                this.$router.back();
            } else {
                this.$toast.success("Malumotlarni to'liq kiriting");
            }
        }
    },

    async mounted() {
        const response = await this.$axios.$get(
            `/technical-school/galereya/${this.$route.params.id}`
        );
        this.gallery = response.data;
        console.log("asssss", this.catalog);
    }
};
</script>

<style lang="scss">
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.wrapper {
    padding: 10px;
}

.faculty {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}
.dflex {
    display: flex;
    margin-bottom: 10px;
    div {
        border-radius: 8px;
        margin-right: 20px;
    }
}
.green {
    background: #9fa39e !important;
    border-radius: 8px;
}
.hidden-input {
    display: none;
}
.removeVideo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}
.custom-card {
    min-width: 100px;
    height: 140px;
    margin-left: 10px;
    padding: 20px;
    background-color: #f6f6f6;
}

.custom-grid {
    margin: 10px 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 10px 0px;
}
.custom-grid::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.custom-grid::-webkit-scrollbar-track {
    background-clip: content-box;
}

.custom-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

.title {
    margin-bottom: 0;
    margin-left: 10px;
}
#file-input {
    display: none;
}

.file-input,
.image-input {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 250px;
        height: 150px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.image-logo,
.image {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 100px;
        height: 100px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}
</style>
