<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card p-3" v-if="material != null">
                    <v-row>
                        <v-col md="4" lg="4">
                            <v-card-title class="title">
                                Huquqiy adabiyotlar taxrirlash
                            </v-card-title>
                        </v-col>
                    </v-row>

                    <div>
                        <v-col md="12" lg="12" class="form">
                            <v-row>
                                <v-col md="6" lg="6" class="form">
                                    <p class="mt-3">Bo'limlar</p>
                                    <select
                                        class="form-select"
                                        v-model="material.catalog"
                                        aria-placeholder="Select Lesson"
                                    >
                                        <option
                                            v-for="(item, i) in [
                                                'Bog\'cha tarbiyalanuvchilari uchun huquqiy qo\'llanmalar',
                                                'Maktab o\'quvchilari uchun huquqiy qo\'llanmalar',
                                                'Maktab o\'qituvchilari uchun huquqiy qo\'llanmalar'
                                            ]"
                                            :key="i"
                                            :value="i + 1"
                                        >
                                            {{ item }}
                                        </option>
                                    </select>
                                </v-col>
                                <v-col md="6" lg="6" class="form">
                                    <p class="mt-3">Til</p>
                                    <select
                                        class="form-select"
                                        v-model="material.lang"
                                        aria-placeholder="Select Lesson"
                                    >
                                        <option value="uz">
                                            Lotincha
                                        </option>
                                        <option value="cy">
                                            Krilcha
                                        </option>
                                        <option value="ru">
                                            Ruscha
                                        </option>
                                    </select>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col md="12" class="mb-4">
                                    <p class="">Sarlavha</p>
                                    <input
                                        class="form-control"
                                        type="text"
                                        v-model="material.title"
                                    />
                                </v-col>
                            </v-row>

                            <p class="mt-8 mb-2">Maqola</p>
                            <tinymce
                                id="d1"
                                v-model="material.article"
                                :other_options="tinyOptions"
                            ></tinymce>
                        </v-col>
                    </div>

                    <p class="mt-5">Rasmlar</p>

                    <div class="imgd">
                        <div>
                            <input
                                type="file"
                                class="hidden-input"
                                ref="imageInput"
                                @change="addImage"
                                accept="image/png, image/gif, image/jpeg"
                            />
                            <div class="custom-grid">
                                <div
                                    class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                    style="cursor:pointer;position:relative"
                                    @click="loadImage"
                                >
                                    <i
                                        class="material-icons text-secondary"
                                        style="font-size:4rem"
                                        >add</i
                                    >
                                    <h5 class="text-secondary">
                                        Rasm qo'shish
                                    </h5>
                                </div>
                                <div
                                    v-for="(item, i) in material.images"
                                    :key="i"
                                >
                                    <div
                                        class=" custom-card card"
                                        style="position:relative"
                                    >
                                        <div
                                            @click="removeImage(item._id, i)"
                                            class="removeVideo"
                                        >
                                            <i
                                                style="color:#000;margin:5px"
                                                class="material-icons"
                                                >close</i
                                            >
                                        </div>
                                        <img
                                            style="width:130px;margin:10px;height:130px"
                                            :src="
                                                $store.state.uploads + item.path
                                            "
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-5 bw">
                        <v-col class="">
                            <div>
                                <input
                                    type="file"
                                    class="hidden-input"
                                    ref="videoInput"
                                    @change="addVideo"
                                    accept="video/mp4,video/x-m4v,video/*"
                                />
                                <div class="custom-grid">
                                    <div
                                        class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                        style="cursor:pointer;position:relative"
                                        @click="loadVideo"
                                    >
                                        <i
                                            class="material-icons text-secondary"
                                            style="font-size:4rem"
                                            >add</i
                                        >
                                        <h5 class="text-secondary">
                                            Video qo'shish
                                        </h5>
                                    </div>
                                    <div
                                        v-for="(item, i) in material.videos"
                                        :key="i"
                                    >
                                        <div
                                            class="custom-card"
                                            style="position:relative"
                                        >
                                            <div
                                                @click="
                                                    removeVideo(item._id, i)
                                                "
                                                class="removeVideo"
                                            >
                                                <i
                                                    style="color:#000;margin:5px"
                                                    class="material-icons"
                                                    >close</i
                                                >
                                            </div>
                                            <video
                                                style="margin:5px"
                                                width="130"
                                                height="130"
                                                controls
                                                :src="
                                                    $store.state.uploads +
                                                        item.path
                                                "
                                            ></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </v-col>
                        <v-col> </v-col>
                    </div>
                    <div>
                        <input
                            type="file"
                            class="hidden-input"
                            ref="audioInput"
                            @change="addAudio"
                            accept="audio/mpeg"
                        />
                        <div class="custom-grid">
                            <div
                                class="custom-card card  d-flex align-items-center justify-content-center flex-column"
                                style="cursor:pointer;position:relative"
                                @click="loadAudio"
                            >
                                <i
                                    class="material-icons text-secondary"
                                    style="font-size:4rem"
                                    >add</i
                                >
                                <h5 class="text-secondary">Audio qo'shish</h5>
                            </div>
                            <div v-for="(item, i) in material.audios" :key="i">
                                <div
                                    class="custom-card card"
                                    style="position:relative"
                                >
                                    <div
                                        @click="removeAudio(item._id, i)"
                                        class="removeVideo"
                                    >
                                        <i
                                            style="color:#000;margin:5px"
                                            class="material-icons"
                                            >close</i
                                        >
                                    </div>
                                    <audio
                                        controls
                                        style="width:250px;height:80px"
                                        class="d-flex align-items-center"
                                    >
                                        <source
                                            :src="
                                                $store.state.uploads + item.path
                                            "
                                        />
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input
                                type="file"
                                class="hidden-input"
                                ref="pdfInput"
                                @change="addPdf"
                                accept=".pdf"
                            />
                            <div class="custom-grid">
                                <div
                                    class="custom-card card  d-flex align-items-center justify-content-center flex-column"
                                    style="cursor:pointer;position:relative"
                                    @click="loadPdf"
                                >
                                    <i
                                        class="material-icons text-secondary"
                                        style="font-size:4rem"
                                        >add</i
                                    >
                                    <h5 class="text-secondary">
                                        PDF qo'shish
                                    </h5>
                                </div>
                                <div
                                    v-for="(item, i) in material.file"
                                    :key="i"
                                >
                                    <div
                                        class="custom-card card"
                                        style="position:relative"
                                    >
                                        <div
                                            @click="removePdf(item._id, i)"
                                            class="removeVideo"
                                        >
                                            <i
                                                style="color:#000;margin:5px"
                                                class="material-icons"
                                                >close</i
                                            >
                                        </div>
                                        <span>{{
                                            item.path.slice(13, 50)
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div cols="8">
                        <p class="mt-5">Teglar</p>
                        <div class="d-flex justify-center">
                            <input v-model="tag" class="form-control" />
                            <v-btn @click="addTag()"
                                ><v-icon>mdi-plus</v-icon></v-btn
                            >
                        </div>
                        <span
                            v-for="(tag, index) in material.tags"
                            class="mt-4"
                            :key="index"
                        >
                            <v-chip
                                class="ma-2"
                                close
                                label
                                outlined
                                color="grey lighten-1 grey--text text--lighten-1 font-weight-medium"
                                @click:close="removeThisTag(index)"
                            >
                                {{ tag }}
                            </v-chip></span
                        >
                    </div>

                    <div class="btns">
                        <button class="btn">Bekor qilish</button>
                        <button class="btn" @click="addMaterial">
                            Qo'shish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        material: {
            title: "",
            article: "",
            tags: [],
            audios: [],
            videos: [],
            catalog: 1,
            images: [],
            lang: ""
        },
        tinyOptions: {
            height: "350"
        },

        token: "",
        dropzoneOptions3: {
            url: "https://media.huquqiyportal.uz/" + `api/file/upload`,
            thumbnailWidth: 150,
            maxFilesize: 0.5,
            headers: { Authorization: "" },
            addRemoveLinks: true,
            dictDefaultMessage:
                "<i class='fa fa-cloud-upload'></i>Rasmlarni yuklang"
        }
    }),
    async mounted() {
        let material = await this.$axios.$get(
            "/literature/" + this.$route.params.id
        );
        this.material = material.data;
        console.log("material", this.material);
    },
    methods: {
        changeTabIndex(index) {
            this.tabIndex = index + 1;
        },
        loadVideo() {
            this.$refs.videoInput.click();
        },
        loadImage() {
            this.$refs.imageInput.click();
        },
        loadAudio() {
            this.$refs.audioInput.click();
        },
        loadPdf() {
            this.$refs.pdfInput.click();
        },
        async addPdf(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);

            await this.$axios.$post("file/upload", fd).then(res => {
                this.material.file.push({
                    _id: res.data._id,
                    path: res.data.path
                });
            });
        },
        async removePdf(id, index) {
            this.material.file.splice(index, 1);
        },

        async addVideo(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);

            await this.$axios.$post("file/upload", fd).then(res => {
                this.material.videos.push({
                    _id: res.data._id,
                    path: res.data.path
                });
            });
        },
        async addImage(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);

            await this.$axios.$post("file/upload", fd).then(res => {
                this.material.images.push({
                    _id: res.data._id,
                    path: res.data.path
                });
            });
        },
        async addAudio(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);

            await this.$axios.$post("file/upload", fd).then(res => {
                this.material.audios.push({
                    _id: res.data._id,
                    path: res.data.path
                });
            });
        },
        async removeVideo(id, index) {
            this.material.videos.splice(index, 1);
        },
        async removeImage(id, index) {
            this.material.images.splice(index, 1);
        },
        async removeAudio(id, index) {
            this.material.audios.splice(index, 1);
        },

        // changedAudio(event) {
        //   const form = new FormData();
        //   form.append("file", event.target.files[0]);
        //   this.$axios.$post(`/file/upload`, form).then(res => {
        //     this.material.audios.push(res.data);
        //   });
        // },
        addTag() {
            this.material.tags = [...this.material.tags, this.tag];
            this.tag = "";
        },
        removeThisTag(index) {
            this.material.tags.splice(index, 1);
        },
        removeThisImg(index) {
            this.material.images.splice(index, 1);
        },

        addNewAnswer() {
            // console.log("shu gap");
            this.answers.push({
                answer: "",
                isCorrect: false
            });
        },

        addMaterial() {
            console.log(this.material);
            if (this.material.title.length == 0) {
                return this.$toast.error("Sarlavhani kiriting!!!");
            }

            if (this.material.article.length == 0) {
                return this.$toast.error("Maqolani kiriting!!!");
            }

            if (this.material.images.length == 0) {
                return this.$toast.error("Rasmlarni kiriting!!!");
            }
            this.$toast.success("Huquqiy adabiyot qo'shildi");
            this.$axios
                .$put(
                    "/literature/update/" + this.$route.params.id,
                    this.material
                )
                .then(res => {
                    this.$router.push("/literatures");
                });
        }
    },
    created() {
        // this.dropzoneOptions1.headers.Authorization = this.$auth.strategy.token.get();
        //
        // this.dropzoneOptions2.headers.Authorization = this.$auth.strategy.token.get();
        // this.dropzoneOptions3.headers.Authorization = this.$auth.strategy.token.get();
    }
};
</script>

<style lang="scss">
.hidden-input {
    display: none;
}
.removeVideo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}
.custom-card {
    min-width: 170px;
    height: 170px;
    margin-left: 10px;
    padding: 20px;
    background-color: #f6f6f6;
}

.custom-grid {
    margin: 10px 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 10px 0px;
}
.custom-grid::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.custom-grid::-webkit-scrollbar-track {
    background-clip: content-box;
}

.custom-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
.imgd {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .imgs {
        margin-left: 20px;
        width: 100px;
        img {
            width: 100px;
        }
    }
}
.bw {
    .fl {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
    }
}
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        padding: 10px 20px;
        color: #fff;
        &:first-child {
            background-color: #666666;
            margin-right: 20px;
        }
        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.tab {
    margin-top: 30px;
    width: 410px;
    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;
        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
.v-date-picker-table .v-btn {
    color: #c9c9c9;
}
.dictionary-textarea {
    width: 100%;
    outline: none;
    background: #f4f4f4;
}
.delete {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 18px;
    margin: 0 auto;
    div {
        margin-top: 20px;
        display: flex;
    }
}

thead {
    .text-start {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b0b7ce;
    }
}
.text-start {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}

.v-btn--is-elevated {
    box-shadow: none !important;
}

.form {
    .rasm {
        button.choose {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            background: #fafbff;
            border: 3px dashed #cddbff;
            box-sizing: border-box;
            border-radius: 8px;
            svg {
                margin-bottom: 10px;
            }
        }
    }
}
</style>
