<template>
    <div style="padding: 2rem; min-height: 100vh; background-color:#F5F6F8">
        <v-stepper v-model="e1">
            <v-stepper-items>
                <!-- <v-stepper-content step="1">
                    <div class="col-md-2 float-end">
                        <select v-model="data.lang" class="form-select">
                            <option selected value="uz">Lotincha</option>
                            <option value="ru">Ruscha</option>
                            <option value="cy">Krilcha</option>
                        </select>
                    </div>
                    <div class="row py-4 px-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5>Telefon raqam</h5>
                                <input
                                    v-model="data.phones"
                                    type="text"
                                    class="form-control mb-3"
                                />

                                <h5>Email</h5>
                                <input
                                    v-model="data.email"
                                    type="text"
                                    class="form-control mb-3"
                                />

                                <h5>Sayt</h5>
                                <input
                                    v-model="data.site"
                                    type="text"
                                    class="form-control mb-3"
                                />
                                <h5>Oquv maskani</h5>
                                <select v-model="data.type" class="form-select">
                                    <option selected value="1">Texnikum</option>
                                    <option value="2">Universitet</option>
                                </select>
                            </div>
                        </div>
                        <div
                            class="col-md-4 d-flex justify-content-center align-items-center"
                        >
                            <v-col md="2" class="rasm " lg="5">
                                <div class="hidden-lg-and-down">
                                    <input
                                        @change="firstPageuploadFile"
                                        class="image-input"
                                        ref="firstPageimgFile"
                                        type="file"
                                        accept="image/png, image/jpeg, image/bmp"
                                    />
                                </div>

                                <button
                                    style="width:150px;height: 150px"
                                    @click="firstPagefileLoad"
                                    ref="imgButton"
                                    class="choose"
                                >
                                    <div v-if="data.mainImage.path">
                                        <img
                                            style="width:110px;height:110px"
                                            :src="
                                                $store.state.uploads +
                                                    data.mainImage.path
                                            "
                                            alt=""
                                        />
                                    </div>
                                    <div v-else class="d-flex flex-column">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="50"
                                            height="40"
                                            viewBox="0 0 38 37"
                                            fill="none"
                                        >
                                            <path
                                                d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                                fill="#29A0E3"
                                            />
                                        </svg>
                                        Rasm
                                    </div>
                                </button>
                            </v-col>
                        </div>

                        <div class="col-md-6">
                            <button @click="incStep" class="btn btn-primary">
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="2">
                    <div class="add-legal-education col-md-10 mx-auto">
                        <div class="form-group">
                            <h5 class="mt-3">Sarlavha</h5>
                            <input
                                v-model="data.title"
                                type="text"
                                class="form-control mb-3"
                            />
                            <h5 class="mt-3">Ta'lim muassasa xaqida</h5>
                            <tinymce id="d10" v-model="data.about"></tinymce>
                     
                        </div>
                        <div class="d-flex justify-content-end">
                            <button
                                style="margin-right:5px"
                                @click="decStep"
                                class=" my-4 btn btn-secondary"
                            >
                                Orqaga qaytish
                            </button>
                            <button
                                @click="incStep"
                                class="my-4 btn btn-primary mr-3"
                            >
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="3">
                    <div class="add-legal-education col-md-10 mx-auto">
                        <div class="form-group">
                            <h5 class="mt-3">Manzil</h5>
                            <input
                                v-model="data.address"
                                type="text"
                                class="form-control mb-3"
                            />
                            <h5 class="mt-3">Qo'shimcha</h5>
                            <tinymce
                                id="d13"
                                v-model="data.additional"
                            ></tinymce>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button
                                style="margin-right:5px"
                                @click="decStep"
                                class=" my-4 btn btn-secondary"
                            >
                                Orqaga qaytish
                            </button>
                            <button
                                @click="incStep"
                                class="my-4 btn btn-primary mr-3"
                            >
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="4">
                    <div class="add-legal-education col-md-10 mx-auto">
                        <div class="form-group">
                            <h5 class="mt-3">Facebook</h5>
                            <input
                                v-model="data.socialLinks.facebook"
                                type="text"
                                class="form-control mb-3"
                            />
                        </div>
                        <h5>Telegram</h5>
                        <input
                            v-model="data.socialLinks.telegram"
                            type="text"
                            class="form-control mb-3"
                        />

                        <h5>Instagram</h5>
                        <input
                            v-model="data.socialLinks.instagram"
                            type="text"
                            class="form-control mb-3"
                        />
                        <h5>Twitter</h5>
                        <input
                            v-model="data.socialLinks.twitter"
                            type="text"
                            class="form-control mb-3"
                        />

                        <div class="d-flex justify-content-end">
                            <button
                                style="margin-right:5px"
                                @click="decStep"
                                class=" my-4 btn btn-secondary"
                            >
                                Orqaga qaytish
                            </button>
                            <button
                                @click="incStep"
                                class="my-4 btn btn-primary mr-3"
                            >
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="5">
                    <div class="add-legal-education col-md-10 mx-auto">
                        <div class="form-group">
                            <input
                                type="file"
                                class="hidden-input"
                                ref="imagesInput"
                                @change="addImages"
                                accept="image/png, image/gif, image/jpeg"
                            />
                            <div class="custom-grid">
                                <div
                                    class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                    style="cursor:pointer;position:relative"
                                    @click="loadImages"
                                >
                                    <i
                                        class="material-icons text-secondary"
                                        style="font-size:4rem"
                                        >add</i
                                    >
                                    <h5 class="text-secondary">
                                        Rasm qo'shish
                                    </h5>
                                </div>
                                <div v-for="(item, i) in data.images" :key="i">
                                    <div
                                        class=" custom-card card"
                                        style="position:relative"
                                    >
                                        <div
                                            @click="removeImages(item._id, i)"
                                            class="removeVideo"
                                        >
                                            <i
                                                style="color:#000;margin:1px"
                                                class="material-icons"
                                                >close</i
                                            >
                                        </div>
                                        <img
                                            style="width:120px;height:100px"
                                            :src="
                                                $store.state.uploads + item.path
                                            "
                                        />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <input
                                    type="file"
                                    class="hidden-input"
                                    ref="videoInput"
                                    @change="addVideos"
                                    accept="video/mp4,video/x-m4v,video/*"
                                />
                                <div class="custom-grid">
                                    <div
                                        class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                        style="cursor:pointer;position:relative"
                                        @click="loadVideos"
                                    >
                                        <i
                                            class="material-icons text-secondary"
                                            style="font-size:4rem"
                                            >add</i
                                        >
                                        <h5 class="text-secondary">
                                            Video qo'shish
                                        </h5>
                                    </div>
                                    <div
                                        v-for="(item, i) in data.videos"
                                        :key="i"
                                    >
                                        <div
                                            class="custom-card"
                                            style="position:relative"
                                        >
                                            <div
                                                @click="removeVideos(i)"
                                                class="removeVideo"
                                            >
                                                <i
                                                    style="color:#000;margin:1px"
                                                    class="material-icons"
                                                    >close</i
                                                >
                                            </div>
                                            <video
                                                width="130"
                                                height="100"
                                                controls
                                                :src="
                                                    $store.state.uploads +
                                                        item.path
                                                "
                                            ></video>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button
                                    style="margin-right:5px"
                                    @click="decStep"
                                    class=" my-4 btn btn-secondary"
                                >
                                    Orqaga qaytish
                                </button>
                                <button
                                    @click="incStep"
                                    class="my-4 btn btn-primary mr-3"
                                >
                                    Davom etish
                                </button>
                            </div>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="6">
                    <div>
                        <div class="add-legal-education col-md-10 mx-auto">
                            <h3 style="margin-bottom:20px">Qulayliklar</h3>
                            <div class="form-group">
                                <div
                                    class="conveniences"
                                    v-for="(con, i) in data.conveniences"
                                    :key="con"
                                >
                                    <h5 class="mt-3">Sarlavha</h5>
                                    <input
                                        v-model="con.title"
                                        type="text"
                                        class="form-control mb-3"
                                    />

                                    <h5 class="mt-3">Tavsif</h5>
                                    <input
                                        v-model="con.description"
                                        type="text"
                                        class="form-control mb-3"
                                    />
                                    <input
                                        type="file"
                                        class="hidden-input"
                                        id="hidden-input"
                                        ref="convienceImage"
                                        @change="addImage"
                                        accept="image/png, image/gif, image/jpeg"
                                    />
                                    <div class="custom-grid">
                                        <div
                                            class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                            style="cursor:pointer;position:relative"
                                            @click="loadImage(i)"
                                        >
                                            <i
                                                class="material-icons text-secondary"
                                                style="font-size:2rem"
                                                >add</i
                                            >
                                            <h6 class="text-secondary">
                                                Rasm qo'shish
                                            </h6>
                                        </div>
                                        <div>
                                            <div
                                                v-if="con.image.path"
                                                class=" custom-card card"
                                            >
                                                <img
                                                    style="width:100px; height:110px"
                                                    :src="
                                                        $store.state.uploads +
                                                            con.image.path
                                                    "
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <button
                                            @click="removeConviences(i)"
                                            style="margin-right:5px"
                                            class="btn btn-danger"
                                        >
                                            O'chirish
                                        </button>
                                        <button
                                            @click="addConviences"
                                            class="btn btn-primary"
                                        >
                                            Qulayliklar haqida yangi malumot
                                            qo'shish
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>Direktor</h6>
                                        <input
                                            v-model="data.director"
                                            type="text"
                                            class="form-control mb-3"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>Yetakchilar soni</h6>
                                        <input
                                            v-model="data.leaders"
                                            type="number"
                                            class="form-control mb-3"
                                        />
                                    </div>
                                    <div class="col-md-3">
                                        <h6>O'qituvchilar soni</h6>
                                        <input
                                            v-model="data.teachers"
                                            type="number"
                                            class="form-control mb-3"
                                        />
                                    </div>
                                    <div class="col-md-3">
                                        <h6>Ishchilar soni</h6>
                                        <input
                                            v-model="data.workers"
                                            type="number"
                                            class="form-control mb-3"
                                        />
                                    </div>
                                    <div class="col-md-3">
                                        <h6>Qo'shimcha ishchilar soni</h6>
                                        <input
                                            v-model="data.otherWorkers"
                                            type="number"
                                            class="form-control mb-3"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div
                                        class="col-md-3  d-flex align-items-center"
                                    >
                                        <h6 style="margin-right:5px">
                                            Talabalar soni
                                        </h6>
                                        <input
                                            v-model="data.students"
                                            type="number"
                                            class="form-control "
                                        />
                                    </div>
                                    <div
                                        class="col-md-3 d-flex align-items-center"
                                    >
                                        <h6 style="margin-right:5px">
                                            Xarita linki
                                        </h6>
                                        <input
                                            v-model="data.map"
                                            type="text"
                                            class="form-control"
                                        />
                                    </div>

                                    <div class="col-md-3">
                                        <div class="d-flex align-items-center">
                                            <v-col md="2" class="rasm " lg="5">
                                                <div class="hidden-lg-and-down">
                                                    <input
                                                        @change="
                                                            sixthPageuploadLogo
                                                        "
                                                        class="image-logo"
                                                        ref="sixthPageimgLogo"
                                                        type="file"
                                                        accept="image/png, image/jpeg, image/bmp"
                                                    />
                                                </div>

                                                <button
                                                    style="width: 150px;height: 150px"
                                                    @click="sixthPagelogoLoad"
                                                    class="choose"
                                                >
                                                    <div v-if="data.logo.path">
                                                        <img
                                                            style="width:110px;height:110px"
                                                            :src="
                                                                $store.state
                                                                    .uploads +
                                                                    data.logo
                                                                        .path
                                                            "
                                                            alt=""
                                                        />
                                                    </div>
                                                    <div
                                                        v-else
                                                        class="d-flex flex-column"
                                                    >
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="50"
                                                            height="40"
                                                            viewBox="0 0 38 37"
                                                            fill="none"
                                                        >
                                                            <path
                                                                d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                                                fill="#29A0E3"
                                                            />
                                                        </svg>
                                                        Logotip
                                                    </div>
                                                </button>
                                            </v-col>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>

                            <div class="d-flex justify-content-end mt-4">
                                <button
                                    @click="decStep"
                                    style="margin-right:5px"
                                    class="btn btn-secondary"
                                >
                                    Orqaga
                                </button>
                                <button
                                    @click="updateAllData"
                                    class="btn btn-primary"
                                >
                                    Saqlash
                                </button>
                            </div>
                        </div>
                    </div>
                </v-stepper-content> -->
                <v-stepper-content step="1">
                    <h3>Yuridik talim muassasasi qo'shish</h3>
                    <div class="row mt-1">
                        <div class="col-md-6 ">
                            <h5>Tilni tanlang</h5>
                            <select v-model="data.lang" class="form-select">
                                <option selected value="uz">Lotincha</option>
                                <option value="ru">Ruscha</option>
                                <option value="cy">Krilcha</option>
                            </select>
                            <div class="mt-4">
                                <h5>Oquv maskani</h5>
                                <select v-model="data.type" class="form-select">
                                    <option selected value="1">Texnikum</option>
                                    <option value="2">Universitet</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div
                                class="col-md-4 d-flex justify-content-center align-items-center"
                            >
                                <v-col md="2" class="rasm " lg="5">
                                    <div class="hidden-lg-and-down">
                                        <input
                                            @change="firstPageuploadFile"
                                            class="image-input"
                                            ref="firstPageimgFile"
                                            type="file"
                                            accept="image/png, image/jpeg, image/bmp"
                                        />
                                    </div>

                                    <button
                                        style="width:150px;height: 150px"
                                        @click="firstPagefileLoad"
                                        ref="imgButton"
                                        class="choose"
                                    >
                                        <div v-if="data.mainImage.path">
                                            <img
                                                style="width:110px;height:110px"
                                                :src="
                                                    $store.state.uploads +
                                                        data.mainImage.path
                                                "
                                                alt=""
                                            />
                                        </div>
                                        <div v-else class="d-flex flex-column">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="50"
                                                height="40"
                                                viewBox="0 0 38 37"
                                                fill="none"
                                            >
                                                <path
                                                    d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                                    fill="#29A0E3"
                                                />
                                            </svg>
                                            Rasm
                                        </div>
                                    </button>
                                </v-col>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h5 class="">Ta'lim muassasi nomi</h5>
                                <input
                                    v-model="data.title"
                                    type="text"
                                    class="form-control "
                                />
                                <h5 class="mt-3">Ta'lim muassasa xaqida</h5>
                                <div class="col-md-12">
                                    <tinymce
                                        id="d1"
                                        v-model="data.about"
                                        :other_options="tinyOptions"
                                    ></tinymce>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="col-md-12">
                                <h6>Direktor</h6>
                                <input
                                    v-model="data.director"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="row align-items-end">
                                <div class="col-md-4">
                                    <h6>
                                        Rahbarlar va bo’lim boshliqlari soni
                                    </h6>
                                    <input
                                        v-model="data.leaders"
                                        type="number"
                                        class="form-control mb-3"
                                    />
                                </div>
                                <div class="col-md-4">
                                    <h6>O'qituvchilar soni</h6>
                                    <input
                                        v-model="data.teachers"
                                        type="number"
                                        class="form-control mb-3"
                                    />
                                </div>
                                <div class="col-md-4 ">
                                    <h6>
                                        O'quvchilar soni
                                    </h6>
                                    <input
                                        v-model="data.students"
                                        type="number"
                                        class="form-control mb-3"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12" v-if="data.type == 2">
                            <div class="row ">
                                <div class="col-md-6">
                                    <h6>Hodimlar soni</h6>
                                    <input
                                        v-model="data.workers"
                                        type="number"
                                        class="form-control mb-3"
                                    />
                                </div>
                                <div class="col-md-6">
                                    <h6>Xo'jalik bo’limi hodimlar soni</h6>
                                    <input
                                        v-model="data.otherWorkers"
                                        type="number"
                                        class="form-control mb-3"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 d-flex justify-content-end">
                            <button @click="incStep1" class="btn btn-primary">
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="2">
                    <h3 style="margin-bottom:20px">Qulayliklar</h3>
                    <div class="form-group">
                        <div
                            class="conveniences"
                            v-for="(con, i) in data.conveniences"
                            :key="i"
                        >
                            <div class="row">
                                <div class="col-md-6">
                                
                                    <div>
                                        <input
                                            type="file"
                                            class="hidden-input"
                                            ref="convienceImage"
                                            id="convience-input"
                                            @change="addImage"
                                            accept="image/png, image/gif, image/jpeg"
                                        />
                                        <div class="custom-grid">
                                            <div
                                                class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                                style="cursor:pointer;position:relative"
                                                @click="loadImage(i)"
                                            >
                                                <i
                                                    class="material-icons text-secondary"
                                                    style="font-size:2rem"
                                                    >add</i
                                                >
                                                <h6 class="text-secondary">
                                                    Rasm qo'shish
                                                </h6>
                                            </div>
                                            <div>
                                                <div
                                                    v-if="con.image.path"
                                                    class=" custom-card card"
                                                >
                                                    <img
                                                        style="width:80px; height:80px"
                                                        :src="
                                                            $store.state
                                                                .uploads +
                                                                con.image.path
                                                        "
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="mt-3">Sarlavha</h5>
                                    <input
                                        v-model="con.title"
                                        type="text"
                                        class="form-control mb-3"
                                    />

                                    <h5 class="mt-3">Tavsif</h5>
                                    <textarea
                                        v-model="con.description"
                                        type="text"
                                        class="form-control mb-3"
                                    ></textarea>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button
                                    @click="removeConviences(i)"
                                    style="margin-right:5px"
                                    class="btn btn-danger"
                                >
                                    O'chirish
                                </button>
                                <button
                                    @click="addConviences"
                                    class="btn btn-primary"
                                >
                                    Qulayliklar haqida yangi malumot qo'shish
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="add-legal-education col-md-12 mx-auto">
                        <div class="d-flex justify-content-end">
                            <button
                                style="margin-right:5px"
                                @click="decStep"
                                class=" my-4 btn btn-secondary"
                            >
                                Orqaga qaytish
                            </button>
                            <button
                                @click="incStep2"
                                class="my-4 btn btn-primary mr-3"
                            >
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="3">
                    <div class="add-legal-education col-md-12 mx-auto">
                        <h3>Fotogalereya va videolar</h3>
                        <div class="form-group">
                            <div>
                                <input
                                    type="file"
                                    class="hidden-input"
                                    ref="imagesInput"
                                    @change="addImages"
                                    accept="image/png, image/gif, image/jpeg"
                                />
                                <div class="custom-grid">
                                    <div
                                        class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                        style="cursor:pointer;position:relative"
                                        @click="loadImages"
                                    >
                                        <i
                                            class="material-icons text-secondary"
                                            style="font-size:4rem"
                                            >add</i
                                        >
                                        <h5 class="text-secondary">
                                            Rasm qo'shish
                                        </h5>
                                    </div>
                                    <div
                                        v-for="(item, i) in data.images"
                                        :key="i"
                                    >
                                        <div
                                            class=" custom-card card"
                                            style="position:relative"
                                        >
                                            <div
                                                @click="
                                                    removeImages(item._id, i)
                                                "
                                                class="removeVideo"
                                            >
                                                <i
                                                    style="color:#000;margin:1px"
                                                    class="material-icons"
                                                    >close</i
                                                >
                                            </div>
                                            <img
                                                style="width:130px;height:100px"
                                                :src="
                                                    $store.state.uploads +
                                                        item.path
                                                "
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                            <input
                                type="file"
                                class="hidden-input"
                                ref="videoInput"
                                @change="addVideos"
                                accept="video/mp4,video/x-m4v,video/*"
                            />
                            <div class="custom-grid">
                                <div
                                    class="custom-card card d-flex align-items-center justify-content-center flex-column"
                                    style="cursor:pointer;position:relative"
                                    @click="loadVideos"
                                >
                                    <i
                                        class="material-icons text-secondary"
                                        style="font-size:4rem"
                                        >add</i
                                    >
                                    <h5 class="text-secondary">
                                        Video qo'shish
                                    </h5>
                                </div>
                                <div v-for="(item, i) in data.videos" :key="i">
                                    <div
                                        class="custom-card"
                                        style="position:relative"
                                    >
                                        <div
                                            @click="removeVideos(i)"
                                            class="removeVideo"
                                        >
                                            <i
                                                style="color:#000;margin:1px"
                                                class="material-icons"
                                                >close</i
                                            >
                                        </div>
                                        <video
                                            width="130"
                                            height="100"
                                            controls
                                            :src="
                                                $store.state.uploads + item.path
                                            "
                                        ></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <h5 class="mt-3">Manzil</h5>
                            <input
                                v-model="data.address"
                                type="text"
                                class="form-control mb-3"
                            /> -->
                        </div>

                        <div class="d-flex justify-content-end">
                            <button
                                style="margin-right:5px"
                                @click="decStep"
                                class=" my-4 btn btn-secondary"
                            >
                                Orqaga qaytish
                            </button>
                            <button
                                @click="incStep3"
                                class="my-4 btn btn-primary mr-3"
                            >
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="4">
                    <div class="add-legal-education col-md-12 mx-auto">
                        <h3>Aloqa</h3>
                        <div>
                            <h5>Telefon raqam</h5>
                            <div class="d-flex justify-center">
                                <input
                                    v-model="phones.phone"
                                    type="number"
                                    class="form-control mb-3"
                                />
                                <v-btn @click="addTag()"
                                    ><v-icon>mdi-plus</v-icon></v-btn
                                >
                            </div>
                            <div class="dflex">

                           
                            <div
                                v-for="(tag, index) in data.phones"
                                :class="tag.rank == 1 ? ' green' : ''"
                                :key="index"
                               @click="markPhone(index)"
                            >
                                <v-chip
                                    class="ma-2"
                                    close
                                    label
                                    outlined
                                    color="grey lighten-1 grey--text text--lighten-1 font-weight-medium"
                                    @click:close="removeThisTag(index)"
                                >
                                    {{ tag.phone }}
                                </v-chip>
                            </div>
                             </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 ">
                                <h5>Xarita linki</h5>
                                <input
                                    v-model="data.map"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5>Sayt</h5>
                                <input
                                    v-model="data.site"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5>Email</h5>
                                <input
                                    v-model="data.email"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5 class="">Manzil</h5>
                                <input
                                    v-model="data.address"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5 class="">Facebook</h5>
                                <input
                                    v-model="data.socialLinks.facebook"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5>Telegram</h5>
                                <input
                                    v-model="data.socialLinks.telegram"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5>Instagram</h5>
                                <input
                                    v-model="data.socialLinks.instagram"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                            <div class="col-md-6">
                                <h5>Twitter</h5>
                                <input
                                    v-model="data.socialLinks.twitter"
                                    type="text"
                                    class="form-control mb-3"
                                />
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button
                                style="margin-right:5px"
                                @click="decStep"
                                class=" my-4 btn btn-secondary"
                            >
                                Orqaga qaytish
                            </button>
                            <button
                                @click="incStep4"
                                class="my-4 btn btn-primary mr-3"
                            >
                                Davom etish
                            </button>
                        </div>
                    </div>
                </v-stepper-content>

                <v-stepper-content step="5">
                    <div>
                        <div class="add-legal-education col-md-12 mx-auto">
                            <h5 class="mt-3">Qo'shimcha</h5>
                            <tinymce
                                id="d13"
                                v-model="data.additional"
                            ></tinymce>

                            <div class="d-flex justify-content-end mt-4">
                                <button
                                    @click="decStep"
                                    style="margin-right:5px"
                                    class="btn btn-secondary"
                                >
                                    Orqaga
                                </button>
                                <button
                                    @click="updateAllData"
                                    class="btn btn-primary"
                                >
                                    Saqlash
                                </button>
                            </div>
                        </div>
                    </div>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </div>
</template>

<script>
export default {
    data: () => ({
        indexPhone: 0,
        tinyOptions: {
            height: "350"
        },
        convience: {
            title: "",
            description: "",
            image: {}
        },
        e1: 1,
        dropzoneOptions3: {
            url: "https://media.huquqiyportal.uz/" + `api/file/upload`,
            thumbnailWidth: 150,
            maxFilesize: 0.5,
            headers: { Authorization: "" },
            addRemoveLinks: true,
            dictDefaultMessage:
                "<i class='fa fa-cloud-upload'></i>Rasmlarni yuklang"
        },
        index: "",
        data: {
            lang: "lotincha",
            phones: [],
            email: "",
            site: "",
            type: "",
            mainImage: {},
            title: "",
            description: "",
            address: "",
            additional: "",
            about: "",
            socialLinks: {
                facebook: "",
                telegram: "",
                instagram: "",
                twitter: ""
            },
            videos: [],
            image: {},
            images: [],
            logo: {},
            director: "",
            conveniences: [
                {
                    title: "",
                    description: "",
                    image: {}
                }
            ],
            leaders: "",
            teachers: "",
            workers: "",
            otherWorkers: "",
            students: "",
            map: "",
            convenienceImages: []
        },
        phones: {
            phone: "",
            rank: 0
        },
        isPhone: false
    }),
    methods: {
      
       markPhone(index) {
            
            this.data.phones.forEach((item, i) => {
               this.data.phones[i].rank = 0;

            })

            this.data.phones[index].rank = 1;
        },
        addTag() {

            let rank = 0;
            if(this.data.phones.length == 0){
                rank = 1;
            }
            this.data.phones = [...this.data.phones,{
                phone: this.phones.phone,
                rank: rank
            }];
            this.phones = {
                phone: "",
                rank: rank
            };
        },
        removeThisTag(index) {
            this.data.phones.splice(index, 1);
        },
        loadImages() {
            this.$refs.imagesInput.click();
        },

        async addImages(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);

            let fd = new FormData();
            fd.append("file", e.target.files[0]);
            try {
                await this.$axios.$post("file/upload", fd).then(res => {
                    this.data.images.push({
                        _id: res.data._id,
                        path: res.data.path
                    });
                });
            } catch (e) {
                console.log(e);
            }
        },

        async removeImages(index) {
            this.data.images.splice(index, 1);
        },

        loadVideos() {
            this.$refs.videoInput.click();
        },
        async addVideos(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);
            try {
                await this.$axios.$post("file/upload", fd).then(res => {
                    this.data.videos.push({
                        _id: res.data._id,
                        path: res.data.path
                    });
                });
            } catch (e) {
                console.log(e);
            }
        },
        async removeVideos(id, index) {
            this.data.videos.splice(index, 1);
        },

        loadImage(index) {
            this.index = index;
            document.querySelectorAll("#convience-input")[index].click();
        },
        async addImage(e) {
            console.log(e);
            let fd = new FormData();

            fd.append("file", e.target.files[0]);

            await this.$axios.$post("file/upload", fd).then(res => {
                this.data.conveniences[this.index].image = {
                    _id: res.data._id,
                    path: res.data.path
                };
            });
            ;
        },
        async removeImage(index) {
            this.data.conveniences[index].image = {};
        },

        async getAll() {
            const response = await this.$axios.get(
                `technical-school/get/${this.$route.params.id}`
            );
            this.data = response.data.data;
            console.log("des", this.data);
        },

        async updateAllData() {
            console.log(this.data);

            try {
                const response = await this.$axios.$put(
                    `/technical-school/update/${this.$route.params.id}`,
                    this.data
                );
                console.log(response);
                if (response.success) {
                    this.$toast.success("Malumotlar ozgartirildi");
                    this.$router.push("/legaleducation");
                }
            } catch (e) {
                this.$toast.error("Malumotlarni to'liq va to'gri kiriting");
            }
        },

        addConviences() {
            console.log(this.convience);
            this.data.conveniences.push(this.convience);
            this.convience = {
                title: "",
                description: "",
                image: {}
            };
        },
        removeConviences(i) {
            if (this.data.conveniences.length > 1) {
                this.data.conveniences.splice(i, 1);
            }
        },

        sixthPagelogoLoad() {
            this.$refs.sixthPageimgLogo.click();
        },

        sixthPageimgLoad() {
            this.$refs.sixthPageimg.click();
        },

        async sixthPageuploadImage() {
            const fd = new FormData();
            const file = this.$refs.sixthPageimg.files[0];
            fd.append("file", file);
            const response = await this.$axios.$post("/file/upload", fd);
            if (response.success) {
                this.$toast.success("Rasm yuklandi");
                this.data.image = response.data;
            } else {
                this.$toast.error("Rasm yuklanmadi");
            }
        },

        async sixthPageuploadLogo() {
            const fd = new FormData();
            const file = this.$refs.sixthPageimgLogo.files[0];
            fd.append("file", file);
            const response = await this.$axios.$post("/file/upload", fd);
            if (response.success) {
                this.$toast.success("Logo yuklandi");
                this.data.logo = response.data;
            } else {
                this.$toast.error("Logo yuklanmadi");
            }
        },

        async sixtPageonFileAdded(e) {
            // this.$store.dispatch("materials/CREATE_FILES", e);
            let fd = new FormData();
            fd.append("file", e);
            await this.$axios.$post("file/upload", fd).then(res => {
                console.log(res);
                this.data.convenienceImages.push({
                    _id: res.data._id,
                    path: res.data.path
                });
            });
        },

        async fivethPageonFileAdded(e, lang) {
            // this.$store.dispatch("materials/CREATE_FILES", e);

            let fd = new FormData();

            fd.append("file", e);

            await this.$axios.$post("file/upload", fd).then(res => {
                console.log(res);
                this.data.images.push({
                    _id: res.data._id,
                    path: res.data.path,
                    lang: lang
                });
            });
        },
        onError(e) {
            console.log(e, "error");
        },
        onSuccess(e) {
            console.log(e, "success");
        },

        fivethPagefileLoad() {
            this.$refs.fivethPageVideoInput.click();
        },

        async fivethPageuploadVideo() {
            const form = new FormData();
            form.append("file", this.$refs.fivethPageVideoInput.files[0]);
            const response = await this.$axios.$post("/file/upload", form);
            if (response.success) {
                this.$toast.success("Video yuklandi");
                document.querySelector(".btn-upload").innerHTML =
                    "Video yuklangan";
                document.querySelector(".btn-upload").style.backgroundColor =
                    "blue";
                this.data.video = response.data;
            }
        },

        firstPagefileLoad() {
            this.$refs.firstPageimgFile.click();
        },

        async firstPageuploadFile() {
            const fd = new FormData();
            const file = this.$refs.firstPageimgFile.files[0];
            fd.append("file", file);
            const response = await this.$axios.$post("/file/upload", fd);
            console.log(response);
            if (response.success) {
                this.$toast.success("Rasm yuklandi");
                this.data.mainImage = response.data;
            } else {
                this.$toast.error("Rasm yuklanmadi");
            }
        },

        incStep1() {
            //  if (this.data.title.length == 0) {
            //     return this.$toast.error("Sarlavhani kiriting!!!");
            // }
            // if (this.data.about.length == 0) {
            //     return this.$toast.error(
            //         "Talim muassasi haqida malumotni kiriting!!!"
            //     );
            // }
            //   if (this.data.mainImage.length == 0) {
            //     return this.$toast.error("Rasmni kiriting!!!");
            // }
            //  if (this.data.title.length == 0) {
            //     return this.$toast.error("Sarlavhani kiriting!!!");
            // }
            //  if (this.data.director.length == 0) {
            //     return this.$toast.error("Direktorni kiriting!!!");
            // }
            // if (this.data.teachers == 0) {
            //     return this.$toast.error("O'qituvchilar sonini kiriting!!!");
            // }
            // if (this.data.workers == 0) {
            //     return this.$toast.error("Hodimlar sonini kiriting!!!");
            // }
            // if (this.data.otherWorkers == 0) {
            //     return this.$toast.error(
            //         "Xo'jalik bo’limi hodimlar sonini kiriting!!!"
            //     );
            // }
            // if (this.data.students == 0) {
            //     return this.$toast.error("O'quvchilar sonini kiriting!!!");
            // }
            //  if (this.data.leaders == 0) {
            //     return this.$toast.error(
            //         "Rahbarlar va bo’lim boshliqlari  sonini kiriting!!!"
            //     );
            // }

            this.e1 = 2;
        },
        incStep2() {
            if (this.data.conveniences[0].title.length == 0) {
                return this.$toast.error(
                    "Qulayliklar uchun sarlavha kiriting!!!"
                );
            }
            if (this.data.conveniences[0].description == "") {
                return this.$toast.error(
                    "Qulayliklar uchun tavsif kiriting!!!"
                );
            }
            if (this.data.conveniences[0].image == "") {
                return this.$toast.error("Qulayliklar uchun rasm kiriting!!!");
            }

            // if (this.data.mainImage.length == 0) {
            //     return this.$toast.error("Rasmni kiriting!!!");
            // }

            this.e1 = 3;
        },
        incStep3() {
            // if (this.data.additional.length == 0) {
            //     return this.$toast.error("Qo'shimcha malumotni kiriting!!!");
            // }
            this.e1 = 4;
        },
        incStep4() {
            if (this.data.phones.length == 0) {
                return this.$toast.error("Telefon raqamni kiriting!!!");
            }
            if (this.data.email.length == 0) {
                return this.$toast.error("Email kiriting!!!");
            }
            if (this.data.site.length == 0) {
                return this.$toast.error("Saytni kiriting!!!");
            }
            if (this.data.address.length == 0) {
                return this.$toast.error("Manzilni kiriting!!!");
            }
            if (this.data.map == 0) {
                return this.$toast.error("Xarita linkini kiriting!!!");
            }
            // if (this.data.socialLinks.facebook == 0) {
            //     return this.$toast.error("Facebook manzilni kiriting!!!");
            // }
            // if (this.data.socialLinks.telegram == 0) {
            //     return this.$toast.error("Telegram manzilni kiriting!!!");
            // }
            // if (this.data.socialLinks.instagram == 0) {
            //     return this.$toast.error("Instagram manzilni kiriting!!!");
            // }
            // if (this.data.socialLinks.twitter == 0) {
            //     return this.$toast.error("Twitter manzilni kiriting!!!");
            // }

            this.e1 = 5;
        },
        incStep5() {
            this.e1 = 6;
        },
        decStep() {
            if (this.e1 < 0) {
                return (this.e1 = 1);
            }
            this.e1--;
        }
    },
    components: {},
    mounted() {
        this.getAll();
    },

    created() {
        this.dropzoneOptions3.headers.Authorization = this.$auth.strategy.token.get();
    }
};
</script>

<style lang="scss" scoped>
.dflex{
    display: flex;
    margin-bottom: 10px;
    div{
        border-radius: 8px;
        margin-right: 20px;
    }
}
.green {
    background: #9fa39e !important;
    border-radius: 8px ;

}
.hidden-input {
    display: none;
}
.removeVideo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    cursor: pointer;
}
.custom-card {
    min-width: 120px;
    height: 140px;
    margin-left: 10px;
    padding: 20px;
    background-color: #f6f6f6;
}

.custom-grid {
    margin: 10px 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 10px 0px;
}
.custom-grid::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.custom-grid::-webkit-scrollbar-track {
    background-clip: content-box;
}

.custom-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

.title {
    margin-bottom: 0;
    margin-left: 10px;
}
#file-input {
    display: none;
}

.file-input,
.image-input {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 250px;
        height: 150px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.image-logo,
.image {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 100px;
        height: 100px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}
</style>
