<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <confirmModal
            @deleteRequest="removeLink"
            @closeDelete="closeConfirm"
            :isDelete="isConfirmOpen"
        />
        <div ref="blackOpacity" class="user-modal-container">
            <div
                style="width:500px;height:300px"
                ref="modal"
                class="user-modal"
            >
                <div class="d-flex justify-content-between">
                    <h4>Havolalarni yangilash</h4>
                    <i
                        id="cancel-icon"
                        @click="toogleModal"
                        class="material-icons"
                        >cancel</i
                    >
                </div>

                <div class="portals row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fullName">Sayt nomi</label>
                            <input
                                required
                                v-model="name"
                                type="text"
                                class="form-control"
                                id="fullName"
                            />
                        </div>

                        <div class="form-group mt-1">
                            <label for="postAdress">Sayt manzili</label>
                            <input
                                required
                                v-model="link"
                                type="email"
                                class="form-control"
                                id="postAdress"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <v-col md="2" class="rasm mt-4" lg="5">
                            <div class="hidden-lg-and-down">
                                <input
                                    @change="uploadImage"
                                    class="file-input"
                                    ref="file"
                                    id="fileUpload"
                                    type="file"
                                    accept="image/png, image/jpeg, image/bmp"
                                />
                            </div>
                            <button class="choose" @click="fileLoad">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="30"
                                    viewBox="0 0 38 37"
                                    fill="none"
                                >
                                    <path
                                        d="M3.41447 0H35.1812C35.9009 0 36.5573 0.296872 37.03 0.772474C37.5028 1.24808 37.7979 1.90847 37.7979 2.63247V34.3675C37.7979 35.0915 37.5028 35.7519 37.03 36.2275C36.5573 36.7031 35.9009 37 35.1812 37H3.41447C2.69482 37 2.03841 36.7031 1.56567 36.2275C1.09294 35.7519 0.797852 35.0915 0.797852 34.3675V2.63247C0.797852 1.90847 1.09294 1.24808 1.56567 0.772474C2.03841 0.296872 2.69482 0 3.41447 0ZM2.91162 26.7488L14.2061 16.4825C14.6367 16.0917 15.3022 16.125 15.6906 16.5582C15.6996 16.5673 15.7056 16.5764 15.7147 16.5855L15.7177 16.5824L25.1875 27.8575L26.6388 18.8938C26.7322 18.3152 27.2742 17.9244 27.8493 18.0183C28.0751 18.0547 28.2708 18.1607 28.4214 18.3092L35.6931 25.3311V2.63247C35.6931 2.49312 35.6359 2.36892 35.5456 2.27501C35.4552 2.18413 35.3288 2.12658 35.1903 2.12658H3.41447C3.27596 2.12658 3.15251 2.18413 3.05916 2.27501C2.96883 2.36589 2.91162 2.49312 2.91162 2.63247V26.7488ZM35.6841 28.2695L28.3913 21.2264L26.9008 30.4385C26.8677 30.6899 26.7442 30.9323 26.5365 31.111C26.0908 31.4897 25.4284 31.4321 25.052 30.9868L14.8053 18.7878L2.91162 29.6024V34.3675C2.91162 34.5069 2.96883 34.6311 3.05916 34.725C3.15251 34.8189 3.27596 34.8734 3.41447 34.8734H35.1812C35.3197 34.8734 35.4432 34.8159 35.5365 34.725C35.6269 34.6341 35.6841 34.5069 35.6841 34.3675V28.2695ZM28.6803 6.01621C29.7282 6.01621 30.6737 6.44334 31.3602 7.13403C32.0467 7.82471 32.4713 8.77894 32.4713 9.83011C32.4713 10.8813 32.0467 11.8355 31.3602 12.5262C30.6737 13.2169 29.7252 13.644 28.6803 13.644C27.6325 13.644 26.687 13.2169 26.0005 12.5262C25.314 11.8355 24.8894 10.8813 24.8894 9.83011C24.8894 8.77894 25.314 7.82471 26.0005 7.13403C26.687 6.44334 27.6325 6.01621 28.6803 6.01621ZM30.1799 8.32152C29.7974 7.93679 29.2675 7.69748 28.6803 7.69748C28.0962 7.69748 27.5662 7.93679 27.1808 8.32152C26.7984 8.70624 26.5605 9.2394 26.5605 9.83011C26.5605 10.4178 26.7984 10.951 27.1808 11.3387C27.5632 11.7234 28.0932 11.9627 28.6803 11.9627C29.2645 11.9627 29.7944 11.7234 30.1799 11.3387C30.5623 10.954 30.8001 10.4208 30.8001 9.83011C30.8001 9.24243 30.5623 8.70927 30.1799 8.32152Z"
                                        fill="#29A0E3"
                                    />
                                </svg>
                                Logo
                                <h6 v-if="imagePath" class="text-secondary">
                                    yuklandi
                                </h6>
                            </button>
                        </v-col>
                        <div
                            v-if="isAddSite"
                            class="d-flex justify-content-center mt-1"
                        >
                            <button @click="submitData" class="btn btn-primary">
                                Qo'shish
                            </button>
                        </div>
                        <div v-else class="d-flex justify-content-center mt-1">
                            <button @click="updateData" class="btn btn-primary">
                                Saqlash
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center"></div>
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">Havolalar</h4>
                            <div class="right">
                                <!-- <div class="search">
                  <input type="search" placeholder="Izlash..." />
                </div> -->

                                <button
                                    class="btn-add btn btn-primary "
                                    @click="toogleModal"
                                >
                                    Havolalar qo'shish
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Rasm</th>
                                        <th>Sarlavha</th>
                                        <th>Qo'shilgan vaqti</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-for="item in news" :key="item.id">
                                    <tr>
                                        <td>
                                            <img
                                                :src="
                                                    $store.state.uploads +
                                                        item.image.path
                                                "
                                            />
                                        </td>
                                        <td>
                                            {{ item.name }}
                                        </td>

                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <button
                                                @click="
                                                    getToUpdateImage({
                                                        id: item._id,
                                                        name: item.name,
                                                        link: item.link,
                                                        imagePath:
                                                            item.image.path,
                                                        imageId: item.image._id
                                                    })
                                                "
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </button>

                                            <button
                                                @click="openConfirm(item._id)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <v-pagination
                                    v-model="page"
                                    :length="count"
                                    :color="'rgb(91 115 232)'"
                                    @input="paginition"
                                    :total-visible="10"
                                ></v-pagination>
                            </div>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
import confirmModal from "../../components/Delete.vue";
export default {
    name: "User",
    head() {
        return {
            title: "Havolalar | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        isAddSite: false,
        isConfirmOpen: false,
        id: "",
        data: {},
        page: 1,
        count: 0,
        limit: 20,
        image: {},
        imagePath: {},
        news: null,
        name: "",
        link: ""
    }),
    components: {
        confirmModal
    },
    methods: {
        async getAllSites() {
            let news = await this.$axios.$get(
                `/sites/all?page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.data.length / this.limit);
            console.log("count", news.count);
            // this.count = 2;
        },
        paginition() {
            this.getMaterial(this.page);
        },
        async getMaterial(page) {
            let news = await this.$axios.$get(
                `/sites/all?page=${page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
            console.log("count", news.count);
        },

        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `/sites/all?page=${this.page}&limit=${this.limit}`
                );
                this.users = users.data;
            } catch (e) {
                console.log(e);
            }
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        fileLoad() {
            document.getElementById("fileUpload").click();
        },

        async removeLink() {
            await this.$axios.$delete(`/sites/delete/${this.id}`);
            this.closeConfirm();
            this.getAllSites();
        },
        openConfirm(id) {
            this.id = id;
            this.isConfirmOpen = true;
        },
        closeConfirm() {
            this.isConfirmOpen = false;
        },

        async uploadImage() {
            const image = this.$refs.file.files[0];
            const fd = new FormData();
            fd.append("file", image);
            try {
                const response = await this.$axios.$post("/file/upload", fd, {
                    headers: { "Content-Type": "multipart/form-data" }
                });
                console.log(response);
                if (response.data) {
                    this.image = response.data;
                    this.$toast.success("Rasm yuklandi");
                }
            } catch (e) {
                this.$toast.error("Xatolik yuz berdi");
            }
        },

        async submitData() {
            const data = {
                name: this.name,
                link: this.link,
                image: this.image
            };
            if (this.name.length == 0) {
                return this.$toast.error("Sayt nomini kiriting!!!");
            }
            if (this.link.length == 0) {
                return this.$toast.error("Sayt manzilni kiriting!!!");
            }
            if (this.image.length == 0) {
                return this.$toast.error("Rasmni kiriting!!!");
            }

            try {
                const response = await this.$axios.$post("sites/add", data);
                console.log(response);
                if (response.success) {
                    this.$toast.success("Malumotlar kiritildi");
                    this.toogleModal(true);
                    this.getAllSites();
                }
            } catch (e) {
                this.$toast.error("Rasmni kiriting!!!");
                // this.$toast.error("Xatolik yuz berdi");
            }
        },

        getToUpdateImage(userData) {
            this.isAddSite = false;
            this.id = userData.id;
            this.link = userData.link;
            this.name = userData.name;
            console.log(userData.imageId);
            this.imagePath = {
                path: userData.imagePath,
                _id: userData.imageId
            };

            this.toogleModal(false);
        },

        async updateData() {
            const data = {
                name: this.name,
                link: this.link,
                image: this.image.path ? this.image : this.imagePath
            };

            const response = await this.$axios.$put(
                `/sites/update/${this.id}`,
                data
            );

            this.getAllSites();
            this.toogleModal(true);
        },

        toogleModal(value) {
            this.imagePath = "";
            if (value) {
                this.isAddSite = true;

                (this.link = ""), (this.name = "");
            }
            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        }
    },

    async mounted() {
        this.getAllSites();
    }
};
</script>

<style lang="scss" scoped>
.file-input {
    display: none;
}
.rasm {
    button.choose {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 200px;
        width: 150px;
        height: 110px;
        background: #fafbff;
        border: 3px dashed #cddbff;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        /* Edit style */

        color: #29a0e3;

        svg {
            margin-bottom: 10px;
        }
    }
}

.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}
.user-modal {
    opacity: 0;
    width: 200px;
    height: 200px;
    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
    padding: 3rem;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}
.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
#cancel-icon {
    cursor: pointer;
}

.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
