<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <Delete
            @deleteRequest="deleteRequest"
            @closeDelete="closeDelete"
            :isDelete="isDelete"
        />
        <div ref="blackOpacity" class="user-modal-container">
            <div style="width:500px" ref="modal" class="user-modal">
                <div class="d-flex justify-content-between">
                    <h4>Video qo'shish</h4>
                    <i
                        id="cancel-icon"
                        @click="toogleModal"
                        class="material-icons"
                        >cancel</i
                    >
                </div>

                <div class="videos">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fullName">Sarlavha</label>
                            <input
                                required
                                v-model="title"
                                type="text"
                                class="form-control"
                                id="fullName"
                            />
                        </div>

                        <div class="form-group mt-1">
                            <label for="postAdress">Manzil</label>
                            <input
                                required
                                v-model="link"
                                type="email"
                                class="form-control"
                                id="postAdress"
                            />
                        </div>
                        <div class="form-group mt-1">
                            <h6>Til</h6>
                            <select class="form-select " v-model="lang">
                                <option value="uz">
                                    Lotincha
                                </option>
                                <option value="cy">
                                    Krilcha
                                </option>
                                <option value="ru">
                                    Ruscha
                                </option>
                            </select>
                        </div>

                        <div
                            v-if="isAddVideo"
                            class="d-flex justify-content-center mt-3"
                        >
                            <button
                                @click="createVideo"
                                class="btn btn-primary"
                            >
                                Qo'shish
                            </button>
                        </div>
                        <div v-else class="d-flex justify-content-center mt-3">
                            <button
                                @click="updateVideo"
                                class="btn btn-primary"
                            >
                                Saqlash
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" v-if="news != null">
                        <div class="card-el">
                            <h4 class="card-title ">Videoroliklar</h4>

                            <div class="right">
                                <div class="input-search-z mx-2">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div>

                                <button
                                    @click="toogleModal"
                                    class="btn-add btn btn-primary "
                                >
                                    Videoroliklar qo'shish
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Manzil</th>
                                        <th>Til</th>
                                        <th>Qo'shilgan vaqti</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-for="item in news" :key="item.id">
                                    <tr>
                                        <td style="max-width : 250px">
                                            {{ item.title }}
                                        </td>
                                        <td>
                                            {{ item.link }}
                                        </td>
                                        <td>
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <button
                                                @click="getToUpdateVideo(item)"
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </button>

                                            <button
                                                @click="
                                                    event =>
                                                        openDelete(item._id)
                                                "
                                                class="action-btn"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="news.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                            <v-pagination
                                v-model="page"
                                :length="count"
                                :color="'rgb(91 115 232)'"
                                @input="paginition"
                                 :total-visible="10"
                            ></v-pagination>
                        </div>

                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    data: () => ({
        lang: "uz",
        page: 1,
        count: 0,
        limit: 20,
        search: "",
        isAddVideo: false,
        isDelete: false,
        id: "",
        link: "",
        title: "",
        news: null
    }),
    methods: {
        async clickSearch() {
            this.page = 1;

            let news = await this.$axios.$get(
                `video/search?text=${this.search}&page=${this.page}&limit=${this.limit}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
            console.log("a", this.news);
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/video/delete/" + this.id)
                .then(async res => {
                    this.getAllVideo();
                    // this.news = news.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        paginition() {
            this.getMaterial(this.catalog, this.page);
        },
        async getMaterial(catalog, page) {
            let news = await this.$axios.$get(
                `video/admin?page=${page}&limit=${this.limit}&lang=${this.lang}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
            console.log("count", news.count);
        },
        async getAllVideo() {
            let news = await this.$axios.$get(
                `/video/admin?page=${this.page}&limit=${this.limit}&lang=all`
            );
            this.count = Math.ceil(news.count / this.limit);
            this.news = news.data;
            console.log("okk", this.news);
        },
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },

        async setPage() {
            try {
                let users = await this.$axios.$get(
                    `video/admin?page=${this.page}&limit=${this.limit}&lang=all`
                );
                this.users = users.data;
            } catch (e) {
                console.log(e);
            }
        },

        async getToUpdateVideo(videoData) {
            this.isAddVideo = false;
            this.id = videoData._id;
            this.lang = videoData.lang;
            this.title = videoData.title;
            this.link = videoData.link;
            console.log(videoData);
            this.toogleModal(false);
        },
        async updateVideo() {
            const data = {
                link: this.link,
                title: this.title,
                lang: this.lang
            };
            const response = await this.$axios.$put(
                `/video/update/${this.id}`,
                data
            );
            this.getAllVideo();
            this.toogleModal(true);
        },
        getYoutubeVideoId(url) {
            // const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            // const match = url.match(regExp);

            // console.log("mactch", match);

            // return match ? match[2] : null;

            let check = url.substring(0, 23);

            if (check == "https://www.youtube.com") {
                let ind = url.indexOf("?v=");
                console.log("urkl", ind);

                let newurl = url.split("");
                let u = "";
                newurl.forEach((item, i) => {
                    if (i > ind + 2 && i < ind + 14) {
                        u = u + item;
                    }
                });

                return u;
            } else {
                return url;
            }
        },

        async createVideo() {
            const data = {
                link: this.getYoutubeVideoId(this.link),
                title: this.title,
                lang: this.lang
            };
            if (this.link.length == 0) {
                return this.$toast.error("Manzilni kiriting!!!");
            }
            if (this.title.length == 0) {
                return this.$toast.error("Sarlavhani kiriting!!!");
            }
            console.log(data);
            const response = await this.$axios.$post("/video/add", data);
            console.log(response);
            if (response.success) {
                this.toogleModal(true);
                this.$toast.success("Video qo'shildi");
                this.getAllVideo();
            } else {
                this.$toast.error("Xatolik yuz berdi");
            }
        },

        async removeVideo(id) {
            const response = await this.$axios.$delete(`/video/delete/${id}`);
            this.getAllVideo();
        },

        toogleModal(value) {
            if (value) {
                this.isAddVideo = true;
                (this.link = ""), (this.title = "");
            }

            this.$refs.blackOpacity.classList.toggle("black-opacity");
            this.$refs.modal.classList.toggle("showModal");
        }
    },
    async mounted() {
        this.getAllVideo();
    }
};
</script>

<style lang="scss" scoped>
.user-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(15, 11, 11, 0.589);
    z-index: -5;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    align-items: center;
    opacity: 0;
}
.user-modal {
    opacity: 0;
    width: 200px;
    z-index: -5;
    margin-bottom: 8rem;
    border-radius: 8px;
    background: white;
    transition: transform 0.5s ease;
    padding: 3rem;
}

.black-opacity {
    z-index: 500;
    opacity: 1;
    position: fixed;
}
.showModal {
    transform: translateY(3rem);
    z-index: 1000;
    opacity: 1;
}
#cancel-icon {
    cursor: pointer;
}

.card-el {
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        margin-right: 20px;
        input {
            height: 34px;
            border: 1px solid #999991;
            border-radius: 5px;
            padding: 10px;
            &:focus-visible {
                outline: none;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
