<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card p-3" v-if="questions != null">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="mb-5">Test yangilash</h1>
                        </div>
                        <!-- <div class="col-md-8">
                            <p>Til</p>
                            <select
                                class="form-select mb-3"
                                aria-label="Default select example"
                                v-model="questions.lang"
                            >
                                <option value="uz">Lotin</option>
                                <option value="cy">Krill</option>
                                <option value="ru">Rus</option>
                            </select>
                        </div> -->
                    </div>

                    <div class="ques-div">
                        <div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Savol</h5>
                                    <textarea
                                        name=""
                                        class="form-control"
                                        id=""
                                        cols="30"
                                        rows="3"
                                        v-model="questions.question"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div
                            v-for="(answer, index) in questions.answer"
                            :key="index"
                            class="mt-5 pa-2"
                        >
                            <v-row class="">
                                <v-col md="1" class="comon">
                                    <p>check</p>
                                    <input
                                        type="radio"
                                        :name="`question${i}`"
                                        v-model="answer.isTrue"
                                        class="radio "
                                        @change="clickinput(index)"
                                        :value="true"
                                    />
                                </v-col>
                                <v-col md="3" lg="6">
                                    <p>Javob</p>
                                    <input
                                        class="form-control"
                                        v-model="answer.answer"
                                    />
                                </v-col>

                                <v-col md="2" lg="2" class=" comon">
                                    <p>ss</p>
                                    <v-btn
                                        color="red lighten-2"
                                        v-if="questions.answer.length > 1"
                                        @click="substructThisAnswer(i, index)"
                                        class="white--text "
                                        ><v-icon>mdi-minus</v-icon></v-btn
                                    >
                                </v-col>

                                <div class="mt-4 d-flex justify-content-end">
                                    <v-col class=" d-flex justify-content-end">
                                        <v-btn
                                            v-if="
                                                questions.answer.length - 1 ===
                                                    index
                                            "
                                            @click="addNewAnswer()"
                                            class="addanswerbtn"
                                            ><v-icon left>mdi-plus</v-icon
                                            >Javob</v-btn
                                        >
                                    </v-col>
                                </div>
                            </v-row>
                        </div>
                        <div class="mt-4 ">
                            <div class="col d-flex justify-content-end">
                                <v-btn
                                    color="red lighten-2"
                                    v-if="questions.length > 1"
                                    @click="substructThisQuestion(i)"
                                    class="white--text "
                                    ><v-icon>mdi-minus</v-icon>Savol</v-btn
                                >
                            </div>
                        </div>
                    </div>

                    <div class="btns">
                        <button class="otmen btn">Bekor qilish</button>
                        <button class="btn" @click="create">Qo'shish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        questions: [
            {
                theme: "",
                question: "",
                answer: [
                    {
                        answer: "",
                        isTrue: false
                    }
                ]
            }
        ],
        question: "",
        token: "",
        tag: [],

        picker: "",
        tab: null,
        lesson: "",
        answers: [
            {
                answer: "",
                isCorrect: false
            }
        ],

        // image: null,
        description: "",
        descriptionTwo: ""
    }),
    async mounted() {
        let question = await this.$axios.$get(
            "/quiz-question/" + this.$route.params.id
        );
        this.questions = question.data;
        this.question = this.questions.question;
        console.log("assa", this.questions);
    },
    methods: {
        addQuestion(index) {
            if (this.questions[0].question.uz.length == 0) {
                return this.$toast.error("Savol(Uz)ni kiriting!!!");
            }
            if (this.questions[0].question.ru.length == 0) {
                return this.$toast.error("Savol(Ru)ni kiriting!!!");
            }
            if (this.questions[0].question.cy.length == 0) {
                return this.$toast.error("Savol(Kr)ni kiriting!!!");
            }

            if (this.questions[0].answer[0].answer.uz.length == 0) {
                return this.$toast.error("Javob(Uz)ni kiriting!!!");
            }
            if (this.questions[0].answer[0].answer.ru.length == 0) {
                return this.$toast.error("Javob(Ru)ni kiriting!!!");
            }
            if (this.questions[0].answer[0].answer.cy.length == 0) {
                return this.$toast.error("Javob(Kr)ni kiriting!!!");
            }

            if (this.questions[0].answer[1].answer.uz.length == 0) {
                return this.$toast.error("Javob(Uz)ni kiriting!!!");
            }
            if (this.questions[0].answer[1].answer.ru.length == 0) {
                return this.$toast.error("Javob(Ru)ni kiriting!!!");
            }
            if (this.questions[0].answer[1].answer.cy.length == 0) {
                return this.$toast.error("Javob(Kr)ni kiriting!!!");
            }
            if (!index) index = 0;
            let question = this.questions[index].question;

            this.$axios
                .$post("/quiz-question/add", {
                    question,
                    theme: this.themeId
                })
                .then(res => {
                    if (res.success) {
                        this.addAnswer(res.data, index);
                    }
                });
        },

        addAnswer(id, index) {
            let answers = this.questions[index].answers;
            answers.forEach(answer => {
                answer.question = id;
            });
            console.log(answers);
            this.$axios.$post("/quiz-answer/add", answers).then(res => {
                if (res.success) {
                    console.log(res);
                    if (index == this.questions.length - 1) {
                        this.$router.push("/admin/themes");
                    } else {
                        this.indexQuestion = this.indexQuestion + 1;
                        this.addQuestion(this.indexQuestion);
                    }
                }
            });
        },

        clickinput(answerIndex) {
            //   console.log(answerIndex, "loglarku");
            //   this.questions.answer.forEach(answer => {
            //     answer.isTrue = false;
            //   });
            this.questions.answer[answerIndex].isTrue = true;
        },
        addNewAnswer() {
            this.questions.answer = [
                ...this.questions.answer,
                {
                    answer: "",
                    isTrue: false
                }
            ];
        },
        substructThisAnswer(index) {
            this.questions.answer.splice(index, 1);
        },

        substructThisQuestion(i) {
            this.questions.splice(i, 1);
        },
        async create() {
            //   if (this.questions[0].question.uz.length == 0) {
            //     return this.$toast.error("Savol(Uz)ni kiriting!!!");
            //   }
            //   if (this.questions[0].question.ru.length == 0) {
            //     return this.$toast.error("Savol(Ru)ni kiriting!!!");
            //   }
            //   if (this.questions[0].question.cy.length == 0) {
            //     return this.$toast.error("Savol(Kr)ni kiriting!!!");
            //   }

            //   if (this.questions[0].answer[0].answer.uz.length == 0) {
            //     return this.$toast.error("Javob(Uz)ni kiriting!!!");
            //   }
            //   if (this.questions[0].answer[0].answer.ru.length == 0) {
            //     return this.$toast.error("Javob(Ru)ni kiriting!!!");
            //   }
            //   if (this.questions[0].answer[0].answer.cy.length == 0) {
            //     return this.$toast.error("Javob(Kr)ni kiriting!!!");
            //   }

            //   if (this.questions[0].answer[1].answer.uz.length == 0) {
            //     return this.$toast.error("Javob(Uz)ni kiriting!!!");
            //   }
            //   if (this.questions[0].answer[1].answer.ru.length == 0) {
            //     return this.$toast.error("Javob(Ru)ni kiriting!!!");
            //   }
            //   if (this.questions[0].answer[1].answer.cy.length == 0) {
            //     return this.$toast.error("Javob(Kr)ni kiriting!!!");
            //   }

            //   this.questions.forEach(item => {
            //     item.theme = this.$route.params.id;
            //   });
            console.log("questions", this.questions);
            await this.$axios
                .$put(
                    "/quiz-question/update/" + this.$route.params.id,
                    this.questions
                )
                .then(res => {
                    this.$router.push({
                        name: "test-testing-id",
                        params: { id: this.$route.query.theme }
                    });
                    console.log("id", this.$route.params.id);
                });

            const data = {
                questions: this.questions,
                theme: this.themeId
            };
        }
    }
};
</script>

<style lang="scss">
.addquesbtn {
    color: #fff !important;
    background: #5b73e8 !important;
    margin-right: 20px !important;
    padding: 10px 20px !important;
    text-transform: capitalize;
}
.addanswerbtn {
    background: #79ce39 !important;
    color: #fff !important;
}
.ques-div {
    border: 1px solid #3a65df;
    padding: 20px;
    border-radius: 12px;
}
.comon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        opacity: 0;
    }
}
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .otmen {
        background-color: #666666;
        margin-right: 20px;
    }
    button {
        padding: 10px 20px;
        color: #fff;

        &:last-child {
            background-color: #5b73e8;
        }
    }
}
.tab {
    margin-top: 30px;
    width: 410px;
    ul {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        padding-left: 0 !important;
        button {
            padding: 10px 20px;
            transition: 0s !important;
            cursor: pointer;
            background: transparent;
            border: 0;
            position: relative;
            font-weight: 500;
            border-radius: 0 !important;
            font-size: 20px;
            line-height: 26px;

            color: #666666;
            // &:first-child {
            //   padding-left: 0;
            // }
        }
    }
}

.tab-active {
    color: #fff !important;
    background: #5b73e8 !important;
}
.v-date-picker-table .v-btn {
    color: #c9c9c9;
}
.dictionary-textarea {
    width: 100%;
    outline: none;
    background: #f4f4f4;
}
.delete {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 18px;
    margin: 0 auto;
    div {
        margin-top: 20px;
        display: flex;
    }
}

thead {
    .text-start {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b0b7ce;
    }
}
.text-start {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}

.v-btn--is-elevated {
    box-shadow: none !important;
}

.form {
    .rasm {
        button.choose {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            background: #fafbff;
            border: 3px dashed #cddbff;
            box-sizing: border-box;
            border-radius: 8px;
            svg {
                margin-bottom: 10px;
            }
        }
    }
}
</style>
