<template>
  <div style="height: 100vh; background-color: #f5f6f8">
    <div class="row my-4 mx-2">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body" v-if="problem != null">
            <div class="card-el">
              <h4 class="card-title ">Huquqiy adabiyotlar</h4>

              <div class="right">
                <div class="search">
                  <input type="search" placeholder="Izlash..." />
                </div>
                <div>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option value="1"
                      >Bog’cha tarbiyalanuvchilari uchun huquqiy
                      qo’llanmalar</option
                    >
                    <option value="2"
                      >Maktab o’quvchilari uchun huquqiy qo’llanmalar</option
                    >
                    <option value="3"
                      >Maktab o’qituvchilari uchun huquqiy qo’llanmalar</option
                    >
                  </select>
                </div>

                <nuxt-link
                  class="btn-add btn btn-primary  mx-4"
                  to="/users/add-user"
                  >Huquqiy adabiyotlar qo'shish</nuxt-link
                >
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0">
                <thead class="table-light">
                  <tr>
                    <th>Sarlavha</th>
                    <th>Qo'shilgan vaqti</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody v-for="item in problem" :key="item.id">
                  <tr>
                    <td>
                      {{ item.name.uz }}
                    </td>

                    <td>
                      {{ dateFormat(item.createdAt) }}
                    </td>

                    <td>
                      <button class="action-btn">
                        <i class="material-icons">edit</i>
                      </button>

                      <button
                        @click="event => removeUser(event, user.userId)"
                        class="action-btn"
                      >
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dateformat from "dateformat";
export default {
  name: "User",
  data: () => ({
    problem: null
  }),
  methods: {
    dateFormat(date) {
      let date1 = dateformat(date, "isoDate");
      date1 = date1.split("-").reverse();
      date1 = date1.join(".");
      return date1;
    }
  },
  async mounted() {
    let problem = await this.$axios.$get("/problem-theme/all/1");
    this.problem = problem.data;
    console.log("problem", this.problem);
  }
};
</script>

<style lang="scss">
.card-el {
  margin-bottom: 20px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search {
    margin-right: 20px;
    input {
      height: 34px;
      border: 1px solid #999991;
      border-radius: 5px;
      padding: 10px;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
tbody {
  .action-btn {
    i {
      padding: 3px !important;
      border-radius: 5px;
      padding-bottom: 0;
    }
  }
  .action-btn:first-child {
    margin-right: 5px;
    i {
      background-color: blue;
      color: #fff;
      // background: ;
    }
  }
  .action-btn:last-child {
    i {
      background-color: #ebd7d7;
      color: red;
    }
  }
  td {
    img {
      width: 80px;
      height: 60px;
    }
    p {
      margin: 0 !important;
    }
  }
  td:last-child {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 30px 0;
    // padding-right: 0;
  }
}

.buttons {
  margin-left: 10px;
}
.card-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
