<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-el">
                            <h4 class="card-title ">
                                Huquqiy muammolar yechimi
                            </h4>
                        </div>
                        <div class="problems">
                            <nuxt-link
                                class="title"
                                v-for="pro in categories"
                                :key="pro"
                                :to="{
                                    name: 'problems-one',
                                    query: { param: pro.num }
                                }"
                            >
                                <div>
                                    <h4>{{ pro.name.uz }}</h4>
                                </div>
                            </nuxt-link>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    name: "User",
    head() {
        return {
            title: "Huquqiy muammolar yechimi | Boshqaruv markazi",
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        news: null,
        categories: null,
        ProblemsCategory: [
            {
                id: 1,
                name: "Mehnat munosabatlari"
            },
            {
                id: 2,
                name: "Oilaviy Munosabatlar"
            },
            {
                id: 3,
                name: "Uy joy va kommunal masalalar"
            },
            {
                id: 4,
                name: "Fuqarolik/Migratsiya"
            },
            {
                id: 5,
                name: "Sog‘liqni saqlash"
            },
            {
                id: 6,
                name: "Ijtimoiy himoya"
            },
            {
                id: 7,
                name: "Ta'lim"
            },
            {
                id: 8,
                name: "Sud-huquq masalalari"
            },
            {
                id: 9,
                name: "Yer masalalari"
            },
            {
                id: 10,
                name: "Tadbirkorlik"
            },
            {
                id: 11,
                name: "Soliqlar"
            },
            {
                id: 12,
                name: "Bank sohasi"
            },
            {
                id: 13,
                name: "Davlat xizmatlari"
            },
            {
                id: 14,
                name: "Transport"
            },
            {
                id: 15,
                name: "Iste'molchi huquqi"
            },
            {
                id: 16,
                name: "Chet elliklarga eslatma"
            },
            {
                id: 17,
                name: "Qishloq xo‘jaligi"
            },
            {
                id: 18,
                name: "Ma'lumotlar"
            }
        ]
    }),
    methods: {
        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        }
    },
    async mounted() {
        let categories = await this.$axios.$get("/menu/all");
        this.categories = categories.data;
        console.log("categories", this.categories);
    }
};
</script>

<style lang="scss">
.card-el {
    margin-bottom: 20px;
}
.problems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .title {
        width: calc((100% - 30px) / 3);
        margin-bottom: 20px;
        border: 1px solid #c6c6c6;
        padding: 20px;
        border-radius: 10px;
        h4 {
            font-size: 18px;
            margin-bottom: 0;
        }
        &:hover {
            background: #5b73e8;
            cursor: pointer;
            h4 {
                color: #fff !important;
            }
        }
    }
}
tbody {
    .action-btn {
        i {
            padding: 3px !important;
            border-radius: 5px;
            padding-bottom: 0;
        }
    }
    .action-btn:first-child {
        margin-right: 5px;
        i {
            background-color: blue;
            color: #fff;
            // background: ;
        }
    }
    .action-btn:last-child {
        i {
            background-color: #ebd7d7;
            color: red;
        }
    }
    td {
        img {
            width: 80px;
            height: 60px;
        }
        p {
            margin: 0 !important;
        }
    }
    td:last-child {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding: 30px 0;
        // padding-right: 0;
    }
}

.buttons {
    margin-left: 10px;
}
.card-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
