<template>
    <div style="height: 100vh; background-color: #f5f6f8">
        <div class="row my-4 mx-2">
            <div class="col-lg-12 pro-one">
                <div :class="isModal ? 'fixvh block-fh' : 'fixvh'"></div>
                <div :class="isModal ? 'my-modal open-modal' : 'my-modal'">
                    <div class="deleted p-4 ">
                        <h2>Maqola qo'shish</h2>
                        <p class="mt-3">Til</p>
                        <select
                            class="form-select"
                            v-model="theme.lang"
                            aria-placeholder="Select Lesson"
                        >
                            <option value="uz">
                                Lotincha
                            </option>
                            <option value="cy">
                                Krilcha
                            </option>
                            <option value="ru">
                                Ruscha
                            </option>
                        </select>

                        <p>Mavzu nomi</p>
                        <input
                            class="form-control"
                            v-model="theme.name"
                            type="text"
                        />

                        <div class="btns">
                            <button class="btn" @click="closeModal">
                                Bekor qilish
                            </button>
                            <button class="btn" @click="createTheme">
                                Qo'shish
                            </button>
                        </div>
                    </div>
                </div>
                <div :class="isModalName ? 'fixvh block-fh' : 'fixvh'"></div>
                <div :class="isModalName ? 'my-modal open-modal' : 'my-modal'">
                    <div class="deleted p-4 " v-if="menu != null">
                        <h2>O'zgartirish</h2>

                        <p>Mavzu nomi(uz)</p>
                        <input
                            class="form-control"
                            v-model="menu.name.uz"
                            type="text"
                        />
                        <p>Mavzu nomi(ru)</p>
                        <input
                            class="form-control"
                            v-model="menu.name.ru"
                            type="text"
                        />
                        <p>Mavzu nomi(cy)</p>
                        <input
                            class="form-control"
                            v-model="menu.name.cy"
                            type="text"
                        />

                        <div class="btns">
                            <button class="btn" @click="closeModalName">
                                Bekor qilish
                            </button>
                            <button class="btn" @click="updateTheme">
                                Qo'shish
                            </button>
                        </div>
                    </div>
                </div>
                <div :class="isModalEdit ? 'fixvh block-fh' : 'fixvh'"></div>
                <div
                    v-if="isModalEdit"
                    :class="isModalEdit ? 'my-modal open-modal' : 'my-modal'"
                >
                    <div class="deleted p-4 ">
                        <h2>Maqola qo'shish</h2>
                        <p class="mt-3">Til</p>
                        <select
                            class="form-select"
                            v-model="themeEdit.lang"
                            aria-placeholder="Select Lesson"
                        >
                            <option value="uz">
                                Lotincha
                            </option>
                            <option value="cy">
                                Krilcha
                            </option>
                            <option value="ru">
                                Ruscha
                            </option>
                        </select>

                        <p>Mavzu nomi</p>
                        <input
                            class="form-control"
                            v-model="themeEdit.name"
                            type="text"
                        />

                        <div class="btns">
                            <button class="btn" @click="closeModalEdit">
                                Bekor qilish
                            </button>
                            <button class="btn" @click="createThemeEdit">
                                Qo'shish
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <Delete
                        @deleteRequest="deleteRequest"
                        @closeDelete="closeDelete"
                        :isDelete="isDelete"
                    />
                    <div class="card-body" v-if="problem != null">
                        <div class="card-el">
                            <div class="d-flex edd">
                                <h4 class="card-title ">{{ menu.name.uz }}</h4>
                                <button class="" @click="openModalName">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>

                            <div class="right">
                                <!-- <div class="input-search-z">
                                    <input
                                        v-model="search"
                                        type="search"
                                        placeholder="Izlash..."
                                    />
                                    <button @click="clickSearch">
                                        <fa class="icon" icon="search" />
                                    </button>
                                </div> -->
                                <div>
                                    <button
                                        @click="openModal"
                                        class="btn-add btn btn-primary mx-3"
                                    >
                                        Mavzu qo'shish
                                    </button>
                                </div>

                                <nuxt-link
                                    class="btn-add btn btn-primary"
                                    :to="{
                                        name: 'problems-question',
                                        query: { param: $route.query.param }
                                    }"
                                >
                                    Savol-javob</nuxt-link
                                >
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table table-centered table-nowrap mb-0"
                            >
                                <thead class="table-light">
                                    <tr>
                                        <th>Sarlavha</th>
                                        <th>Til</th>

                                        <th>Qo'shilgan vaqti</th>

                                        <th style="width: 190px;"></th>
                                    </tr>
                                </thead>
                                <tbody v-for="item in problem" :key="item">
                                    <tr>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            <!-- {{ item.lang }} -->
                                            <p v-if="item.lang == 'uz'">
                                                Lotin
                                            </p>
                                            <p v-if="item.lang == 'cy'">
                                                Krill
                                            </p>
                                            <p v-if="item.lang == 'ru'">Rus</p>
                                        </td>
                                        <td>
                                            {{ dateFormat(item.createdAt) }}
                                        </td>

                                        <td>
                                            <nuxt-link
                                                :to="{
                                                    name: 'problems-maqola-id',
                                                    params: { id: item._id }
                                                }"
                                                class="action-btn maqola pad"
                                            >
                                                Maqola
                                            </nuxt-link>
                                            <button
                                                class="action-btn"
                                                @click="openModalEdit(item)"
                                            >
                                                <i class="material-icons"
                                                    >edit</i
                                                >
                                            </button>

                                            <button
                                                class="action-btn"
                                                @click="openDelete(item._id)"
                                            >
                                                <i class="material-icons"
                                                    >delete</i
                                                >
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="notfound" v-if="problem.length == 0">
                                <p>Malumotlar mavjud emas</p>
                            </div>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateformat from "dateformat";
export default {
    head() {
        return {
            title: `${this.$route.query.id} | Boshqaruv markazi`,
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: "description",
                    name: "description",
                    content: "My custom description"
                }
            ]
        };
    },
    data: () => ({
        search: "",
        menu: null,
        problem: null,
        isModal: false,
        isModalName: false,
        isModalEdit: false,
        isDelete: false,
        editid: "",
        theme: {
            lang: "uz",
            catalog: 0,
            name: ""
        },
        themeEdit: {
            catalog: 0,
            name: {
                uz: "",
                ru: "",
                cy: ""
            }
        }
    }),
    methods: {
        async clickSearch() {
            this.page = 1;

            let news = await this.$axios.$get(
                `problem/search?text=${this.search}`
            );
            this.news = news.data;
            this.count = Math.ceil(news.count / this.limit);
        },

        dateFormat(date) {
            let date1 = dateformat(date, "isoDate");
            date1 = date1.split("-").reverse();
            date1 = date1.join(".");
            return date1;
        },
        openDelete(id) {
            console.log(id);
            this.isDelete = true;
            this.id = id;
        },
        closeDelete() {
            this.isDelete = false;
        },
        async deleteRequest() {
            this.isDelete = false;
            this.$axios
                .$delete("/problem-theme/delete/" + this.id)
                .then(async res => {
                    let problem = await this.$axios.$get(
                        "/problem-theme/all/" + this.$route.query.param
                    );
                    this.problem = problem.data;
                    console.log(res);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        openModal() {
            this.isModal = true;
        },
        closeModal() {
            this.isModal = false;
        },
        openModalName() {
            this.isModalName = true;
        },
        closeModalName() {
            this.isModalName = false;
        },
        openModalEdit(item) {
            this.themeEdit.lang = item.lang;
            this.themeEdit.name = item.name;
            this.isModalEdit = true;
            this.editid = item._id;
        },
        closeModalEdit() {
            this.isModalEdit = false;
        },
        EditTheme() {
            this.isModal = false;
        },
        async updateTheme() {
            await this.$axios
                .$put("/menu/" + this.menu._id, this.menu)
                .then(async res => {
                    let menu = await this.$axios.$get(
                        "/menu/" + this.$route.query.param
                    );
                    this.menu = menu.data;
                    this.isModalName = false;

                    console.log("ok", this.problem);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        async createThemeEdit() {
            this.themeEdit.catalog = this.$route.query.param;
            // if (this.themeEdit.name.uz.length == 0) {
            //   return this.$toast.error("Maqola(O'z)ni kiriting!!!");
            // }

            // if (this.themeEdit.name.ru.length == 0) {
            //   return this.$toast.error("Maqola(Ru)ni kiriting!!!");
            // }

            // if (this.themeEdit.name.cy.length == 0) {
            //   return this.$toast.error("Maqola(Kr)ni kiriting!!!");
            // }
            this.$toast.success("Maqola yangilandi");

            await this.$axios
                .$put("/problem-theme/update/" + this.editid, this.themeEdit)
                .then(async res => {
                    let pro = await this.$axios.$get(
                        "/problem-theme/all/" + this.$route.query.param
                    );
                    this.problem = pro.data;
                    this.isModalEdit = false;

                    console.log("ok", this.problem);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        async createTheme() {
            this.theme.catalog = this.$route.query.param;
            // if (this.theme.name.uz.length == 0) {
            //   return this.$toast.error("Maqola(O'z)ni kiriting!!!");
            // }

            // if (this.theme.name.ru.length == 0) {
            //   return this.$toast.error("Maqola(Ru)ni kiriting!!!");
            // }

            // if (this.theme.name.cy.length == 0) {
            //   return this.$toast.error("Maqola(Kr)ni kiriting!!!");
            // }
            this.$toast.success("Maqola qo'shildi");
            await this.$axios
                .$post("/problem-theme/add", this.theme)
                .then(async res => {
                    let cat = this.$route.query.param;
                    let pro = await this.$axios.$get(
                        "/problem-theme/all/" + this.$route.query.param
                    );

                    this.theme.lang = "uz";
                    this.theme.name = "";

                    this.problem = pro.data;
                    this.isModal = false;
                    console.log("ok", this.problem);
                })
                .catch(err => {
                    console.log(err);
                });
        }
    },
    async mounted() {
        let menu = await this.$axios.$get("/menu/" + this.$route.query.param);
        this.menu = menu.data;
        console.log("menu", menu);

        let problem = await this.$axios.$get(
            "/problem-theme/all/" + this.$route.query.param
        );
        this.problem = problem.data;
        console.log("problem", this.problem);
    }
};
</script>

<style lang="scss">
.pro-one {
    .edd {
        display: flex;
        align-items: center;
        button {
            margin-left: 10px;
        }
    }
    .btns {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
            padding: 10px 20px;
            color: #fff;
            &:first-child {
                background-color: #666666;
                margin-right: 20px;
            }
            &:last-child {
                background-color: #5b73e8;
            }
        }
    }
    .card-el {
        margin-bottom: 20px;
    }
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search {
            margin-right: 20px;
            input {
                height: 34px;
                border: 1px solid #999991;
                border-radius: 5px;
                padding: 10px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
    tbody {
        .action-btn {
            margin-top: 5px;
            i {
                padding: 3px !important;
                border-radius: 5px;
                padding-bottom: 0;
            }
        }
        .action-btn:first-child {
            margin-right: 5px;
            i {
                background-color: blue;
                color: #fff;
                // background: ;
            }
        }
        .action-btn:last-child {
            i {
                background-color: #ebd7d7;
                color: red;
            }
        }
        td {
            img {
                width: 80px;
                height: 60px;
            }
            p {
                margin: 0 !important;
            }
        }
        td:last-child {
            display: flex;
            justify-content: center !important;
            align-items: center;
            padding: 0px 0 !important;
            // padding-right: 0;
            a {
                background: #4c4ce9;
                padding: 5px 10px;
                border-radius: 5px;
                color: #fff;
                margin-right: 10px;
            }
        }
    }

    .buttons {
        margin-left: 10px;
    }
    .card-el {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.my-modal {
        background-color: #fff;
        border-radius: 10px;
        padding: 0px 0px;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 520px;
        transform: translate(-50%, -50%) scale(0);
        z-index: 2515;
        transition: 0.3s;
        p {
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 6px;
        }
    }
    div.fixvh {
        position: fixed;
        z-index: 201;
        top: 0;
        width: 100%;
        height: 100vh;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: none;
    }
    div.my-modal {
        background-color: #fff;
        border-radius: 10px;
        padding: 0px 0px;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 600px;
        transform: translate(-50%, -50%) scale(0);
        z-index: 215;
        transition: 0.3s;
    }

    .block-fh {
        display: block !important;
    }
    .open-modal {
        transform: translate(-50%, -50%) scale(1) !important;
    }
}
</style>
